.red.THIS {
    background-color: #ffe6e6;
}
.THIS H1{
    color: #003cb3;
    font-size:14px;
}
.THIS  span.slds-form-element__label{
   display: none !important;
}

.THIS slds-card{
    background : var(--lwc-cardColorBackground,rgb(255,230,230));
}