/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS.pagination{
    clear:both!important;
    text-align: center!important;
}
.THIS .errorDiv .uiInputDefaultError .form-element__help{font-size:16px;color:#fff!important;}
.THIS .w100{width:100%!important;display:block!important}