.THIS.slds-fade-in-open {
    background: rgba(0, 0, 0, .62)
}
@media only screen and (max-width: 47.9375em) {
    .THIS
    {
        display: none;
    }
  
}

@media (min-width: 48em) {
    .THIS .slds-modal__container {
        min-width: 50rem;
        max-width: 65%
    }
    .THIS .welcomeContainer h1{
        font-weight: 700;
        color: #000 !important;
        text-align: left;
    }
    .THIS .welcomeContainer h4,
    .THIS .welcomeContainer p {
        text-align: left;
    }
    .THIS .topicWrapper{
        padding-left: 8rem;
    }
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .topicWrapper h3{
    padding: .5rem 1rem;
    font-weight: 500;
    color: #006e8a;
}
.THIS .slds-modal__container .slds-modal__header {
    padding: 0 4rem 2rem 4rem;
    background: #F0F0F0
}

.THIS .slds-modal__container .slds-modal__header h2 {
    font-size: 1rem;
    text-align: left;
    color: #000;
    padding-top: 4rem;
}

.THIS .slds-modal__container .slds-modal__header .slds-modal__close {
    top: .5rem;
    right: .5rem;
    color: #000;
    border-radius: 50%;
    background: #fafafa
}

.THIS .slds-modal__container .slds-modal__header .slds-progress {
    max-width: 100%
}

.THIS .slds-modal__container .slds-modal__header .slds-progress .slds-progress-bar {
    height: .175rem
}

.THIS .slds-modal__container .slds-modal__header .slds-progress__list > span {
    font-size: 1rem
}

.THIS .slds-modal__container .slds-modal__header .slds-progress__item.slds-is-completed .slds-progress__marker, .THIS .slds-modal__container .slds-modal__header .slds-progress__item.slds-is-completed .slds-progress__marker_icon {
    border-color: #008BAB
}

.THIS .slds-modal__container .slds-modal__header .slds-progress__item.slds-is-active .slds-progress__marker {
    border-color: #008BAB;
    box-shadow: none
}

.THIS .slds-modal__container .slds-modal__header .slds-progress__item:nth-child(13) .slds-progress__marker {
    border-radius: 0
}

.THIS .slds-modal__container .slds-modal__header .slds-progress__marker_icon {
    line-height: 0;
    color: #008BAB
}

.THIS .slds-modal__container .slds-modal__header .lightningProgressIndicator .slds-popover_tooltip {
    display: none
}

.THIS .slds-modal__container .slds-modal__header .slds-progress-bar__value {
    background: #008BAB
}

@media (max-width: 48em) {
    .THIS .slds-modal__container .slds-modal__header .slds-progress .slds-progress-bar {
        display: none
    }
}

.THIS .slds-modal__container .slds-modal__content {
    padding: .5rem
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #01a5b5
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer p {
    font-size: .875rem
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: #333
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer h3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #000
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-button {
    font-size: 1rem;
    padding: .5rem 2rem;
    border: #006E8A;
    background: #006E8A;
    float: right;
    border-radius: 2px;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-button_brand .slds-button__icon_left{
    float: right;
    width: 1.5rem;
    height: 2rem;
    padding-left: .5rem;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-button.slds-button_neutral {
    font-size: 1rem;
    border: none;
    background: none;
    padding: 0 0;
    color: #006E8A;
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-button.slds-button_neutral:focus {
    color: transparent;
    box-shadow: none
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .ColorBlue {
    font-size: .75rem;
    min-width: 120px;
    padding: .25rem 1.25rem;
    color: #006E8A;
    border: 1px solid #006E8A;
    background: transparent;
    float: left;

}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .ColorBlue:active,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .ColorBlue:hover {
    color: #fafafa;
    border: 1px solid #006E8A;
    background: #006E8A
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-card {
    min-height: 160px;
    padding: 1rem;
    border: 1px solid #ccc
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .profileName {
    display: inline-block
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .profileBusiness{
    display: inline-block
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .required{
    visibility: hidden;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-required{
    display: none;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-form-element__label{
    font-size: .875rem;
    font-weight: 300;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .uiLabel,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .slds-form-element__label{
    font-size: .875rem;
    font-weight: 700;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .profileIndustry {
    display: inline-block
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .input-small,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .medium-input{
    text-align: left
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .input-small::placeholder{
    font-weight: 200;
    font-size: .825rem;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .medium-input{
    display: grid
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .input-small .slds-input,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .input-small.select,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .slds-select{
    width: 320px;
    padding: .25rem .5rem;
    font-weight: 200;
    font-size: 1rem;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .medium-input.select,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .medium-input.inputSelect,
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .inputWrapper .slds-select{
    width: 320px;
    padding: .25rem .5rem;
    height: 40px;
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList {
    display: flex;
    padding: .5rem 0;
}
.THIS .slds-modal__container .slds-modal__content .groupsWrapper .followList {
    float: left;
}
.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList > span {
    font-size: .725rem;
    font-weight: 400;
    margin-top: .5rem;
    padding: 0 .5rem;
    white-space: pre
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList .slds-button_neutral {
    font-size: .75rem;
    border: 1px solid #006E8A
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList .slds-button_neutral.following {
    color: #fff;
    background: #006E8A
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList .slds-button_neutral.follow {
    color: #01a5b1;
    background: none
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList .follow:hover {
    color: #fff;
    background: #006E8A
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .notificationBox {
    display: flex;
    margin: 1rem 3rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    background: #ebebeb
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .notificationBox p {
    font-size: .75rem;
    font-style: italic;
    padding: 0 2rem;
    text-align: left
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .notificationBox .slds-icon {
    width: 1.5rem;
    height: 2rem;
    fill: #008BAB
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .notificationButtons {
    display: inline-flex;
    padding: 1rem
}

.THIS .slds-modal__container .slds-modal__content .welcomeContainer .notificationButtons .slds-form-element__label {
    font-size: 1rem
}

.THIS .slds-modal__container .slds-modal__content .groupsWrapper .followList {
    display: inline-block;
}
.THIS .slds-modal__container .slds-modal__content .groupsWrapper .followList .slds-button{
    margin: 1rem 0;
}

.THIS .slds-modal__container .slds-modal__content .doneContainer .slds-card {
    line-height: 3rem;
    min-height: 80px;
    padding: 1rem;
    text-align: left
}

.THIS .slds-modal__container .slds-modal__content .doneContainer .slds-card h1 {
    font-size: 1.1rem;
    font-weight: 200
}

.THIS .slds-modal__container .slds-modal__content .doneContainer .slds-card h1 a {
    font-weight: 400
}

.THIS .slds-modal__container .slds-modal__content .doneContainer .slds-card h1 a:hover {
    text-decoration: none
}

.THIS .slds-modal__container .slds-modal__content .doneContainer .slds-card .slds-icon {
    fill: #008BAB
}
.THIS .welcomeText p{
    padding-top: 1.5rem;
    text-align: center;
}
.THIS .welcomeHeaderText p{
    text-align: left;
    padding: 1rem 0;
}
@media (min-width: 48em) {
    .THIS .slds-modal__container .profileName {
        display: flex !important;
    }
    .THIS .slds-modal__container .profileBusiness{
        display: flex !important;
    }
    .THIS .slds-modal__container .profileIndustry {
        display: flex !important;
    }
  .THIS .slds-modal__container .slds-progress__list > span {
        font-size: .9rem;
        margin-top: 3rem;

    }
  .THIS .profileTile {
      background: #fff;
  }
    .THIS .profileTile .normal{
        padding: 4px 10px;
        background: rgba(101, 137, 143, .6);
        font-size: 1rem;
        color: #fff;
        border-radius: 50%;
  }
    .THIS .profileTile .slds-button_neutral{
        font-size: 1rem;
        padding: 0 .5rem;
        border: none;
        background: none;
    }
    .THIS .profileTile .nonCheckboxDiv{
        margin-left: 2rem;
    }
    .THIS .profileTile p{
        font-size: .75rem;
    }
    /*
       .THIS .slds-progress__item
       {
           width: 100%;
       }
       .THIS .slds-modal__container .slds-progress__list > span.welcome {
           padding-left: 8px;
           margin-left: -23rem;
           margin-right: 5.5rem;
   }
       .THIS .slds-modal__container .slds-progress__list > span.profile {
           padding-left: 0;
           margin-left: -25rem;
           margin-right: 5rem;
       }

       .THIS .slds-modal__container .slds-progress__list > span.groups {
           padding-left: 0;
           margin-left: -24rem;
           margin-right: -6rem;
       }

       .THIS .slds-modal__container .slds-progress__list > span.topics {
           padding-left: 0;
           margin-left: -24rem;
           margin-right: 5rem;
       }*/
    .THIS .welcomeWrapper {
        max-width: 700px;
    }
    .THIS .welcomeWrapper .business{
        margin: 0 0 0 2rem;
    }
    .THIS .welcomeWrapper img{
        max-width: 220px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0px 1px 1px 1px rgba(204, 204, 204,0.5);
    }
    .THIS .welcomeWrapper .topics{
        margin: 0 -2rem;
    }

}

@media (max-width: 30em) {
    .THIS .slds-modal__container .slds-progress__list > span {
        font-size: .45rem
    }

    /*.THIS .slds-modal__container .slds-progress {
        max-width: 85%
    }*/

    .THIS .slds-modal__container .followList {
        display: inline-block;
        text-align: left
    }
}
.THIS .expertImg img {
    width: 95%;
    height: auto;
    border: 2px solid #efefef;
    border-radius: 50%;
}
.THIS .welcomeContainer .expertList h2,
.THIS .welcomeContainer .groupList h2 {
    text-align: left !important;
    font-size: 1.1rem !important;
    color: #008BAB !important;
}
.THIS .welcomeContainer .expertList h4{
    font-size: .8rem !important;
    font-weight: 700 !important;
    padding: .5rem 0;
}
.THIS .expertList,
.THIS .groupList{
    border-bottom: 1px solid #ccc;
}
.THIS .expertList{
    margin-top: 1rem;
}
.THIS .expertList:first-child{
    margin-top: 0;
}
.THIS .welcomeContainer .welcomeFooter p{
    text-align: left;
}
@media (max-width: 48em){
    .THIS .slds-progress__list {
        display: inline-grid;
    }
    .THIS .slds-progress__item {
        display: inline;
    }
    .THIS .welcomeContainer{
        padding: .5rem;
        min-height: 24em;
    }
    .THIS .slds-modal__container .slds-modal__header .slds-progress__list>span {
        font-size: 1rem;
        border-bottom: 1px solid rgba(204, 204, 204, 0.41);
        margin: .5rem 0;
    }
    .THIS .groupList, .THIS .expertList {
        text-align: left;
    }
    .THIS .slds-modal__container .slds-modal__content .welcomeContainer h1 {
        font-size: 1.4rem;
        text-align: left;
    }
    .THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList {
        display: block;
    }
    .THIS .slds-modal__container .slds-modal__content .welcomeContainer .followList .slds-button_neutral.following {
        padding: 0.2rem;
    }
}