/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS.featuredBox{
    border:1px solid #A7B8D1;
    border-radius: 2px;
    padding: 20px;
}
.THIS .lSSlide{
    flex-wrap:nowrap;
}
.THIS .lSSlide .groupContainer{
    display: table-cell;
}