.THIS .slds-box_border
{
    background: #fff;
}
.THIS .slds-button_neutral {
    font-size: 1rem;
    padding: 0 .5rem;
    border: none;
    background: none
}

.THIS .slds-button_neutral:focus {
    color: transparent;
    box-shadow: none
}

.THIS .slds-icon {
    width: 1.25rem;
    height: 1.25rem
}

.THIS span.normal {
    padding: 3px 10px;
    background: #eee
}

.THIS span.active, .THIS span.normal {
    font-size: 1rem;
    color: #fff;
    border-radius: 50%
}

.THIS span.active {
    padding: 4px 10px;
    background: rgba(101, 137, 143, .6)
}

.THIS .nonCheckboxDiv {
    margin-left: 2.1rem
}

.THIS p {
    font-size: .75rem
}