/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-card {
  padding: 2rem;
  border: 8px solid #fff;
  border-radius: 0;
  background: #eee;
}
.THIS .slds-card h3,
.THIS .slds-card a {
  font-size: .875rem;
  font-weight: bold;
}
.THIS .slds-card p {
  font-size: .875rem;
  padding: .5rem 0;
}