/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .featuredImage{
    overflow:hidden;
    margin:0 0 40px 0;
}

.THIS .featuredImage .image{
    height:400px;
    width:100%;
    background-size:cover;
    background-position:center center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.THIS .featuredImage .image{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.THIS .featuredImage[data-size=Half] .image{
    height:200px;
}

.THIS .featuredImage[data-size=None]{
    display:none;
}

.THIS .textDetail{
    padding:0;
}

.THIS .textDetail p, .THIS .textDetail .uiOutputRichText{
    line-height:1.2;
}

.THIS .uiOutputRichText ol {
    list-style:decimal;
    padding-left:20px;
    margin:20px;
}
.THIS .uiOutputRichText ul {
    list-style:disc;
	padding-left:20px;
    margin:20px;
}
.THIS .authorDetail-summary {
    background-color: #F4F4F4;
    box-shadow: 1px 2px 1px #efefef;
    padding: 1rem;
    margin-top: 1rem;
}
.THIS .authorDetail-summary h3{
    font-size: 1.3rem;
}
.THIS iframe { 
    width: 100%;
    height: 414px;
}