/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .newsContainer{
    margin-bottom: 30px;
}

.THIS .newsContainer.compact{
    margin-bottom: 20px;
}

.THIS .listView .featuredNews{
    border:0;
    border-bottom: token(borderWidthThin) solid token(colorBorder);
}

.THIS .listView .featuredNews .featuredImage{
    float: left;
    max-width: 225px;
    min-height: 150px;
    width: 100%;
    height: 75%;
    margin-right: 30px;
}

.THIS .listView .featuredNews .featuredImage .image{
    min-height:125px;
    height:100%;
}

.THIS .featuredNews{
    border: token(borderWidthThin) solid token(colorBorder);
    position: relative;
    height:100%;
}

.THIS .compact .featuredNews{
    border:0;
    border-bottom: token(borderWidthThin) solid token(colorBorder);
}

.THIS .featuredNews .featuredImage{
    overflow:hidden;
}

.THIS .featuredNews .featuredImage .image{
    height:180px;
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.THIS .featuredNews:hover .featuredImage .image{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.THIS .featuredNews .content{
    margin:20px;
}

.THIS .compact .featuredNews .content{
    margin:7px 0;
}

.THIS .featuredNews .content .topics .topic{
    display: inline-block;
    padding-right:7px;
    margin-right:7px;
    margin-bottom:7px;
    border-right:token(borderWidthThin) solid;
    line-height:1;
}
.THIS .featuredNews .content .topics .topic:last-of-type{
    border-right: none;
}

.THIS .tileView  .featuredNews .content .topic {
    display: inline;
}

.THIS .compact .featuredNews .content .topics{
    display:none;
}

.THIS .featuredNews .content .topic a{
    font-weight:bold;
    text-transform: uppercase;
    color: token(colorTextLabel);
}
.THIS .tileView .featuredNews  .content .topics {
    width: 100%;
}


.THIS .featuredNews .content .topics .topic:last-child{
    border-right:0;
}

.THIS .featuredNews .content .name{
    margin-bottom:30px;
}

.THIS .compact .featuredNews .content .name{
    margin-bottom:15px;
}

.THIS .featuredNews .content .name a{
    color:token(colorTextLabel);
}

.THIS .featuredNews .content .date{
    float:left;
}

.THIS .featuredNews .topics .ellipses {
    display: none;
}
.THIS .featuredNews .topics .ellipses.visible {
    position: absolute;
    right: 5px;
    top: 0;
    display: inline;
}

@media (min-width: 48em){
    .THIS .slds-medium-size--1-of-2, .THIS .slds-large-size--1-of-2{
        max-width:50%;
    }
}

@media (min-width: 64em){
    .THIS .slds-medium-size--1-of-3, .THIS .slds-large-size--1-of-3{
        max-width:33.33333%;
    }
}

@media (max-width: 480px){
    .THIS .listView .featuredNews .featuredImage{
        max-width:480px;
    }
}

.THIS .commentCount{
    float:right;
}

.THIS .displyIconImage{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}