/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  padding: 40px;
  border: 1px solid transparent!important;
  border-left: 1px solid #d0d0d0!important;
}
.THIS .groupContainer a:hover,
.THIS .groupContainer a:active {
  text-decoration: none;
}
.THIS .groupContainer .featuredGroup {
  display: flex;
  border: none;
  align-items: center;
}
.THIS h2{
  text-transform: uppercase;
}
.THIS .groupContainer .featuredGroup .imageHeader {
  position: relative;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  margin-left: 0;
  border-radius: 50%;
}
.THIS .groupContainer .featuredGroup .imageHeader img.profile {
  position: relative;
  top: 0;
  left: 0;
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 500%;
  margin-left: 0;
  border: none;
  border-radius: 50%;
}
.THIS .groupContainer .featuredGroup .content {
  font-size: 1rem;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
}
.THIS footer a.slds-button--brand {
  display: inline-block;
}