.THIS table tbody td{
    border-right: 0.5px solid rgb(221,219,218);
}
.THIS th{
     border-right: 0.5px solid rgb(221,219,218);
}
.THIS .slds-form-element__icon{
    padding-top:0px;
}
.THIS .boldtext{
    font-weight: bold; 
    font-size:larger;
}