/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .eventContainer{
    margin-bottom: 30px;
}

.THIS .eventContainer.compact{
    margin-bottom: 20px;
}

.THIS .featuredEvent{
    border: token(borderWidthThin) solid token(colorBorder);
    position: relative;
    height:100%;
}

.THIS .compact .featuredEvent{
    border:0;
    border-bottom: token(borderWidthThin) solid token(colorBorder);
}

.THIS .featuredEvent .featuredImage{
    overflow:hidden;
    max-height: 225px;
    min-height: 225px;
    text-align: center;
}

.THIS .featuredEvent .featuredImage .image{
    height:180px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.THIS .eventImageLink {
    width: 100%;
    height: 100%;
    display: block;
}

.THIS .featuredEvent:hover .featuredImage .image{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.THIS .featuredEvent .content{
    margin:20px;
}

.THIS .compact .featuredEvent .content{
    margin:7px 0;
}

.THIS .compact .featuredEvent .content .topics{
    display:none;
}

.THIS .featuredEvent .content .topic{
    display: inline-block;
    padding-right:7px;
    margin-right:7px;
    margin-bottom:7px;
    border-right:token(borderWidthThin) solid;
}

.THIS .featuredEvent .content .topic a{
    font-weight:bold;
    text-transform: uppercase;
    color: token(colorTextLabel);
}

.THIS .featuredEvent .content .topics .topic:last-child{
    border-right:0;
}

.THIS .featuredEvent .content .name{
    margin-bottom:30px;
}

.THIS .featuredEvent  .content .name a{
    color:token(colorTextLabel);
}

.THIS .featuredEvent .content .time, .THIS .featuredEvent .content .date, .THIS .featuredEvent .content .location, .THIS .content .featuredEvent .attending{
    padding:5px 0;
}

.THIS .featuredEvent .content .location,.THIS .featuredEvent .content .attending{
    display:inline-block;
}

.THIS .featuredEvent .attending{
    float:right;
}

.THIS .featuredEvent .attending .displayIconImage{
    margin-right: 5px;
    height: 15px;
    margin-bottom: 3px;
}

@media (min-width: 48em){
    .THIS .slds-medium-size--1-of-2, .THIS .slds-large-size--1-of-2{
        max-width:50%;
    }
}

@media (min-width: 64em){
    .THIS .slds-medium-size--1-of-3, .THIS .slds-large-size--1-of-3{
        max-width:33.33333%;
    }
}