/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-mercer-connect {
  height: 90px;
  margin-top: 10px;
  padding-right: 40px;
  background: url(/resource/mercerPremier/images/mercer-connect@2x.png) no-repeat;
  background-size: 100% auto;
}