.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}
.THIS label.slds-form-element__label{
    display:none;
}

.THIS p .slds-form-element__label:before{    
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS .reqAcc:before{
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS .accountLookup > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > * > label { 
display: none !important; 
}