.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}

.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}

.THIS .generalsize {
    padding-right:50px;
    padding-bottom:20px;
}

@media only screen and (max-width:600px) {
    .THIS .slds-accordion__list-item{
        scroll-behavior : auto;
        overflow-x : auto;
        
    }
    
    .THIS .slds-accordion__section{
        width: 100%;
    }
    
    .THIS .generalsize{
        padding-bottom:20px;
    }
}

.THIS .salesPricerequired .slds-form-element__icon{
    padding-top:0px;
    padding-left:7px;
}

.THIS .salesPricerequired{
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .salesPricerequired:before{
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS p .slds-form-element__label{    
    display: none;
}

.THIS p .slds-form-element__icon{
    padding-top:0px;
    padding-left:7px;
    display:none;
}

.THIS .required:before{    
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS .openedfromvf{
    width:-webkit-fill-available;
}

.THIS .scrollWrapper{
    -webkit-overflow-scrolling: touch;
    width : 100vw;
    height : 100vh;
}

.THIS .slds-form-element_control{
    padding-left:0px;
}