.THIS .slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}

.THIS .slds-tabs_scoped__nav {  
    font-size:16px;
}

.THIS .slds-tabs_scoped__link {  
    padding-right:40px;
    padding-left:40px;
}

.THIS .LOB_fields_spacing_middle { 
    width:10%;
}

.THIS .LOB_fields_spacing_around {
    width:5% 
}

.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}

.THIS .helpTextStyle .slds-form-element__icon{
    padding-top:0px;
    padding-left:7px;
}

.THIS .salesPricerequired .slds-form-element__icon{
    padding-top:0px;
    padding-left:7px;
}

.THIS .helpTextStyle{
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .salesPricerequired{
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .salesPricerequired:before{
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS p .slds-form-element__label{    
    display: none;
}

.THIS p .slds-form-element__icon{
    padding-top:0px;
    padding-left:7px;
    display:none;
}

.THIS .required:before{    
        content: "*";
        color: rgb(194, 57, 52);
        float: left;
        padding-right:3px;
}

.THIS .addProductButtons{
    padding-bottom:15px;
}

@media only screen and (max-width:600px) {
    .THIS .addProductButtons{
        padding-bottom:15px;
        width:max-content;
    }
}

.THIS .addProductForm{
   
}

.THIS .helpTextGap .slds-form-element__label{
    display : none;
}


.THIS .openedfromvf{
    width : 100%;
}

.THIS .openedfromvf .slds-form-element_label{
    width : 100%;
}

.THIS .scrollWrapper{
    -webkit-overflow-scrolling: touch;
    width : 100vw;
    height : 100vh;
}

.THIS .slds-form-element_control{
        padding-left:0px;
}
.THIS  .slds-scope .label .slds-form-element__label {
   display: none !important;
}