/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .container {
  position: relative;
  width: 120px;
  min-width: 120px;
  height: 120px;
  border: 10px solid token(colorBorder);
  border-radius: 50%;
}
.THIS .container .slice {
  position: absolute;
  top: -10px;
  left: -10px;
  clip: rect(0em, 120px, 120px, 60px);
  width: 120px;
  height: 120px;
}
.THIS .container *,
.THIS .container *:before,
.THIS .container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.THIS .container.center {
  float: none;
  margin: 0 auto;
}
.THIS .container > div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.THIS .container > div span {
  font-size: 1.125rem;
  vertical-align: super;
}
.THIS .container > div p {
  font-size: .875rem;
  margin-top: -10px;
  margin-left: -10px;
}
.THIS .container.big {
  font-size: 1.25rem;
}
.THIS .container.medium {
  font-size: 2rem;
}
.THIS .container.small {
  font-size: .7rem;
}
.THIS .slice,
.THIS .container.p50plus .slice {
  clip: rect(auto, auto, auto, auto);
}
.THIS .pie,
.THIS .container .bar,
.THIS .fill,
.THIS .container.p50plus .fill {
  position: absolute;
  clip: rect(0px, 60px, 120px, 0);
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 10px solid token(colorBorder);
  border-radius: 50%;
}
.THIS .pie-fill,
.THIS .container.p50plus .bar:after,
.THIS .container.p50plus .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.THIS .legend {
  font-weight: bold;
  color: token(colorTextDefault);
}
.THIS .legend.big {
  font-size: 1.25rem;
}
.THIS .legend.medium {
  font-size: 1.0rem;
}
.THIS .legend.small {
  font-size: .7rem;
}