.THIS .slds-accordion__summary-heading  {
    background-color:#F3F2F2;
    padding:8px;
}


.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > .slds-form-element__control:before{
    content:'Primary Campaign Source';
    color: #3E3E3C;
    font-size: 12px;
    border-bottom:0px;
}
.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > .slds-form-element__control{
    
    padding-left: 0px;
}
.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > .slds-form-element__label{
    display:none !important;
}
.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > .slds-form-element__control > .slds-border_bottom {
	margin-left: 33%;
    width: 60%;
}

.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > * > * > * > .slds-form-element__control:before{
    content:'Primary Campaign Source';
    color: #3E3E3C;
    font-size: 12px;
    border-bottom:0px;
}
.THIS .record-form-spinner-holder > *:first-child > *:first-child > * > * > * > * > .slds-form-element__label{
    display:none !important;
}