/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.profilePage {
  margin-bottom: 40px;
  padding-left: 20px;
}
.THIS.profilePage .progress-header {
  padding-bottom: 10px;
}
.THIS.profilePage .cPeak_ProgressCircle {
  display: block;
}
.THIS.profilePage .container {
  width: 175px;
  min-width: 175px;
  height: 175px;
}
.THIS.profilePage .container .slice {
  clip: rect(0em, 175px, 175px, 87.5px);
  width: 175px;
  height: 175px;
}
.THIS.profilePage .pie,
.THIS.profilePage .container .bar,
.THIS.profilePage .fill,
.THIS.profilePage .container.p50plus .fill {
  position: absolute;
  clip: rect(0px, 87.5px, 175px, 0);
  width: 155px;
  height: 155px;
}