/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.card .card__content.card__content--event {
  border-color: #999;
}
.THIS.card .card__content.card__content--event .card__content__body {
  display: flex;
  flex-direction: column;
}
.THIS.card .card__content.card__content--event .card__content__image .card__content__image__topics {
  color: #fff;
  background-color: #999;
}
.THIS.card .card__content.card__content--event .eventInfo {
  display: flex;
  flex-direction: column;
  margin: token(spacingMedium) 0 0;
  flex: 1;
  align-content: flex-end;
  justify-content: flex-end;
}
.THIS.card .card__content.card__content--event .eventInfo > div {
  font-size: .875rem;
}
.THIS.card .card__content.card__content--event .eventInfo .attending {
  padding-right: 0;
}
.THIS.card .card__content.card__content--event .eventInfo .attending > img {
  height: 15px;
  margin-right: 5px;
  margin-bottom: 3px;
}