/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.featuredBanner {
  background-position: bottom;
}
.THIS h1 {
  font-size: 36px;
  font-weight: 600;
  padding: .75rem 0;
}
.THIS h1:after {
  width: 80px;
  content: '';
  border-bottom: 1px solid #0d71bb;
}
.THIS h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: .5rem 0;
  text-transform: uppercase;
}
.THIS h3 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: .5rem 0;
  text-transform: uppercase;
}
.THIS h4 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: .75rem 0;
  text-transform: capitalize;
}
.THIS p {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
}
.THIS h1,
.THIS h2,
.THIS h3,
.THIS h4,
.THIS p {
  color: #fff;
}
.THIS .bannerRight {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.42);
}
.THIS hr {
  width: 25%;
  height: 2px;
  margin: .75rem 0 1.125rem;
  border: 0;
  background-color: #00a8cc;
}
@media (min-width: 48em) {
  .THIS .bannerLeft div {
    width: 90%;
  }
}
.THIS a:hover {
  text-decoration: none;
}
@media (max-width: 48em) {
  .THIS {
    height: 100% !important;
  }
  .THIS .bannerLeft {
    padding: 0 1rem;
  }
}