/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-insights-news-1 .slick-slide {
  margin-bottom: 0 !important;
}
.THIS .mp-insights-news-1 .card.card--noFooter {
  padding-bottom: 0 !important;
}
.THIS .mp-insights-news-1 .card.card-content {
  margin-bottom: 0 !important;
}
.THIS .mp-insights-news-2 .slick-slide {
  margin-top: 0 !important;
}
.THIS .mp-insights-news-2 .card.card--noHeader {
  padding-top: 0 !important;
}
.THIS .mp-insights-news-2 .card.card-content {
  margin-top: 0 !important;
}