/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.card .card__content.card__content--meta {
  border-color: #999;
}
.THIS.card .card__content.card__content--meta .card__content__image .card__content__image__topics {
  margin-bottom: -3.3rem;
  pointer-events: none;
  padding: .5rem;
  color: #000;
  background-color: transparent !important;
}
.THIS.card .card__content.card__content--meta .card__content__body {
  padding-left: 0 !important;
}
.THIS.card .card__content.card__content--meta .card__content__body h3 {
  margin: 0 0;
}
.THIS.card .card__content.card__content--meta .card__content__body h3 a {
  font-size: 1rem;
  color: token(colorTextLink);
}
.THIS.card .card__content.card__content--meta .card__content__body .slds-card__tile {
  min-height: 100px;
  padding: .5rem 1rem;
  color: #000;
  border: 1px solid rgba(204, 204, 204, 0.4);
  border-right: 0;
  border-left: 0;
  background: #f7f7f7;
}
.THIS.card .card__content.card__content--meta .card__content__body .slds-card__tile .metaDate {
  font-size: .825rem;
  font-weight: normal;
  color: #000;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper {
  padding: 0;
  border-left: 0;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .expertName {
  font-size: 1.1rem;
  font-weight: 700;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .expertImg {
  margin: 0 .5rem 0 0;
  /*border: 4px solid #ccc;*/
  border-radius: 50%;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .expertImg img {
  width: 85%;
  height: auto;
  border: 0;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: .925rem;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .followList .follow {
  padding: 0;
  text-align: left;
  color: token(colorTextLink);
  border: 0;
  background: none;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .followList .following {
  padding: 0;
  text-align: left;
  pointer-events: none;
  color: token(colorTextLink);
  border: 0;
  background: none;
}
.THIS.card .card__content.card__content--meta .card__content__body .cMp_ExpertList.expertsWrapper .followList .following .slds-button__icon {
  fill: token(colorTextLink);
}
.THIS.card .card__content.card__content--meta .card__content__body .slds-card__header-link {
  padding: 1rem;
}
.THIS.card .card__content.card__content--meta .card__content__body .slds-card__header-link a {
  font-size: .825rem;
  color: token(colorTextLink);
}
.THIS.card .card__content.card__content--meta .card__content__body .slds-card__header-link .slds-icon-text-default {
  fill: token(colorTextLink);
}
@media (min-width: 48em) {
  .THIS.card .card__content.card__content--meta .card__content__image {
    height: 140px;
    margin-bottom: 1rem;
  }
}