/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  min-width: 280px;
  max-width: 390px;
  background-color: #fff;
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS .salesforceIdentityLoginForm a,
.THIS .salesforceIdentityLoginForm2 .inverseTextColor {
  color: #006e8a !important;
}
.THIS .salesforceIdentityLoginForm a:hover,
.THIS .salesforceIdentityLoginForm2 .inverseTextColor:hover {
  color: #006e8a;
}
.THIS .loginWrapper {
  padding: 2rem;
  border: 1px solid rgba(208, 204, 204, 0.4);
  border-radius: 4px;
}
.THIS .salesforceIdentityCommunityLogo2.communityLogoContainer {
  width: 100%;
  margin: 0 auto;
}
.THIS .communityLogo {
  width: 100%;
  padding: .5rem;
}
.THIS button.sfdc_button {
  font-size: 1rem;
  text-transform: uppercase;
  border-color: #00a8c8;
  border-radius: 5px;
  background-color: #00a8c8;
  text-shadow: none;
}
.THIS .salesforceIdentityLoginForm #sfdc_username_container,
.THIS .salesforceIdentityLoginForm #sfdc_password_container {
  margin: .75rem 0;
  padding: 0;
  border: 1px solid rgba(208, 204, 204, 0.4);
  border-radius: 5px;
  background-color: white;
}
.THIS .salesforceIdentityLoginForm #sfdc_username_container input,
.THIS .salesforceIdentityLoginForm #sfdc_password_container input {
  width: 90%;
  margin-left: 0;
  padding: 1rem .25rem;
}
.THIS .salesforceIdentityLoginForm #sfdc_username_container input:focus,
.THIS .salesforceIdentityLoginForm #sfdc_password_container input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}