/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .searchHeaderFont {
    font-weight: 300;
    font-size: 26px;
    margin: 0;
}

.THIS.SearchHeader {
    min-height:70px!important;
    padding: 20px 10px;
}

.THIS .displyIconImage{
    height: 18px;
    margin-right:5px;
}

.THIS .slds-dropdown--small {
    min-width: 11.3rem!important;
}

.THIS .showImg{
    display:block;
}

.THIS .hideImg{
    display:none;
}

.THIS .tickSymbol {
    height:12px;
    margin-top: 6px;
}

.THIS .sortByDiv {
    width:100px
}

.THIS .menuDown {
    position:absolute;
    display:none;
}

.THIS .buttonlabel {
    color:white!important;
}

.THIS .viewFloat {
    float:right!important;
}

.THIS .btn-primary{
    background:token(colorBackgroundButtonBrand);
    border-color:token(colorBorderButtonBrand);
}

.THIS .btn-link{
    color:token(colorTextLink);
}

.THIS .btn{
    text-transform: uppercase;
}


@media only screen and (max-width:767px) {
    .THIS .eventIconM{
        display: inline-block!important;
        float: left!important;
        margin-right: 10px!important;
    }
    .THIS .viewFloat {
        float:left!important;
    }
}

@media only screen and (max-width:376px){
    .THIS .newEvtSM {
        line-height: 16px!important;
        padding-top: 5px!important;
    }
}

.THIS .searchContain{
    position: relative;
}

.THIS .searchContain .displayIconImage{
    position: absolute;
    height: 15px;
    right: 20px;
    z-index: 5000;
    top: 8px;
}

.THIS .buttonControl{
    float:right;
}

.THIS .eventIconM{
    margin-top: -5px;
}