/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS > header {
  padding: 10px 0 8px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}
.THIS .news-items-container .news-items {
  align-items: stretch;
}
.THIS .news-items-container .news-items .news-items__item {
  min-height: 338px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.THIS .news-items-container .news-items .news-items__item .news-items__item__text {
  display: flex;
  height: 100%;
}
.THIS .news-items-container .news-items .news-items__item .news-items__item__text > div {
  padding: 3rem 1rem 1rem;
  color: #fff;
  flex: 1;
}
.THIS .news-items-container .news-items .news-items__item .news-items__item__text > div h5 {
  font-size: 1.125rem;
  font-weight: normal;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
.THIS .news-items-container .news-items .news-items__item .news-items__item__text > div h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin-top: .25rem;
  letter-spacing: 1px;
}
.THIS .news-items-container .news-items .news-items__item .news-items__item__text > div hr {
  width: 25%;
  height: 2px;
  margin: .75rem 0 1.125rem;
  border: 0;
  background-color: #00a8cc;
}
@media only screen and (min-width: 1141px) {
  .THIS .news-items-container .news-items .news-items__item:first-child .news-items__item__text {
    float: right;
  }
  .THIS .news-items-container .news-items .news-items__item .news-items__item__text {
    width: 570px;
  }
  .THIS .news-items-container .news-items .news-items__item .news-items__item__text > div {
    width: 570px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
.THIS .news-items-container .view-more {
  margin: 1rem 0;
  text-align: center;
}
.THIS .news-items-container .view-more > a {
  display: inline-block;
}