.THIS {
}

.THIS .slds-p-around_small{
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}
.THIS .slds-p-around--medium{
    padding: 0px;

}
.THIS .slds-box{
    padding-top: 1px;   
    padding-bottom: 1px;
}