/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .statWrapper {
  max-width: 420px;
  border-left: 1px solid rgba(51, 51, 51, 0.21);
}
.THIS .statWrapper div.block {
  border-right: 1px solid rgba(51, 51, 51, 0.21);
}
.THIS .statWrapper div.block h2 {
  font-size: 2.2rem;
}
.THIS .statWrapper div.block h2 span {
  font-size: 1rem;
  display: block;
}