.THIS padding{
    padding-top:4px;
    padding-bottom:4px;
}

.THIS .slds-accordion__summary-heading  {
    background-color:#F3F2F2;
    padding:8px;
}

.THIS .slds-accordion__list-item {
    border-top: 0px solid rgb(221, 219, 218);
}