.THIS th{
	text-align:center;
    border: 1px solid rgb(221,219,218);
}
.THIS table tbody td{
    text-align:center;
    border: 1px solid rgb(221,219,218);
    padding-bottom:1px;
}
.THIS .slds-form-element__label{
    display: none!important;
}
.THIS .slds-pill__action{
    text-align: left;
}
.THIS .errorStyle{
    background-color: #ff3333; color: #ffffff;
}
.THIS .slds-form-element__control{
    padding-left: 2%!important;
}
.THIS .slds-input{
    margin-top:6px;
}
.THIS .slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right .cMercer_EditSalesCreditList table tbody td{
    text-align:left!important;
}
.THIS .slds-listbox__option-meta_entity{
    text-align:left;
}
.THIS .slds-listbox__option-text_entity{
    text-align:left;
}

.THIS .slds-form-element__icon{
    padding-top:0px;
}