/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.card .card__content.card__content--blog {
  border-color: #999;
}
.THIS.card .card__content.card__content--blog .card__content__image .card__content__image__topics {
  color: #fff;
  background-color: #999;
}
.THIS.card .card__content.card__content--blog .card__content__body {
  display: flex;
  flex-direction: column;
}
.THIS.card .card__content.card__content--blog .card__content__body .slds-media {
  margin: token(spacingMedium) 0 0;
  flex: 1;
  align-items: flex-end;
}
.THIS.card .card__content.card__content--blog .card__content__body .slds-media .slds-media__body {
  position: relative;
  bottom: 10px;
}
.THIS.card .card__content.card__content--blog .card__content__body .slds-media .slds-media__body p {
  font-size: 1rem;
}