<apex:component controller="TaskEmailSendController" access="global" >

    <apex:attribute name="taskId" assignTo="{!taskSfdcId}" type="id"  description="taskSfdcID" />
    
    {!details}
    
    <html>
    
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:none; width:678px; font-family:Arial;">
    <tbody>
        <tr style="height:63px;">
            <td colspan="4" style="width:354px;background:white;padding:0in 0in 0in 0in;height:63px;vertical-align:top;">
            <p><img alt="" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18e" /></p>

            </td>
            <td colspan="2" style="width:141px;background:white;padding:0in 0in 0in 0in;height:63px;vertical-align:top;">
            
            </td>
            <td style="width:33px;background:white;padding:0in 0in 0in 0in;height:63px;vertical-align:top;">
            
            </td>
        </tr>
        <tr style="height:90px  !important;" >
            <td style="width:35px;background:#595998;padding:0in 0in 0in 0in;height:80px;vertical-align:top;">
            </td>
           
            <td colspan="3" style="width:319px;background:#595998;padding:0in 0in 0in 0in;height:80px;">
            <span style="color: #ffffff;font-size:11pt;">Marketing  &#10142; Sales Handshake </span> 

            <p><span style="color: #ffffff;font-size:20pt;">Consultation Request</span></p>
            </td>
            
            <td colspan="3" style="width:174px;background:#595998;padding:0in 0in 0in 0in;height:80px;text-align: center;">
                <img style="width:50px; height:50px;" alt="" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18f" />
            </td>
        </tr>
        <tr style="height:24px;">
            <td colspan="7" style="width:528px;background:white;padding:0in 0in 0in 0in;height:24px;vertical-align:top;">
            
            </td>
        </tr>
     <!--  <tr style="height:24px;">
            <td colspan="7" style="width:528px;background:white;padding:0in 0in 0in 0in;height:24px;vertical-align:top;">
            
            </td>
        </tr>    -->
        <tr>
            <td style="width:35px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            
            </td>
            <td colspan="5" style="width:460px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            <span style="color: #808080;font-size:20pt">Request for Consultation &ndash; Needs Immediate Follow-up</span>

            <p><span style="color: #808080;font-size:10pt">A Requestor has completed a Request for Consultation (RFC) form on mercer.com and has been qualified as a bonafide lead. Please follow up within 24 hours. To get you started, a Task has been assigned to you in MercerForce with links to more information about our relationship.</span></p>
            </td>
            <td style="width:33px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:24px;">
            <td colspan="7" style="width:528px;background:white;padding:0in 0in 0in 0in;height:24px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#F7F7F7;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;background:#F7F7F7;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td style="width:38px;background:#F7F7F7;padding:0in 0in 0in 0in;vertical-align:top;">
             <img alt="" width="33px" height="35px" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18k" style="width:58px;height:58px"/> 
            </td>
            <td style="width:17px;background:#F7F7F7;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="3" style="width:405px;background:#F7F7F7;padding:0in 0in 0in 0in;vertical-align:top;">

            <span style="color: #4951a4; font-size: 11pt; font-weight:bold;">THE REQUEST</span> 


            <p ><span style="color: #808080;font-size:10pt;">
                <apex:outputLink value="https://mercer.my.salesforce.com/{!taskList[0].Id}" rendered="{!taskList != null}">{!taskList[0].Subject}</apex:outputLink>
            
            </span></p>

            <p><span style="color: #808080;font-size:10pt;">
               <apex:outputText value="{!taskList[0].Description}" rendered="{!taskList != null}"/>                
            </span></p>

            <p> <div style="font-size:10pt;line-height: 1.6;" >

                <span style="color: #808080;font-weight:bold;">Name/Requestor</span><span style="color: #808080;">: &nbsp;
                   <apex:outputLink value="https://mercer.my.salesforce.com/{!conLeadWraperList[0].id}" rendered="{!conLeadWraperList!= null}" >{!conLeadWraperList[0].Name}</apex:outputLink> 
                </span>

            <br/> 
                
            <span style="color: #808080;font-weight:bold;">Title</span><span style="color: #808080;">: <apex:outputText value="{!conLeadWraperList[0].Title}" rendered="{!conLeadWraperList!= null}"/> </span><br/>

            <span style="color: #808080;font-weight:bold;">Account/Company</span><span style="color: #808080;">: &nbsp;
                <apex:outputLink value="https://mercer.my.salesforce.com/{!conLeadWraperList[0].AccountId}" rendered="{!conLeadWraperList!= null}" >{!conLeadWraperList[0].accountName}</apex:outputLink>                
            </span><br/><br/>

            <span style="color: #808080;font-weight:bold;">MERCERFORCE CONTACTS ONLY</span>
            <br/>
            
            <span style="color: #808080;font-weight:bold;">Relationship Manager</span><span style="color: #808080;">:&nbsp;
                <apex:outputText value="{!conLeadWraperList[0].accountRelMngrName}"  rendered="{!conLeadWraperList!= null}"/> 
            </span><br/>
            
            <span style="color: #808080;font-weight:bold;">Employees (D&amp;B)</span><span style="color: #808080;">: &nbsp;
                <apex:outputText value="{!conLeadWraperList[0].empEditable}" rendered="{!conLeadWraperList!= null && conLeadWraperList[0].empEditable != null }"/>
                <apex:outputText value="{!conLeadWraperList[0].noOfEmployee}" rendered="{!conLeadWraperList!= null && conLeadWraperList[0].noOfEmployee == null }"/>                        
            </span><br/>
           
            <span style="color: #808080;font-weight:bold;">Client Type</span><span style="color: #808080;">: &nbsp;             
                <apex:outputText value="{!conLeadWraperList[0].accountType}" rendered="{!conLeadWraperList!= null}"/>
            </span><br/>            

            <span style="color: #808080;font-weight:bold;">Account Address</span><span style="color: #808080;">: &nbsp; 
            <apex:outputPanel rendered="{!conLeadWraperList!= null}">
                <apex:outputText value="{!conLeadWraperList[0].accountBillingStreet}, " rendered="{!conLeadWraperList[0].accountBillingStreet != null}"/>
                <apex:outputText value="{!conLeadWraperList[0].accountBillingCity}, "  rendered="{!conLeadWraperList[0].accountBillingCity != null}"/>                
                <apex:outputText value="{!conLeadWraperList[0].accountBillingState} - "  rendered="{!conLeadWraperList[0].accountBillingState != null}"/>
                <apex:outputText value="{!conLeadWraperList[0].accountBillingPostalCode} "  rendered="{!conLeadWraperList[0].accountBillingPostalCode != null}"/>

            </apex:outputPanel>
            </span><br/>
            
            <span style="color: #808080;font-weight:bold;">Account Country</span><span style="color: #808080;">:&nbsp;            
                <apex:outputText value="{!conLeadWraperList[0].accountBillingCountry}"  rendered="{!conLeadWraperList!= null}"/>                
            </span><br/>            

            <span style="color: #808080;font-weight:bold;">Contact Phone</span><span style="color: #808080;">: &nbsp; 
                <apex:outputText value="{!conLeadWraperList[0].Phone}"  rendered="{!conLeadWraperList!= null}"/>   
            </span><br />


             </div> </p>    
            </td>
            <td style="width:33px;background:#F7F7F7;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#F7F7F7;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#F0F0F0;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;background:#F0F0F0;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td style="width:38px;background:#F0F0F0;padding:0in 0in 0in 0in;vertical-align:top;">
            <p><img alt="" width="33px" height="35px" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18m" />  </p>
            </td>
            <td style="width:17px;background:#F0F0F0;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="3" style="width:405px;background:#F0F0F0;padding:0in 0in 0in 0in;vertical-align:top;">

            <span style="color: #4951a4; font-size: 11pt; font-weight:bold;">WHAT YOU NEED TO DO</span>

            <p><span style="color: #808080;font-size:10pt;"><b>Reach out within 24 hours to discuss the request and schedule a discovery session to learn more about their needs.</b> To help guide the conversation and your follow-up plan, review their marketing activity history prior to making the call.</span></p>
            </td>
            <td style="width:33px;background:#F0F0F0;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#F0F0F0;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td style="width:35px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td style="width:38px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p><img style="width:33px; height:35px" alt="" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18r" />  </p>
            </td>
            <td style="width:17px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="3" style="width:405px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">

            <span style="color: #4951a4; font-size: 11pt;font-weight:bold;">MERCERFORCE STEP BY STEP</span>
                <span style="color: #808080;font-size: 10pt;">
                    <ol>
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;" value="NaN">View your assigned Task (use the link above)</li>
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;" value="NaN">Review the full engagement history of the requestor (use Name link above or in Task and scroll down to the Marketo Sales Insights section)</li>
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;" value="NaN">After you have reached out to the requestor, update the Task Status.</li>
                                             
                    </ol>
                    <ul style="padding-left:55px;">
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;"><em>In Progress</em> = Discussions are underway</li>
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;"><em>Cancelled</em> = There is no opportunity</li>
                        <li style="margin-top:3.0pt;margin-right:0in;margin-bottom:0in;margin-bottom:.0001pt;"><em>Create Opportunity</em> = There is an opportunity<br />
                        (Choosing this status will auto-create an <em>Above The Funnel</em> opportunity. The Account must be active and the Lead must be converted to a Contact, if not already done. Questions on how to do this? Click <a style="color: #008080;" href="http://communities.mercer.com/Salesforce/New%20Site%20Pages/Manage%20My%20Clients.aspx"><strong>here</strong></a> for steps to activate an account, click <a style="color: #008080;" href="http://communities.mercer.com/Salesforce/New%20Site%20Pages/Manage%20My%20Contacts.aspx"><strong>here</strong></a> for converting a lead to a contact.)</li>
                    </ul>
                    
                </span>
            </td>
            <td style="width:33px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:19px;">
            <td colspan="7" style="width:528px;background:#E8E8E8;padding:0in 0in 0in 0in;height:19px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr style="height:24px;">
            <td colspan="7" style="width:528px;background:white;padding:0in 0in 0in 0in;height:24px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="5" style="width:460px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            <span style="color: #808080;font-size:20pt;">Good Luck!</span>
            </td>
            <td style="width:33px;background:white;padding:0in 0in 0in 0in;vertical-align:top;">
            </td>
        </tr> 
        

        <tr style="height:24px;">
            <td colspan="7" style="width:528px;background:white;padding:0in 0in 0in 0in;height:24px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>                                  
        
        
        <tr style="height:20px;">
            <td style="width:35px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            </td>
            <td style="width:38px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            </td>
            <td style="width:17px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            </td>
            <td colspan="2" style="width:294px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            </td>
            <td colspan="2" style="width:144px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            </td>
        </tr>
        <tr style="height:20px;">
            <td style="width:35px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            </td>
            <td style="width:38px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
             <img alt="" width="30px" height="30px" src="https://mercer--c.na38.content.force.com/servlet/servlet.ImageServer?oid=00DE0000000b6PT&id=0154400000AQ18q" />  
            </td>
            <td style="width:17px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            
            <td colspan="3" style="width:405px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:centre;">
                <p><span style="color: #808080;font-size:10pt;"><a style="color: #808080;" href="http://sites.mercer.com/sites/MarketingSales/SitePages/Lead-Management@Mercer.aspx">Read more about this</a> on Lead-Management@Mercer</span></p>
            </td>
            <td style="width:33px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            
            <p>&nbsp;</p>
            </td>
        </tr>
            
 
        <tr style="height:20px;">
            <td style="width:35px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td style="width:38px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td style="width:17px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="2" style="width:294px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
            <td colspan="2" style="width:144px;background:#C5CAE7;padding:0in 0in 0in 0in;height:20px;vertical-align:top;">
            <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<p>&nbsp;</p>
    
    
    
    </html>
    
</apex:component>