/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
  /**
    @name: news.less
    @descriptions: News component overrides

**/
  /**
    @name: events.less
    @descriptions: Events component overrides

**/
}
.THIS .peak-container,
.THIS .slds-container_large {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: normal;
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regular-webfont.eot');
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regular-webfont.woff') format('woff'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regular-webfont.ttf') format('truetype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regular-webfont.svg#proximanova-regular') format('svg');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-style: normal;
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-semibold-webfont.eot');
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-semibold-webfont.woff') format('woff'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-semibold-webfont.svg#proximanova-semibold') format('svg');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: italic;
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regularitalic-webfont.eot');
  src: url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regularitalic-webfont.woff') format('woff'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regularitalic-webfont.ttf') format('truetype'), url('/sfsites/c/resource/mercerPremier/fonts/proximanova-regularitalic-webfont.svg#proximanova-regularitalic') format('svg');
}
.THIS html,
.THIS body {
  font-family: 'Proxima Nova', sans-serif !important;
  font-weight: 400 !important;
}
.THIS html a,
.THIS body a,
.THIS html h1,
.THIS body h1,
.THIS html h2,
.THIS body h2,
.THIS html h3,
.THIS body h3,
.THIS html h4,
.THIS body h4,
.THIS html h5,
.THIS body h5,
.THIS html h6,
.THIS body h6 {
  font-family: 'Proxima Nova', sans-serif !important;
}
.THIS html h2,
.THIS body h2,
.THIS html .topicListHeader,
.THIS body .topicListHeader {
  font-family: 'Proxima Nova', sans-serif !important;
  font-size: .9rem !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #404040;
}
.THIS .secondaryColorIcon > span > svg {
  fill: #00a8cc;
}
.THIS .linkColorIcon > span > svg {
  fill: #00a8cc;
}
.THIS .forceChatterStyle--default .cuf-element {
  background-color: transparent !important;
}
.THIS .slds-feed__item-comments {
  border: 0;
}
.THIS .forceChatterSimpleFeedItemTopics--pill ul.topic-commaSeparatedList li a {
  font-size: .8rem;
  font-weight: 600;
  color: #606060 !important;
  border: 0 !important;
  background: white;
}
.THIS .forceChatterStyle .cuf-preamble p > span.uiOutputText{
  font-size: 1em;
  font-weight: 400;
  color: rgb(52, 52, 52);
}
.THIS .forceChatterEntityLink .cuf-entityAdditionalLabel{
    display: none;
}
.THIS .selfServiceProfileMenu .uiMenuItem.contactSupport{
    display: none;
}
.THIS .forceCommunityForceCommunityFeed .cuf-feedElement .cuf-questionTitle,
.THIS .forceCommunityFeedItemDetail .cuf-feedElement .cuf-questionTitle {
  font-family: 'Proxima Nova', sans-serif !important;
  font-weight: 400 !important;
}
.THIS .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem .tabHeader {
  font-weight: 600 !important;
  color: #404040 !important;
}
.THIS .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem.active .tabHeader {
  color: #404040 !important;
}
.THIS .forceChatterFeedback--default .commentInputArea {
  padding: 1.4rem 1rem;
}
.THIS .forceChatterFeedback.inFeed .commentInputArea:first-child {
  padding-top: 1.4rem;
}
.THIS .cuf-feedElement .slds-text-title .slds-item.qe-viewCount.cuf-viewCount,
.THIS .cuf-feedElement .slds-text-title .slds-item.qe-commentCount {
  font-weight: 600;
  color: #404040 !important;
}
.THIS .forceChatterFeedAuxBody .cuf-auxBody {
  border: 2px solid #fff;
}
.THIS .slds-text-color--weak.cuf-timestamp {
  font-weight: 200;
  color: #606060 !important;
}
.THIS .forceChatterStyle--default .cuf-feedElement.cuf-feedElement {
  padding: 1.25rem .75rem;
  border-bottom: 1px solid #fafafa;
}
.THIS .cuf-feedElement .slds-post__footer-actions-list a.slds-post__footer-action {
  font-weight: bold;
}
.THIS .forceChatterFeedInner {
  margin-right: 0;
}
.THIS .forceChatterSearchInFeed {
  width: 275px;
  max-width: inherit;
}
.THIS .forceCommunityReputationLeaderboardRow {
  font: 400 13px 'Proxima Nova', sans-serif;
  padding: 15px 0;
  color: #404040 !important;
  border-color: #e6e6e6;
}
.THIS .forceCommunityReputationLeaderboardRow .userRank {
  font-size: 16px;
  font-weight: 700;
}
.THIS .forceCommunityReputationLeaderboardRow a,
.THIS .forceCommunityReputationLeaderboardRow .userName {
  font: 700 16px/1 'Proxima Nova', sans-serif;
  color: token(colorTextDefault);
}
.THIS .forceCommunityReputationLeaderboardRow a:hover,
.THIS .forceCommunityReputationLeaderboardRow .userName:hover {
  color: token(colorTextDefault);
}
.THIS .forceCommunityReputationLeaderboardRow .userName {
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationCol:before {
  display: none;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationLevelName {
  min-height: auto;
}
.THIS .forceCommunityReputationLeaderboardRow .reputationPointsNumber {
  font-size: bold;
  font-size: 16px;
  font-weight: 700;
}
.THIS .mp-navigation .forceCommunityNavigationMenu .homeButton.menuItemLink {
  display: none;
}
.THIS .mp-navigation .forceCommunityNavigationMenu {
  margin-left: 10px;
  border: 0;
  background: transparent;
}
@media only screen and (min-width: 48em) {
  .THIS .mp-navigation .forceCommunityNavigationMenu {
    margin-left: 30px;
  }
  .THIS .mp-navigation .navigationMenu {
    margin: 0 -220px 0 0 !important;
  }
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink.triggerLink,
  .THIS .mp-navigation .forceCommunityNavigationMenu .subMenuItem a[aria-disabled=false] {
  
    margin: 0;
    padding: 0;
    text-transform: none;
    font-family: 'Proxima Nova',sans-serif;
    font-weight: 200;
    font-size: .875rem;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px;
  }
  .THIS .mp-navigation .forceCommunityNavigationMenu .subMenuItem a[aria-disabled=false] {
   	padding: 8px 18px;
    border-bottom: 1px solid rgba(0, 110, 138, 0.16);
    color: #214868;
  }
 .THIS .forceCommunityNavigationMenu .subMenu.uiMenuList ul{
    max-height: initial;
    min-width: 300px;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);  
 }
    
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink:hover,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink:focus,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink.triggerLink:hover,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItemLink.triggerLink:focus,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItem.current .menuItemLink,
  .THIS .mp-navigation .forceCommunityNavigationMenu .menuItem.current .menuItemLink.triggerLink {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,.2);
  }
  .THIS .mp-navigation .forceCommunityNavigationMenu .navigationMenuNode + .navigationMenuNode {
    margin-right: 20px;
  }
  .THIS .mp-header-static .mp-logo img{
    max-width: 220px;
  }
}
.THIS .mp-search .image-wrapper {
  display: none;
}
.THIS .mp-search .search-wrapper {
  padding: 0;
}
.THIS .mp-search .selfServiceSearchWrapper.big-search-container {
  height: auto;
}
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper .search-field {
  height: 65px;
  padding-right: 167px;
  padding-left: 20px;
  opacity: 1;
  border: 0;
}
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton {
  height: 45px;
  margin: 10px 20px;
}
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper.big-search-container button.search-button.uiButton,
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper.big-search-container button.has-input .search-button.uiButton,
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper.big-search-container button.search-button.uiButton.focus,
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper .has-input .search-input-group .search-button.uiButton:active,
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper .has-input .search-input-group .search-button.uiButton:focus,
.THIS .mp-search .forceCommunityOmniBox.selfServiceSearchWrapper .has-input .search-input-group .search-button.uiButton:hover {
  right: 0;
  left: initial;
}
.THIS .mp-search .forceCommunityOmniBox.show-result .result-container {
  margin-top: 15px;
}
.THIS .forceCommunityTrendingTopics {
  position: relative;
  padding: 40px;
  padding-bottom: 10px;
  background: #fff;
}
.THIS .forceCommunityTrendingTopics .slds-icon-utility-trending {
  display: none;
}
.THIS .forceCommunityTrendingTopics .forceTopicTopicList .topicList {
  margin-top: 30px;
}
.THIS .forceCommunityTrendingTopics .forceTopicTopicList .topicItem {
  border: 0 !important;
}
.THIS .forceCommunityTrendingTopics .topicItemLink .slds-grid .slds-col:last-child {
  display: none;
}
.THIS .forceCommunityTrendingTopics .forceTopicTopicList .topicItemLink {
  margin: 20px 0 !important;
  padding: 0 !important;
}
.THIS .forceCommunityTrendingTopics .forceTopicTopicList .topicItemLink:focus {
  box-shadow: none !important;
}
.THIS .forceCommunityTrendingTopics:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  border-width: 0 35px 35px 0;
  border-style: solid;
  border-color: #dedede #f0f0f0;
}
.THIS .forceCommunityTrendingTopics .topicList .topicItem:last-child a {
  margin-bottom: 0;
  padding: 0;
}
.THIS .forceTopicFeaturedTopicItem.topicItem {
  height: 180px !important;
}
.THIS .mp-user {
  position: relative;
  height: 100%;
}
.THIS .mp-user .selfServiceProfileMenuTrigger .profileName {
  width: 110px;
}
.THIS .mp-user div[data-region-name='profileMenu'] {
  position: absolute;
  z-index: 1;
  left: 0;
  padding: 20px 0;
}
.THIS .mp-user .uiPopupTrigger.selfServiceProfileMenuTrigger {
  text-align: left;
}
.THIS .mp-user .selfServiceProfileMenuTrigger .trigger-link {
  padding: 0;
}
.THIS .mp-user .profileName {
  text-indent: 9999px;
}
@media only screen and (min-width: 48em) {
  .THIS .mp-user .selfServiceProfileMenuTrigger {
    padding: 0;
  }
  .THIS .mp-user .selfServiceProfileMenuTrigger .profileIcon {
    max-width: initial;
  }
}
@media only screen and (max-width: 48em) {
  .THIS .mp-user .selfServiceProfileMenuTrigger,
  .THIS .mp-user .login {
    right: initial;
    padding: 0;
  }
  .THIS .mp-user .selfServiceProfileMenuTrigger .profileIcon,
  .THIS .mp-user .login .profileIcon {
    max-width: initial;
  }
  .THIS .mp-user .mp-profileMenu {
    display: none;
  }
}
.THIS .forceCommunityUserProfileDetail .itemLabel {
  font-weight: 400;
  letter-spacing: .09rem !important;
  text-transform: uppercase !important;
  color: #606060;
}
.THIS .forceCommunityUserProfileDetail .forceRecordEdit .itemLabel {
  letter-spacing: normal!important;
  text-transform: none !important;
  color: #343434;
}
.THIS .forceCommunityUserProfileDetail .forcePageBlockItemView .dataCol {
  font-weight: 600 !important;
}
.THIS .forceCommunityUserProfileStats {
  border: none;
}
.THIS .forceCommunityUserProfileStats h2.header-label {
  font-size: .8rem !important;
  color: #606060;
}
.THIS .forceCommunityUserProfileStats .statDesc {
  font-weight: 600;
}
.THIS .forceCommunityUserProfileStats .statNumber {
  font-size: 2rem !important;
  font-weight: 600;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups,
.THIS .forceRelatedListContainer .slds-card.test-Followers,
.THIS .forceRelatedListContainer .slds-card.test-Team {
  border: 1px solid transparent !important;
  border-left: 1px solid token(colorBorder) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterGenericRelatedListRecord .listRecordDetails,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterGenericRelatedListRecord .listRecordDetails,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterGenericRelatedListRecord .listRecordDetails {
  display: none;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterEntityPhoto.mediumSize.rounded,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterEntityPhoto.mediumSize.rounded,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterEntityPhoto.mediumSize.rounded {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterGenericRelatedListRecord .listRecordPhoto,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterGenericRelatedListRecord .listRecordPhoto,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterGenericRelatedListRecord .listRecordPhoto,
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterUserRelatedListRecord .listRecordPhoto,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterUserRelatedListRecord .listRecordPhoto,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterUserRelatedListRecord .listRecordPhoto {
  padding-top: 0 !important;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterGenericRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterGenericRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterGenericRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize,
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterUserRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterUserRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterUserRelatedListRecord .listRecordPhoto .forceChatterEntityPhoto.mediumSize {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterGenericRelatedListRecord .listRecordTitle,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterGenericRelatedListRecord .listRecordTitle,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterGenericRelatedListRecord .listRecordTitle,
.THIS .forceRelatedListContainer .slds-card.test-Groups .forceChatterChatterUserRelatedListRecord .listRecordTitle,
.THIS .forceRelatedListContainer .slds-card.test-Followers .forceChatterChatterUserRelatedListRecord .listRecordTitle,
.THIS .forceRelatedListContainer .slds-card.test-Team .forceChatterChatterUserRelatedListRecord .listRecordTitle {
  padding-top: 10px !important;
}
.THIS .forceRelatedListContainer h2 a .slds-text-heading--small {
  font-size: .8rem !important;
  color: #606060;
}
.THIS .forceRelatedListContainer .slds-card__footer {
  text-align: left;
}
.THIS .knowledgeablePeople {
  margin-bottom: 20px;
  padding: 5px 20px;
  border-left: 1px solid token(colorBorder);
}
.THIS .knowledgeablePeople .knowledgeablePeopleHeader {
  color: #404040;
}
.THIS .knowledgeablePeople .forceDiscoveryKnowledgeablePeopleRow {
  border-bottom: 1px solid transparent;
}
.THIS .knowledgeablePeople .forceDiscoveryKnowledgeablePeopleRow .userName {
  font-family: 'Proxima Nova', sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600;
  color: #00a8cc !important;
}
.THIS .knowledgeablePeople .forceDiscoveryKnowledgeablePeopleRow .userLink:focus {
  box-shadow: none !important;
}
.THIS .slds-card.test-Files {
  display: none;
}
.THIS .slds-card.test-Members {
  margin-top: .5rem;
  border: 1px solid transparent !important;
  border-left: 1px solid token(colorBorder) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.THIS .slds-card.test-Members .slds-card__header .forceEntityIcon {
  display: none !important;
}
.THIS .slds-card.test-Members .slds-card__header .slds-text-heading--small {
  font-size: .75rem !important;
}
.THIS .slds-card.test-Members .slds-card__header .slds-media__figure {
  display: none !important;
}
.THIS .slds-card.test-Members .forceChatterFacepilePreviewItem.photoBox .name a {
  color: #404040 !important;
}
.THIS .slds-card.test-Members .slds-card__footer {
  text-align: center;
}
.THIS .forceCommunityGroupHighlightStencilNapili {
  text-align: center;
  border: 0;
}
.THIS .forceCommunityGroupHighlightStencilNapili .info {
  margin: 0;
}
.THIS .forceCommunityGroupHighlightStencilNapili .profilePic {
  display: inline-block;
  float: none;
  margin: auto;
  margin-top: -25px;
}
.THIS .forceCommunityGroupHighlightStencilNapili .secondaryFields {
  display: none;
}
.THIS .forceCommunityGroupHighlightStencilNapili .role,
.THIS .forceCommunityGroupHighlightStencilNapili .name {
  float: none;
  margin: 0;
  text-align: center;
}
.THIS .forceCommunityGroupHighlightStencilNapili .role .forceActionsContainer,
.THIS .forceCommunityGroupHighlightStencilNapili .name .forceActionsContainer {
  display: block;
}
.THIS .forceCommunityGroupHighlightStencilNapili .actions .forceActionsContainer {
  display: inline;
}
.THIS .forceCommunityGroupHighlightStencilNapili .forceChatterEntityPhotoDetail .photoDropdown.square {
  position: absolute;
  right: 0;
  bottom: -10px;
}
.THIS .forceCommunityGroupHighlightStencilNapili .forceChatterEntityPhotoDetail .photoDropdown.square .photoIcon {
  background: rgba(234, 234, 234, 0.6);
}
.THIS .forceContentVirtualRelatedListStencil .thumbnailContainer {
  display: inherit;
}
.THIS .forceCommunityTopicMetricsItem {
  border-left: 1px solid #d0d0d0;
}
.THIS .forceCommunityTopicMetricsItem .slds-text-body--small {
  font-weight: 600;
  line-height: 1.5rem;
}
.THIS .forceCommunityTopicMetricsItem .value {
  font-size: 2rem !important;
  font-weight: 600 !important;
}
.THIS .forceCommunityTopicMetrics .forceCommunityTopicMetricsItem:last-child {
  border-right: none;
  border-left: none;
}
.THIS .forceCommunityTopicMetrics .table_wrapper {
  margin-top: 0 !important;
  border-bottom: none;
}
.THIS .forceCommunityRelatedTopics {
  margin-bottom: 20px;
  padding: 5px 20px;
  border-left: 1px solid token(colorBorder);
}
.THIS .forceCommunityRelatedTopics .forceTopicTopicList .topicListHeader {
  color: #404040;
}
.THIS .forceCommunityRelatedTopics .forceTopicTopicList .topicItem {
  border-bottom: 1px solid transparent !important;
}
.THIS .forceCommunityRelatedTopics .forceTopicTopicList .topicItem .topicItemLink {
  font-family: 'Proxima Nova', sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400;
}
.THIS .forceCommunityRelatedTopics .forceTopicTopicList .topicItem .topicItemLink:focus {
  box-shadow: none !important;
}
.THIS .mp-topic-description {
  min-height: 100px;
}
.THIS .forceCommunityTopicCatalog .topicHierarchy-top {
  font-size: 16px;
  letter-spacing: 1px;
}
.THIS .forceCommunityTopicCatalog .topicHierarchy-topBox {
  border-width: 1px;
}
.THIS .selfServiceSimilarQuestions {
  padding-left: 20px;
  border: 1px solid transparent !important;
  border-left: 1px solid token(colorBorder) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.THIS .selfServiceSimilarQuestions .selfServiceBaseSimpleItems.base-simple-item,
.THIS .selfServiceSimilarQuestions .selfServiceSimilarItemWithViewCount.base-simple-item > * {
  border-bottom: 1px solid transparent !important;
}
.THIS .selfServiceSimilarQuestions .selfServiceBaseSimpleItem .item-title-link:focus {
  box-shadow: none !important;
}
@media (min-width: 48em) {
  .THIS .slds-modal__container {
    width: auto;
    min-width: 20rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 3rem 3rem;
  }
}
.THIS .forceCommunityHeadline h1.headlineTitle {
  font-size: 30px;
  line-height: 1.1;
  /* 415px */
}
@media (min-width: 25.938em) {
  .THIS .forceCommunityHeadline h1.headlineTitle {
    font-size: 36px;
    line-height: 1.4;
  }
}
.THIS .forceCommunityRecommendations .rec-cardHeader,
.THIS .forceChatterRecommendationBig .cuf-recommendationIcon {
  display: none;
}
.THIS .forceCommunityRecommendations {
  position: relative;
  overflow: hidden;
  max-height: 90px;
  background: #ab104e;
}
.THIS .uiCarousel.flex {
  min-height: 80px;
}
.THIS .uiCarousel.flex > .carousel-body {
  min-height: 60px;
}
.THIS .forceChatterRecommendationBig {
  font-size: 14px;
  max-width: 1140px;
  margin-top: 10px;
  padding: 0 15px;
  text-align: left;
  color: #fff;
}
.THIS .forceCommunityRecommendations .forceChatterRecommendationBase .cuf-recommendationDisplayLabel,
.THIS .forceChatterRecommendationBase .cuf-recommendationSummary {
  font-size: 14px;
  line-height: 100%;
  padding: 0;
  padding-right: 10px;
}
.THIS .forceCommunityRecommendations .forceChatterRecommendationBase .cuf-recommendationDisplayLabel {
  line-height: inherit;
}
.THIS .forceChatterRecommendationBase .cuf-recommendationSummary {
  line-height: 90%;
}
.THIS .forceChatterRecommendationBase .cuf-recommendationSummary,
.THIS .forceChatterRecommendationBig .cuf-viewableActionsDiv,
.THIS .forceChatterRecommendationBig .cuf-viewableActions {
  display: inline;
}
.THIS .forceCommunityRecommendations .forceChatterRecommendationBase .notInterestedLink {
  display: none;
}
.THIS .forceAsyncCarouselIndicator .dot-indicator {
  border: 1px solid #fff;
  background-color: transparent !important;
  box-shadow: none;
}
.THIS .forceAsyncCarouselIndicator .tab.selected .dot-indicator {
  background-color: #fff !important;
}
.THIS .forceChatterRecommendationBase--napili .uiButton,
.THIS .cuf-bodyActionGroup .forceChatterActionLinkGroup button.cuf-platformAction .label {
  font-size: 14px;
  line-height: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.THIS .forceChatterRecommendationBase--napili .uiButton:hover,
.THIS .cuf-bodyActionGroup .forceChatterActionLinkGroup button.cuf-platformAction .label:hover,
.THIS .forceChatterRecommendationBase--napili .uiButton:active,
.THIS .cuf-bodyActionGroup .forceChatterActionLinkGroup button.cuf-platformAction .label:active {
  font-size: 14px;
  line-height: 100%;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  background-color: transparent;
}
.THIS .cuf-bodyActionGroup .forceChatterActionLinkGroup button.cuf-platformAction .label:after {
  margin-left: 5px;
  content: '>';
}
.THIS .forceAsyncCarouselIndicator {
  bottom: 5px;
  height: 20px;
}
.THIS .defaultFlavor.forceChatterRecommendationBase--napili.forceChatterRecommendationBase.forceChatterRecommendationSmall {
  display: none;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 15px;
}
.THIS .defaultFlavor.forceChatterRecommendationBase--napili.forceChatterRecommendationBase.forceChatterRecommendationSmall:first-child {
  display: block;
}
.THIS .forceChatterRecommendationSmall .cuf-recommendationInfo,
.THIS .forceChatterRecommendationSmall .cuf-recommendationInfo .rec-inlineSummary,
.THIS .forceChatterRecommendationSmall.defaultFlavor .cuf-recommendedName,
.THIS a.cuf-rejectButton {
  color: #fff;
}
.THIS .required,
.THIS .cSVNSUMMITS_News_Create .required {
  margin: 0 0 0 4px;
  color: #00a8cc !important;
}
.THIS .cSVNSUMMITS_Create_Event .slds-text-heading--small,
.THIS .cSVNSUMMITS_News_Create .slds-text-heading--small {
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.THIS .cSVNSUMMITS_Create_Event .inputDiv,
.THIS .cSVNSUMMITS_News_Create .inputDiv {
  margin-left: 20px!important;
}
.THIS .cSVNSUMMITS_Create_Event .slds-form-element__label,
.THIS .cSVNSUMMITS_News_Create .slds-form-element__label,
.THIS .cSVNSUMMITS_Create_Event .descriptiveText,
.THIS .cSVNSUMMITS_News_Create .descriptiveText {
  color: #404040 !important;
}
.THIS .uiInputTimePicker--default {
  z-index: 99999;
}
.THIS .forceChatterSelectGroupType .slds-media__body {
  min-width: 400px;
}
.THIS input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.THIS input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.THIS .cSVNSUMMITS_News_List > h2 {
  margin-bottom: 18px;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact {
  margin-bottom: 10px!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .featuredNews,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .featuredNews {
  border-bottom: 0!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .topics,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .topics {
  display: block!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .topics .topic,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .topics .topic {
  margin-bottom: 2px!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .topics .topic a,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .topics .topic a {
  font-size: .875rem;
  font-weight: normal!important;
  color: #5f6062!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .name,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .name {
  margin-bottom: 2px!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .name a,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .name a {
  font-weight: 600;
  color: #0081A2 !important;
  text-decoration: none;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content .date,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content .date {
  font-size: .75rem;
  float: none;
  color: #bababa!important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .content > hr,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .content > hr {
  margin: 1.375rem 0 0;
  width: 25%;
  border-color: #d0d0d0;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .commentCount,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_TitleOnly .compact .commentCount {
  display: none;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .featuredNews .content > hr {
  margin: .875rem 0 0;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile {
  margin-top: 30px;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews {
  border: 0;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .featuredImage .image {
  background-size: cover;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content {
  margin: 10px 0;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content a {
  color: #000 !important;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .topics {
  display: flex;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .topics a {
  font-weight: normal;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .name {
  margin-bottom: 10px;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .name a {
  font-weight: 600;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .commentCount,
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .content .date {
  display: none;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile.recordType-blogs .featuredNews {
  display: flex;
  flex-direction: column;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile.recordType-blogs .featuredNews .content {
  display: flex;
  flex-direction: column;
  min-height: 175px;
  flex: 1;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile.recordType-blogs .featuredNews .content .slds-media {
  flex: 1;
  align-items: flex-end;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile.recordType-blogs .featuredNews .content .slds-media .slds-media__body {
  position: relative;
  bottom: 10px;
  color: #404040;
}
@media (min-width: 48em) {
  .THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .featuredNews .featuredImage .image {
    height: 126px;
  }
  .THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .slds-medium-size--1-of-4,
  .THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Tile .slds-large-size--1-of-4 {
    max-width: 25%!important;
  }
}
.THIS .cSVNSUMMITS_News_Header.SearchHeader {
  border-bottom: 0;
  background-color: #f7f7f7;
}
.THIS .cSVNSUMMITS_News_Header.SearchHeader .searchHeaderFont {
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #5f6062;
}
.THIS .cSVNSUMMITS_News_Filter {
  margin: 0!important;
  padding: 12px 15px 12px 15px!important;
  border: 0!important;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}
.THIS .cSVNSUMMITS_News_Filter .field {
  margin-bottom: 0!important;
}
.THIS .cSVNSUMMITS_News_Filter .ui.dropdown > .default.text,
.THIS .cSVNSUMMITS_News_Filter .ui.dropdown:hover > .default.text {
  color: #000;
}
.THIS .cSVNSUMMITS_News_Filter .slds-form-element__label {
  margin-right: 0;
  color: #404040;
}
.THIS .cSVNSUMMITS_News_Filter .cSVNSUMMITS_News_Sort_Filter select {
  background-image: none!important;
}
.THIS .ui-widget .cSVNSUMMITS_News_Create.createNewsBox {
  padding: 1rem 0 0 0!important;
  box-shadow: none!important;
}
.THIS .ui-widget .cSVNSUMMITS_News_Create.createNewsBox .attachEdit[type=file] {
  line-height: 1rem;
  width: auto;
  padding: .5rem;
}
.THIS .ui-widget .cSVNSUMMITS_News_Create.createNewsBox .authorSelection {
  margin-left: 20px;
}
.THIS .cSVNSUMMITS_News_Detail_Header {
  max-width:1140px;
  margin: 1rem auto 1.3rem;
}
.THIS .cSVNSUMMITS_News_Detail_Header .topics .topic {
  line-height: 1em;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-right: 7px;
  border-right: 1px solid;
}
.THIS .cSVNSUMMITS_News_Detail_Header .topics .topic:last-child {
  border-right: 0;
}
.THIS .cSVNSUMMITS_News_Detail_Header .topics .topic > a {
  font-size: .875rem;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
  color: #000 !important;
}
.THIS .cSVNSUMMITS_News_Detail_Header h1.title {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.25em;
  padding: 0;
  color: #000;
}
.THIS .cSVNSUMMITS_News_Detail_Header.slds-modal .cSVNSUMMITS_News_Create.createNewsBox {
  padding: 7%!important;
}
.THIS .cSVNSUMMITS_News_Detail_Header.slds-backdrop {
  max-width: 100%!important;
  margin: 0 auto;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-summary {
  font-size: 1.125rem;
  color: #404040;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-summary h3 {
  font-size: .875rem;
  font-weight: 600;
  margin: 0 0 .25rem;
  text-transform: uppercase;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body {
  border-top: 2px solid #0fb694;
  margin-bottom: 1.5rem;
  padding: 2.5rem;
  background-color: #fff;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body p,
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body .textDetail p,
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body p > span,
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body .textDetail p > span {
  font-size: 1rem!important;
  line-height: 1.35em;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body p,
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body .textDetail p {
  margin-bottom: 1rem;
}
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body p:last-child,
.THIS .cSVNSUMMITS_News_Detail .newsDetail-body .textDetail p:last-child {
  margin-bottom: 0;
}
.THIS .cSVNSUMMITS_News_Detail.recordType-blogs .authorDetail-summary.slds-media .slds-media__figure,
.THIS .cSVNSUMMITS_News_Detail.recordType-blogs .authorDetail-summary.slds-media .slds-media__figure img {
  width: 100px;
  height: 100px;
}
.THIS .cSVNSUMMITS_News_Detail.recordType-blogs .authorDetail-summary.slds-media .slds-media__figure img {
  border: 2px solid #d0d0d0;
  border-radius: 50%;
}
.THIS .cSVNSUMMITS_News_Detail.recordType-blogs .authorDetail-summary.slds-media h3 {
  font-weight: 600;
}
.THIS .cSVNSUMMITS_News_Detail.recordType-blogs .newsDetail-body {
  border-top: 2px solid #b2b935;
}
.THIS .cSVNSUMMITS_News_Topic_Filter .topicPicklist,
.THIS .cSVNSUMMITS_News_Author_Filter .authrPicklist {
  width: auto!important;
}
.THIS .cSVNSUMMITS_News_Topic_Filter .topicPicklist .ui.multiple.dropdown,
.THIS .cSVNSUMMITS_News_Author_Filter .authrPicklist .ui.multiple.dropdown {
  height: auto;
}
.THIS .cSVNSUMMITS_News_Topic_Filter .topicPicklist .ui.multiple.dropdown input.search,
.THIS .cSVNSUMMITS_News_Author_Filter .authrPicklist .ui.multiple.dropdown input.search {
  width: auto!important;
}
.THIS .ui-widget .cSVNSUMMITS_Create_Event.createEventBox {
  padding: 1rem 0 0 0!important;
  box-shadow: none!important;
}
.THIS .ui-widget .cSVNSUMMITS_Create_Event.createEventBox > .slds-grid > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent {
  border: 0!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .topics,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .name,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .date,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .time,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .location,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .topics a,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .date a,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .time a,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .location a {
  color: #000 !important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .topics {
  display: flex!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .topics a {
  font-weight: normal!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .name {
  margin-bottom: 10px!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a {
  font-weight: 600!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .attending {
  display: flex!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .featuredImage {
  min-height: 0!important;
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .featuredImage .image {
  background-size: cover!important;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent {
  display: flex;
  flex-direction: column;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .content,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent .content {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  flex: 1;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .content .eventInfo,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent .content .eventInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: flex-end;
  justify-content: flex-end;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .content .eventInfo .date,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent .content .eventInfo .date,
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .content .eventInfo .time,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent .content .eventInfo .time,
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .content .eventInfo .location,
.THIS .cSVNSUMMITS_Events_Tile.eventsListContainer .featuredEvent .content .eventInfo .location {
  padding-top: .125rem;
  padding-bottom: .125rem;
}
.THIS .cSVNSUMMITS_Events_Tile .cSVNSUMMITS_Events_Header {
  border-bottom: 0;
  background-color: #f7f7f7;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent {
  border-top: 2px solid #ce3d95 !important;
  background-color: #fff;
  box-shadow: 0 5px 12px -3px #aaa;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .featuredImage {
  position: relative;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .featuredImage .topics {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 75%;
  background-color: #ce3d95;
}
.THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .featuredImage .topics .topic > span {
  display: block;
  padding: 6px 20px 2px;
  text-align: left;
  color: #fff;
}
@media (min-width: 48em) {
  .THIS .cSVNSUMMITS_Events_Tile.featuredEventsContainer .featuredEvent .featuredImage .image {
    height: 170px!important;
  }
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col {
  margin-top: 30px;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .featuredEvent {
  min-height: 360px;
  border-bottom: 1px solid #fff !important;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .featuredEvent .content {
  margin: 10px 0 20px;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .featuredEvent .content .attending {
  display: none!important;
}
@media (min-width: 48em) {
  .THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .featuredEvent .featuredImage .image {
    height: 126px!important;
  }
  .THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .slds-medium-size--1-of-4,
  .THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_4-Col .slds-large-size--1-of-4 {
    max-width: 25%!important;
  }
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact {
  margin-top: 1.125rem;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact {
  margin-bottom: 10px!important;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent {
  border-bottom: 0!important;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent .content .topics,
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent .content .eventInfo {
  display: none!important;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent .content .name {
  margin: 0;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent .content .name a {
  color: #00a8cc !important;
}
.THIS .cSVNSUMMITS_Events_Tile.cSVNSUMMITS_EVENTS_TILE_DISPLAY_Compact .compact .featuredEvent .content > hr {
  margin: .75rem 0 0;
  width: 25%;
  border-color: #d0d0d0;
}
.THIS .cSVNSUMMITS_Events_Featured_4Across.setTitleFeatured {
  color: #fff;
}
.THIS .cSVNSUMMITS_Events_Detail_Header {
  margin: 1rem auto 1.3rem;
}
.THIS .cSVNSUMMITS_Events_Detail_Header > div.topics .topic {
  line-height: 1em;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-right: 7px;
  border-right: 1px solid;
}
.THIS .cSVNSUMMITS_Events_Detail_Header > div.topics .topic:last-child {
  border-right: 0;
}
.THIS .cSVNSUMMITS_Events_Detail_Header > div.topics .topic > a {
  font-size: .875rem;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
  color: #000 !important;
}
.THIS .cSVNSUMMITS_Events_Detail_Header > div.fontHeader {
  text-align: left!important;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.25em;
  padding: 0;
  color: #000;
}
.THIS .cSVNSUMMITS_Events_Detail_Header > div.expCss {
  display: none;
}
.THIS .cSVNSUMMITS_Follow_Button {
  padding: .625rem 0;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox {
  float: none;
  padding-right: 0!important;
  padding-left: 0!important;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .attendees {
  text-align: left;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .attendees > span {
  font-weight: 600;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .attendees .groupImageAdjust {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .attendees .numberOfAttendDisplay {
  margin: 0 .625rem 0 0;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox {
  font-family: 'Proxima Nova', sans-serif !important;
  padding: 0;
  text-align: left!important;
  background-color: transparent!important;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox > span {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-bottom: .625rem;
  text-transform: uppercase;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox > div.slds-grid div:first-child {
  padding-right: .625rem;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox > div.slds-grid div:last-child {
  padding-left: .625rem;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox .yesBtn,
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox .noBtn {
  font-size: 1rem!important;
  font-weight: 600!important;
  width: 100%;
  color: #00a8cc;
  border-color: #00a8cc;
  border-radius: 2px;
  background-color: transparent!important;
}
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox .yesBtn.activeState,
.THIS .ui-widget .cSVNSUMMITS_Events_Detail_RSVP .createBox .btnBox .noBtn.activeState {
  color: #fff;
  background-color: #00a8cc !important;
}
.THIS .cSVNSUMMITS_Events_Detail {
  color: #000;
}
.THIS .cSVNSUMMITS_Events_Detail h2.slds-text-heading--weighted {
  color: #000;
}
.THIS .cSVNSUMMITS_Events_Detail .event-action-link {
  text-transform: capitalize;
}
.THIS .cSVNSUMMITS_Events_Detail .buttonAddToCalendar {
  margin-bottom: 0!important;
}
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body {
  border-top: 2px solid #ce3d95;
  margin-bottom: 1.5rem;
  padding: 2.5rem;
  background-color: #fff;
}
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body p,
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body .textDetail p,
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body p > span,
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body .textDetail p > span {
  font-size: 1rem!important;
  line-height: 1.35em;
}
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body p,
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body .textDetail p {
  margin-bottom: 1rem;
}
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body p:last-child,
.THIS .cSVNSUMMITS_Events_Detail .eventDetail-body .textDetail p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 47.9375em) {
    .THIS .cSVNSUMMITS_Events_Topic_Filter .ui.selection.dropdown {
        width: 118px;
    }
}
.THIS .cSVNSUMMITS_Events_Detail .slds-modal .cSVNSUMMITS_Create_Event.createEventBox {
  padding: 0 7%!important;
}
.THIS .cSVNSUMMITS_Events_Header.SearchHeader {
  border-bottom: 0;
  background-color: #f7f7f7;
}
.THIS .cSVNSUMMITS_Events_Header.SearchHeader .searchContain {
  position: relative;
}
.THIS .cSVNSUMMITS_Events_Header.SearchHeader .searchContain .displayIconImage {
  position: absolute;
  z-index: 5000;
  top: 8px;
  right: 20px;
  height: 15px;
}
.THIS .cSVNSUMMITS_Events_Topic_Filter .ui.selection.dropdown {
  line-height: 1.875rem;
  height: auto;
  min-height: 2.25rem;
  padding: 0 1rem 0 .75rem;
  border-color: #d0d0d0;
}
.THIS .cSVNSUMMITS_Events_Topic_Filter .ui.selection.dropdown:hover {
  border-color: #d0d0d0;
}
.THIS .cSVNSUMMITS_Events_Topic_Filter .ui.selection.dropdown .dropdown.icon {
  padding-top: .625rem;
}
.THIS .cSVNSUMMITS_Events_Topic_Filter .ui.multiple.dropdown > .ui.label {
  font-size: 14px;
  line-height: 1rem;
  height: 1.55rem;
  margin-top: 5px;
}
.THIS .cSVNSUMMITS_Events_Date_Filter label {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter {
  margin: 0!important;
  padding: 12px 15px 12px 15px!important;
  border: 0!important;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}
@media only screen and (max-width: 47.9375em) {
    .THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter .slds-checkbox .slds-form-element__label {
        margin: -23px 0 0 1.5rem !important;
    }
    .THIS .feeds-sorter {
        margin: 5px 0 0 5px;
    }
    .THIS .cSVNSUMMITS_Members_Filters .searchContain input {
        width: 170px;
        margin-left: -60px;
        margin-top: -4px;
    }
    .THIS .forcePlaceholder .placeholder {
        display: none;
    }
}

.THIS .ui-widget .cSVNSUMMITS_Event_Filter > div.field {
  margin: 0;
  padding: .75rem 1rem;
}
@media only screen and (min-width: 64.0625em) {
  .THIS .ui-widget .cSVNSUMMITS_Event_Filter > div.field:first-child {
    padding-left: 0;
  }
  .THIS .ui-widget .cSVNSUMMITS_Event_Filter > div.field:last-child {
    padding-right: 0;
  }
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter {
  display: flex;
  height: 100%;
  align-items: center;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter .slds-checkbox .slds-form-element__label {
  margin-right: 0;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter .slds-checkbox__label {
  position: relative;
  display: block;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter .slds-checkbox__label .slds-checkbox--faux {
  position: absolute;
  top: 1px;
  left: 0;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .SVNSUMMITS_Events_Topic_Following_Filter .slds-checkbox__label .slds-form-element__label {
  line-height: 1.25rem;
  display: block;
  margin: 0 0 0 1.5rem;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter {
  padding: 0;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter > div:first-child {
  display: none!important;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter .customButtonCss {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter .slds-text-heading--small {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter .ui.dropdown {
  height: auto;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Topic_Filter .ui.dropdown > .default.text {
  color: #000;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter {
  padding: 0;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter > div:first-child {
  display: none!important;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter label,
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .customButtonCss {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .uiInput--datetime {
  max-width: 8rem;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .uiInput--datetime.uiInput--input .input {
  padding: .35rem 1rem .35rem .6rem;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .uiInput--datetime .datePicker-openIcon {
  bottom: 9px;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .slds-text-heading--small {
  display: none;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .slds-wrap {
  flex-wrap: nowrap;
}
@media only screen and (min-width: 47.9375em) and (max-width: 64.0625em) {
  .THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .slds-wrap {
    justify-content: flex-end;
  }
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Date_Filter .slds-size--1-of-2 {
  width: auto!important;
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_DisplayMode.slds-button-group .slds-button {
  padding: .75rem 1rem;
}
@media only screen and (max-width: 64.0625em) {
  .THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_DisplayMode.slds-button-group {
    float: none;
  }
}
.THIS .ui-widget .cSVNSUMMITS_Event_Filter .cSVNSUMMITS_Events_Sort_Filter .uiInput--select.select {
  height: auto;
  padding: .6rem 1rem;
  background: none;
}
.THIS .cSVNSUMMITS_Events_Calendar_View {
  margin-top: 30px;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--meta {
  border-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--meta .card__content__image .card__content__image__topics {
  color: #000;
  background-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--news {
  border-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--news .card__content__image .card__content__image__topics {
  color: #000;
  background-color: #C3E471; 
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--blog {
  border-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--blog .card__content__image .card__content__image__topics {
  color: #000;
  background-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--event {
  border-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--event .card__content__image .card__content__image__topics {
  color: #000;
  background-color: #C3E471;
}
.THIS .cPeak_FeaturedContent .slick-slider .card .card__content.card__content--group {
  border-color: #C3E471;
}
.THIS .ui-widget .cSVNSUMMITS_Members_Header.slds-page-header {
  height: auto;
  margin-bottom: 0 !important;
  padding: 1.25rem .625rem;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: 0;
  background-color: #f7f7f7;
}
.THIS .ui-widget .cSVNSUMMITS_Members_Header.slds-page-header .searchHeaderFont {
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #5f6062;
}
.THIS .cSVNSUMMITS_Members_Filters {
  margin: 0!important;
  padding: 12px 15px 12px 15px!important;
  border: 0!important;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}
.THIS .cSVNSUMMITS_Members_Filters .searchContain {
  position: relative;
}
.THIS .cSVNSUMMITS_Members_Filters .searchContain .displayIconImage {
  position: absolute;
  z-index: 5000;
  top: 8px;
  right: 20px;
  height: 15px;
}
.THIS .cSVNSUMMITS_Members_Tile {
  padding-top: 1.125rem;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content {
  flex-direction: column;
  min-height: 320px;
  padding-top: 1.875rem;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile {
  flex-direction: column;
  min-height: 250px;
  flex: 1;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__image .slds-avatar {
  width: 5.25rem;
  height: 5.25rem;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data {
  flex-direction: column;
  text-align: center;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .name {
  margin-top: 1rem;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .name a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .title {
  margin-top: .375rem;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .title span {
  font-size: 14px;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .email {
  margin-top: .375rem;
}
.THIS .cSVNSUMMITS_Members_Tile .memberItem .memberItem__content .memberItem__content__profile .memberItem__content__profile__data .email span {
  font-size: 16px;
  word-wrap: break-word;
}
.THIS .mp-header-static {
  height: 70px;
  background: linear-gradient(to right, #214868 0%, #214868 33%, #006E8A 33%, #006E8A 100%);
}
.THIS .mp-header-static .mp-header-right {
  height: 70px;
  background: #006E8A;
}
.THIS .mp-header-static .mp-logo {
  display: flex;
  height: 70px;
  padding-right: 20px;
  background: #214868;
  align-items: center;
}

.THIS .mp-header-static .mp-search {
  display: none;
}
.THIS .mp-header-static .mp-search.open {
  display: flex;
}
.THIS .mp-header-static .mp-search .mp-search-container {
  position: relative;
  z-index: 4;
}
.THIS .mp-header-static .mp-search .mp-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.THIS .mp-header-static .mp-profileMenu {
  line-height: 100%;
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 35px;
  width: 70px;
  color: #fff;
}
.THIS .mp-header-static .mp-profileMenu #mp-userName {
  font-size: .9rem;
  font-weight: 600 !important;
}
.THIS .mp-header-static .mp-profileMenu #mp-companyName {
  font-size: .75rem;
}
.THIS .mp-header-static .mp-buttonMenu {
  text-align: right;
  margin-top: 1.5rem;
}
.THIS .mp-header-static .mp-buttonMenu .slds-icon {
  fill: #fff;
}
.THIS .mp-body {
  position: relative;
}
.THIS .cta-text-link {
  font-size: .8rem;
  font-weight: 600;
}
.THIS .mp-trending-topics {
  padding: 40px;
  padding-top: 0;
  background: #fff;
}
.THIS .mp-page-header-bg {
  position: absolute;
  top: 70px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.THIS .forceCommunityGlobalNavigation {
  background-color: transparent;
}
.THIS .mp-header-static .mp-onboarding {
  margin-top: 1.4rem;
  float: none;
  margin-right: 2.5rem;
  text-align: right;
}
.THIS .mp-header-static .mp-onboarding .slds-icon {
  fill: #fff;
}
.THIS .cSVNSUMMITS_News_List>h2 {
  font-size: .875rem;
}
.THIS .cSVNSUMMITS_News_List .alignButton {
  margin-top: 1rem;
}
/* List View */
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews {
  border: 0;
  border-left: 3px solid #006E8A;
  background: #fff;
  min-height: 120px;
  box-shadow: 1px 4px 8px 1px #ccc;
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content {
  padding: 1rem;
  margin: 0;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .name {
  padding-bottom: .25rem;
  margin-bottom: 0;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .name a {
  color: #006E8A;
  font-weight: 500;
  text-transform: inherit;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .commentCount {
  float: left;
  padding: 0 2rem;
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topic a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: .825rem;
}

/* Compact View*/
.THIS .cSVNSUMMITS_News_Tile .compact .featuredNews {
  border: 0;
  border-left: 3px solid #90E2C7;
  background: #fff;
  min-height: 120px;
  box-shadow: 1px 4px 8px 1px #ccc;
}

.THIS .cSVNSUMMITS_News_Tile .compact .featuredNews .name {
  padding-bottom: .25rem;
  margin-bottom: 0;
}
.THIS .cSVNSUMMITS_News_Tile .compact .featuredNews .name a {
  color: #0081A2;
  font-weight: 500;
  text-transform: inherit;
}
.THIS .cSVNSUMMITS_News_Tile .compact .featuredNews .commentCount {
  float: left;
  padding: 0 2rem;
}
.THIS .cSVNSUMMITS_News_List .cSVNSUMMITS_NEWS_TILE_DISPLAY_Compact .compact .featuredNews .content>hr {
  display: none;
}

/* Sidebar Newslist styles*/
.THIS .slds-medium-size--1-of-3 .cSVNSUMMITS_News_Tile .featuredNews,
.THIS .slds-medium-size_1-of-3 .cSVNSUMMITS_News_Tile .featuredNews{
  border: 0;
  border-left: none;
  background: transparent;
  min-height: 100px;
  box-shadow: none;
}
.THIS .slds-medium-size--1-of-3 .cSVNSUMMITS_News_List,
.THIS .slds-medium-size_1-of-3 .cSVNSUMMITS_News_List{
  border-left: 1px solid #ccc;
}
.THIS .slds-medium-size--1-of-3 .cSVNSUMMITS_News_List>h2,
.THIS .slds-medium-size_1-of-3 .cSVNSUMMITS_News_List>h2{
  padding: 1rem;
  margin-bottom: 0;
}
.THIS .slds-medium-size--1-of-3 .cSVNSUMMITS_News_Tile .featuredNews .name a,
.THIS .slds-medium-size_1-of-3 .cSVNSUMMITS_News_Tile .featuredNews .name a{
  font-size: 1rem;
}
.THIS .slds-medium-size--1-of-3 .cSVNSUMMITS_News_List .alignButton,
.THIS .slds-medium-size_1-of-3 .cSVNSUMMITS_News_List .alignButton{
  margin-top: 0;
  padding: 1rem;
}
.THIS .mp_tiles .cPeak_FeaturedContent {
  margin-top: -6rem;
}
.THIS .topicsIfollow {
  padding: 40px;
  border: 1px solid transparent!important;
  border-left: 1px solid #d0d0d0!important;
}
.THIS .topicsIfollow .slds-button{
  color: #404040;
}