/**
 * Created by abdoundure on 8/23/18.
 */

.THIS {
    border: 8px solid #fff;
}
.THIS h4{
    font-size: 1.4rem;
    padding: .5rem 1rem;
    color: #fff;
}
.THIS h1{
    font-size: 2.5rem;
    padding: .5rem 1rem;
    color: #fff;
}
.THIS h1 span{
    font-family: "Proxima Nova";
    padding: 0 .5rem;

}
.THIS p{
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1.4rem;
    width: 70%;
}
.THIS a {
    text-decoration: none;
}
.THIS .summary {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6em;
    line-height: 1.8em;
}