/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  background: url('/resource/mercerPremier/images/background@2x.png');
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS.mp_lead-banner .mp_tiles {
  background-color: #fff;
}
.THIS .forceChatterChatterFollow .slds-button {
  font-size: .725rem;
  width: 210px;
  /* text-align: center; */
  margin: 0 auto;
  padding: .5rem 3.25rem;
  color: #000;
  border-color: #a2c62c;
  background-color: #a2c62c;
}
.THIS .forceCommunityTopicDescription .topicDescription .groupDescription {
  text-align: center;
}
@media (min-width: 48em) {
  .THIS .forceCommunityTopicDescription .topicDescription {
    padding: 1rem 12rem;
  }
}
.THIS .forceChatterChatterNotification {
  display: none;
}
.THIS .forceCommunityTopicDescription {
  text-align: center;
}
.THIS .forceCommunityTopicDescription .header-label {
  display: block;
  text-align: center;
}