/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS h2 {
  margin-bottom: 5px;
}
.THIS .mp-private-group {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.THIS h3 {
  font-size: 24px;
  font-weight: 700;
  display: block;
}
.THIS .slds-avatar--large {
  width: 100%;
  height: auto;
}
.THIS .slds-icon--xx-small {
  width: .6rem;
  height: .6rem;
  margin-top: -0.2rem;
}
.THIS h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.THIS .mp-group-avatar {
  position: relative;
  display: inline-block;
  border: 5px solid #eee;
  border-radius: 3px;
}
.THIS .mp-group-avatar:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  content: '';
  border-top: solid 20px #6f83c1;
  border-right: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: solid 20px #6f83c1;
}
.THIS .mp-group-avatar img {
  border-radius: 0;
}
.THIS .mp-group-avatar .icon {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.THIS .slds-media {
  width: 100%;
}
.THIS .slds-media__figure {
  position: relative;
  margin-right: 0;
}
@media (max-width: 940px) {
  .THIS .slds-media {
    display: block !important;
  }
}
.THIS .slds-card {
  padding: 1rem;
  border: 4px solid #fff;
  border-radius: 0;
  background: #fff;
}
.THIS .slds-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.THIS .slds-card a .slds-icon_container {
  padding-top: 4rem;
}
.THIS .slds-card a .slds-icon_container .slds-icon {
  fill: token(colorTextLink);
}
.THIS .slds-card p {
  font-size: .825rem;
  padding: .25rem 0;
}