.THIS table tbody td{
    border: 1px solid rgb(221,219,218);
    width:16%;
}
.THIS th{
     border: 1px solid rgb(221,219,218);
    text-align:center;
}
.THIS custom_background{
     background-color:white;
}

@media only screen and (max-width:600px) {
    .THIS .slds-accordion__list-item{
    	scroll-behavior : auto;
        overflow-x : auto;
        
	}
    
    .THIS .accordionsection .slds-accordion__section{
        width: max-content;
    }
    
    .THIS p .slds-icon-text-default{
        fill: white;
    }
}
.THIS .backbutton{
    float:right;
    font-size:12px;
    
}

.THIS .slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .scrollWrapper{
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    width : 100vw;
    height : 100vh;
}