/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .customButtonCss{
    width: 100%;
    margin-top: 20px;
}
.THIS .toggleClass{
    display:none;
}
.THIS .toggleClass1{
    display:block;
}
.THIS .slds-select_container:after {
    border-top: 0px solid #061c3f !important;
    bottom: calc((2.125rem / 2) - 6px);
}
.THIS .authrPicklist{
    width:100%;
}
.THIS .clearAlign{
    float:right!important;
}
.THIS .authrPicklist .ui.multiple.dropdown {
	padding-right: 1.6em;
}