/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.card .card__content.card__content--news {
  border-color: #999;
}
.THIS.card .card__content.card__content--news .card__content__image .card__content__image__topics {
 
  color: #000;
  background-color: #c3e471;
}