/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-group-intro {
  font-size: 14px;
  font-weight: 700;
  padding: 20px 40px;
  border: 10px solid #eaeaea;
  background: #fff;
}
.THIS .mp-group-intro h2 {
  color: #6f83c1;
}
.THIS .mp-group-intro svg {
  fill: #6f83c1;
}