/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS{
    border:0;
}

.THIS .displyIconImage{
  width: 1rem!important;
  height: 1rem!important;
  margin-right:5px;
}

.THIS .grayFill{
  fill:#666666!important;
  width: 1rem!important;
  height: 1rem!important;
}

.THIS .searchHeaderFont {
  margin: 0;
}

.THIS .slds-dropdown--small {
    min-width: 10.5rem!important;
}

.THIS .CustomStyleMenu{
    right:0px!important;
    position:absolute;
    display:none;
    /*min-width: 230px!important;*/
}
.THIS .CustomMenuSearch{
    left: 76%!important;
    min-width: 230px!important;
    top: 26px;
}
.THIS .customButton{
      border-radius: 0.25rem 0.25rem 0.25rem 0.25rem!important;
}
.THIS .showImg{
    display:block;
}
.THIS .hideImg{
    display:none;
}
.THIS .tickSymbol{
    height:12px;
    margin-top: 6px;
}
 .THIS .viewFloat{float:right!important;}
.THIS .mitem1{
    width: 85px!important;
}
.THIS .mitem2{
    width:145px!important;
}

.THIS .btn-primary{
    background:token(colorBackgroundButtonBrand);
    border-color:token(colorBorderButtonBrand);
}

.THIS .btn-link{
    color:token(colorTextLink);
}

.THIS .btn{
    text-transform: uppercase;
}

@media only screen and (max-width:768px) {
.THIS .eventIconM{
        display: inline-block!important;float: left!important;margin-right: 10px!important;
    }
.THIS .viewFloat
    {float:left!important;}
}

@media only screen and (max-width:376px)
    {
   .THIS .newEvtSM{line-height: 16px!important;padding-top: 5px!important;}
}

.THIS .searchContain{
    position: relative;
}

.THIS .searchContain .displayIconImage{
    position: absolute;
    height: 15px;
    right: 20px;
    z-index: 5000;
    top: 8px;
}

.THIS .buttonControl{
    float:right;
}

.THIS .eventIconM{
    margin-top: -5px;
}