/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .thePhoto {
  height: 160px;
}
.THIS .profilePic {
  position: relative;
  display: inline-block;
  border: 5px solid #eaeaea;
  border-radius: 3px;
}
.THIS .profilePic:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  content: '';
  background: url('/resource/mercerPremier/images/private-icon@2x.png');
  background-size: 23px;
}
.THIS .profilePic .forceChatterEntityPhoto,
.THIS .profilePic img {
  border-radius: 0;
}
.THIS .profilePic .forceChatterEntityPhoto:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  content: '';
  border-top: solid 20px #6f83c1;
  border-right: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: solid 20px #6f83c1;
}