/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .groupContainer{
    margin-bottom: 30px;
}

.THIS .groupContainer.compact{
    margin-bottom: 20px;
}

.THIS .featuredGroup{
    border: token(borderWidthThin) solid token(colorBorder);
    position: relative;
    height:100%;
}

.THIS .listView .featuredGroup{
    border:0;
    border-bottom: token(borderWidthThin) solid token(colorBorder);
}

.THIS .listView .featuredGroup .featuredImage{
    float: left;
    max-width: 225px;
    min-height: 150px;
    width: 100%;
    height: 75%;
    margin-right: 30px;
}

.THIS .listView .featuredGroup .featuredImage .image{
    min-height:125px;
    height:100%;
}

.THIS .compact .featuredGroup{
    border:0;
    border-bottom: token(borderWidthThin) solid token(colorBorder);
}
.THIS  .imageHeader {
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.THIS .featuredGroup .featuredImage{
    overflow:hidden;
}

.THIS .featuredGroup .featuredImage .image{
    height:80px;
    width:100%;
    background-size:cover;
    background-position:center center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=2, M12=0, M21=0, M22=2, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=2, M12=0, M21=0, M22=25, SizingMethod='auto expand'); /* IE6 and 7 */

}

.THIS .profile{
    max-width: 100%;
    max-height: 100%;
	width: 110px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -55px;
    border: 4px solid #fff;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.THIS .featuredGroup:hover .profile{
	transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}
.THIS.lightSlider {
    height: auto !important;
}

.THIS .featuredGroup .content{
    margin:20px;
    padding-top: 130px;
    text-align:center;
    padding-bottom:80px;

}

.THIS .featuredGroup .content .description, .THIS .featuredGroup .content .joinbtn{
    margin:10px 0;
}

.THIS .featuredGroup  .content .name a{
    color:token(colorTextLabel);
}

@media (min-width: 48em){
    .THIS .slds-medium-size--1-of-2, .THIS .slds-large-size--1-of-2{
        max-width:50%;
    }
}

@media (min-width: 64em){
    .THIS .slds-medium-size--1-of-3, .THIS .slds-large-size--1-of-3{
        max-width:33.33333%;
    }
}

.THIS .bottom-contain{
    position: absolute;
    height: 85px;
    bottom:0;
    width: 100%;
    text-align: center;
}

.THIS .bottom-contain .joinbtn{
    margin:10px 0;
}

.THIS .bottom-contain .member-count{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.THIS .bottom-contain .member-count .peopleImg{
    width: 15px;
}

.THIS .bottom-contain .last-active{
    position: absolute;
    bottom: 20px;
    left: 20px;
}