/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS.listWrapper {
  margin: 1rem 0;
  padding: .25rem 1rem;
  border-left: 1px solid rgba(51, 51, 51, 0.21);
}
.THIS .slds-avatar {
  float: left;
  width: 3.5rem;
  height: 5rem;
}
.THIS .slds-avatar img {
  padding-right: .25rem;
}
.THIS .relatedTitle {
  text-align: left;
}
.THIS .relatedTitle h3 {
  font-size: .825rem;
}
.THIS .relatedTitle span {
  font-size: .75rem;
}
.THIS h2 {
  font-size: .875rem;
}
.THIS p {
  font-size: 1rem;
  font-weight: 600;
}
.THIS a:hover {
  text-decoration: none;
}