/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-avatar--large {
  width: 6rem;
  height: 6rem;
}
.THIS .slds-icon--xx-small {
  width: .6rem;
  height: .6rem;
  margin-top: -0.2rem;
}
.THIS {
  padding-left: 1.5rem;
  border-left: 1px solid #d0d0d0 !important;
}