/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slick-slider {
  max-width: 1140px;
  height: 0;
  margin: 0 auto;
  opacity: 0;
    
   
}
.THIS .slick-slider.slick-initialized {
  height: auto;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}
.THIS .slick-slider .slick-track {
  display: flex;
  transform: inherit;
}
@media (max-width: 48em) {
  .THIS .slick-slider .slick-track > article {
    max-width: 100%!important;
  }
}
.THIS .slick-slider .slick-track > article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px !important;
  height: auto;
  margin: token(spacingMedium) 0;
}
@media (max-width: 48em) {
  .THIS .slick-slider .slick-track > article {
    max-width: 100%!important;
  }
 .THIS .slick-slider {
        max-width: 100%;
        
  }
}
.THIS .slick-slider .slick-track > article:focus {
  outline: none;
}
.THIS .slick-slider .slick-track > article > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 token(spacingSmall);
  flex: 1;
}
.THIS .card > header {
  font-size: .875rem;
  font-weight: token(fontWeightBold);
  line-height: token(lineHeightReset);
  margin-bottom: token(spacingSmall);
  text-transform: uppercase;
}
.THIS .card > header.card__header--Left {
  text-align: left;
}
.THIS .card > header.card__header--Center {
  text-align: center;
}
.THIS .card > header.card__header--Dark {
  color: #000;
}
.THIS .card > header.card__header--Light {
  color: #fff;
}
.THIS .card.card--noHeader {
  padding-top: .875rem;
}
.THIS .card.card--noHeader .card__content {
  margin-top: token(spacingSmall);
}
.THIS .card.card--noFooter {
  padding-bottom: .875rem;
}
.THIS .card.card--noFooter .card__content {
  margin-bottom: token(spacingMedium);
}
.THIS .card .card__content {
  display: flex;
  flex-direction: column;
  border-top: token(borderWidthThick) solid token(colorBorder);
  background-color: #fff;
  box-shadow: 0 5px 12px -3px #aaa;
  flex: 1;
}
.THIS .card .card__content .card__content__image {
  position: relative;
  display: flex;
  width: 100%;
  height: 180px;
  background-size: cover;
}
.THIS .card .card__content .card__content__image:focus {
  outline: none;
}
@media (min-width: 48em) {
  .THIS .card .card__content .card__content__image {
    height: 170px;
  }
}
.THIS .card .card__content .card__content__image .card__content__image__topics {
  font-size: .875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 20px 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.THIS .card .card__content .card__content__body {
  min-height: 240px;
  padding: token(spacingLarge);
  flex: 1;
}
.THIS .card .card__content .card__content__body h3 {
  font-size: 1.25rem;
  font-weight: token(fontWeightBold);
  margin: 0 0 token(spacingSmall) 0;
  text-transform: none;
}
.THIS .card .card__content .card__content__body h3 a {
  color: #000;
}
.THIS .card .card__content .card__content__body p {
  font-size: .875rem;
}
.THIS .card-more {
  font-size: .875rem;
  font-weight: token(fontWeightBold);
  line-height: token(lineHeightReset);
  display: inline-block;
  margin: token(spacingMedium) auto 0;
  text-align: center;
}
.THIS .card-more .slds-icon_container {
  position: relative;
  top: -1px;
}
.THIS.IE {
  display: flex;
  flex-direction: row;
}
.THIS.IE .slick-slider.slick-initialized {
  min-height: 590px;
}
.THIS.IE .slick-slider.slick-initialized .slick-list {
  overflow: hidden;
  height: 100%;
  flex: 1;
}
.THIS.IE .slick-slider.slick-initialized .slick-list .slick-track {
  left: 0!important;
  width: auto!important;
  height: 100%;
}
.THIS.IE .slick-slider.slick-initialized .slick-list .slick-track > article {
  min-width: 380px;
  max-width: 380px;
}
.THIS.IE .card .card__content__body h3,
.THIS.IE .card .card__content__body p {
  width: 100%;
}
.THIS.IE .card .card__content--group .card__content__body > p {
  overflow: hidden;
  max-height: 190px;
}