/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-content-header,
.THIS .forceCommunityHeadline .headlineTitle,
.THIS .forceChatterChatterFollow .following {
  color: #fff !important;
}
.THIS .forceCommunityHeadline .headlineTitle {
  font-size: 36px;
  padding: 0;
  text-transform: none;
}
.THIS .forceChatterChatterFollow .button,
.THIS .forceCommunityAskCommunity,
.THIS .forceChatterChatterNotification,
.THIS .forceChatterChatterFollow .following {
  font-size: 14px;
  padding: 5px 10px;
  text-transform: none;
  border: 1px solid #fff !important;
  border-radius: 5px;
  background: transparent !important;
}
.THIS .mp-topic-description {
  font-size: 14px;
  font-weight: 700;
}