/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .vstretch{
    -webkit-align-items: stretch!important; 
    -ms-flex-align: stretch!important; 
    -ms-grid-row-align: stretch!important;
    align-items: stretch!important; 
    -webkit-align-content: stretch!important; 
    -ms-flex-line-pack: stretch!important; 
    align-content: stretch!important; 
}  

.THIS .grid-item1 {
    margin: 0 2.25% 15px 0; padding: 0px!important; position: relative;
    float: left; clear: none;  text-align: inherit; width: 31%!important;
    box-shadow: 0 0 2px #a7b8d1; border-radius: 2px; min-height:340px!important;
}

.THIS .socialStat {
    height: 45px; padding: 10px 0px 10px 15px; background-color: #eef1f6; 
    position: absolute!important; bottom: 0px!important; width: 100%!important;
}

.THIS .m_b50 {margin-bottom:50px!important;}
.THIS .m_t10{margin-top:10px!important;}
.THIS .floatL{float:left!important;}
.THIS .floatR{float:right!important;}
.THIS .m_lr10{margin:0px 10px!important;}
.THIS .m_lr2010{margin:0px 20px 0px 10px!important;}
.THIS .wSmall{width:27%!important;}
.THIS .wBig{width:57%!important;}


.THIS .memberImg{
    border-radius: 10px!important;
    max-width: none;
    height: auto;
    padding: 10px 0px 25px 0px!important; 
    width:100px!important;
}
.THIS .nameFont{
    font-weight:300;
    font-size:24px;
    color:#333333;
    line-height:25px;   
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
    word-break: break-word!important; /*to control text overflow - 170516*/
}

.THIS .nameWrap{
    
    word-break: break-word!important; /*to control text overflow - 170516*/
}
.THIS.grid {
  	margin: 0 auto; /* centered */
}
.THIS .grid:after {
  	content: '';
  	display: block;
  	clear: both;
}
.THIS .grid-item {
    float: left;
    width: 340px!important;
    /*height: 340px!important;*/
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: 0 0 2px #A7B8D1;
    border-radius: 2px;
    padding-top:15px;
    margin:10px!important;
  
}

.THIS .topics{
    font-size:11px!important;
    padding-bottom: 8px;
}
.THIS .socialStat{
    height: 45px;
    padding: 10px 0px 10px 15px;
    background-color: #EEF1F6;
    /*width:100%!important;*/
}
.THIS .likeImg{
    width:16px; 
    display:inline-block; 
    float:left; 
    margin:0px 5px 0px 5px!important;
}
.THIS .groupImg{
    width:16px; 
    display:inline-block;        
    margin:0px 5px 0px 15px!important;
}
.THIS .knowledgeAbout{
    padding-top:9px;
}

.THIS .grid-item2 {
    min-height: 1px;
}

.THIS pre   {
    white-space: pre-wrap;       
   	white-space: -moz-pre-wrap;  
   	white-space: -pre-wrap;      
   	white-space: -o-pre-wrap;    
   	word-wrap: break-word;       
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
    margin-top: 1px !important;
 	margin-bottom: 1px !important;
    overflow-y: hidden!important
}

.THIS .grid-item2 {
    margin: 0 2.25% 15px 0;
    padding: 0px!important;
    position: relative;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31%!important;
}

@media only screen and (max-width: 1023px){
    .THIS .grid-item1 {width: 47%!important;}
    .THIS .wSmall{width:auto!important;}
    .THIS .wBig{width:auto!important;}
}

@media only screen and (min-width: 768px) and (max-width: 768px){
    .THIS .wSmall{width:25%!important;}
    .THIS .wBig{width:60%!important;}
}

@media only screen and (max-width: 767px){
    .THIS .grid-item1 {width: 100%!important;}
    .THIS .gridFix{min-height:200px!important;}
    .THIS .m_lrb10{margin:0px 10px 50px 10px!important;}
}

@media only screen and (max-width: 480px){
    .THIS .wSmall{width:40px!important;}
    .THIS .wBig{width:60%!important;}
    .THIS .imgFix{width:50px!important;}
}