/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .searchHeaderFont{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin: 0;
}
.THIS .displyIconImage{
    height: 18px;
}
.THIS.slds-page-header {
    padding: 1.5rem 1.5rem 0.75rem;
    border-bottom: 1px solid #d8dde6;
    background: #f4f6f9;
    margin-bottom: 20px!important;
}
.THIS .slds-dropdown--small {
    min-width: 14rem!important;
}
.THIS .tickSymbol{
    height:12px;
    margin-top: 6px;
}
.THIS .sortByDiv{
   width: 145px!important;
}
.THIS .buttonlabel{
    color:white!important;
    width:100%;
}
.THIS .showImg{
    display:block;
}
.THIS .hideImg{
    display:none;
}
.THIS .menuDown{
    position:absolute;
    display:none;
}
.THIS.slds-page-header {
    background: #f4f6f9;
    margin-bottom: -36px!important;
    height: 85px;
    border-radius: 2px;
    box-shadow: 0 0 2px #A7B8D1;
    width: 100%!important;
}
.THIS .slds-select_container:after {
    border-top: 0px solid #061c3f !important;
    bottom: calc((2.125rem / 2) - 6px);
}
.THIS .buttonCss{
    margin-right: 20px!important;
    width: 165px;
    height: 35px;
    margin-top: 2px;
}

.THIS .paddingDropdown{
   padding: 0px 10px!important;
}
.THIS .select.ui.dropdown{height:40px!important;}
.THIS .slds-icon__container{
    background: #cc2f01!important;
}
@media only screen and (max-width: 490px) {
	.THIS .floatFix{float:left!important;}
    .THIS.slds-page-header {min-height:120px!important;}
}