/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS h2.progress-header {
  padding: 0 40px;
}
.THIS .mp-user-dashboard {
  padding: 50px 0;
  background: url('/resource/mercerPremier/images/dashboard-bg@2x.png') no-repeat center top;
  background-size: auto 584px;
}
.THIS .mp-user-dashboard.phase-2 {
  padding: 18px 0;
  background: url('/resource/mercerPremier/images/dashboard-bg2@2x.png') no-repeat center top;
  background-size: auto 223px;
}
.THIS .mp-welcome {
  font-size: 14px;
  font-weight: 700;
  padding: 40px 20px;
  padding-bottom: 20px;
  border: 15px solid #fff;
  background: #f0f0f0;
}
.THIS h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;
  color: #002c77;
}
.THIS h1 strong {
  font-size: 36px;
}
.THIS .phase-2 .mp-welcome {
  padding: 0;
  border: 0;
  background: transparent;
}
.THIS .phase-2 h1 {
  font-size: 24px;
  margin: 0;
}
.THIS .mp-dashboard-icon {
  width: 46px;
  height: auto;
  margin-bottom: 10px;
}