/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-page-header {
  position: absolute;
  top: 0;
}
.THIS .mp-header-content {
  position: relative;
  top: 0;
}
.THIS .mp-page-visibility {
  font-size: 14px;
  padding: 15px 0;
  background: #f0f0f0;
}
.THIS .mp-page-visibility .public {
  color: #ed2c67;
}
.THIS .mp-page-visibility .private {
  color: #6f83c1;
}
.THIS .mp-page-headline {
  /* set by component configuration */
  /* end set by component configuration */
}
.THIS .mp-page-headline,
.THIS .mp-page-headline.mp-page-headline--padding-medium {
  padding: 45px 0;
}
.THIS .mp-page-headline.mp-page-headline--padding-small {
  padding: 20px 0 6px;
}
.THIS .mp-page-headline.mp-page-headline--padding-large {
  padding: 65px 0;
}
.THIS h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.THIS h1 small {
  font-size: 14px;
  text-transform: uppercase;
}
.THIS h1.mp-font-dark,
.THIS p.mp-font-dark {
  color: #000;
}
.THIS h1.mp-font-light,
.THIS p.mp-font-light {
  color: #fff;
}
.THIS h1.mp-font-brand,
.THIS p.mp-font-brand {
  color: token(colorTextBrand);
}
.THIS .tooltip {
  font-size: 10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  padding: 0;
  vertical-align: text-top;
  color: #fff;
  border-radius: 8px;
}
.THIS .public .tooltip {
  background: #ed2c67;
}
.THIS .private .tooltip {
  background: #6f83c1;
}