.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "Please select a buyer";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } .THIS .none{
 display:none; }
.THIS .customRequiredOffice{
 font-weight: 400; } .THIS .customRequiredOffice:before{    
 content: "Please select Opportunity Office";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; }
.THIS .customRequiredOwner{
 font-weight: 400; } .THIS .customRequiredOwner:before{    
 content: "Please select Opportunity Owner";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; }

.THIS .accountLookup > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > * > label { 
display: none !important; 
}