/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS.expertsWrapper {
  padding: 1rem 0;
  border-left: 1px solid rgba(51, 51, 51, 0.21);
}
.THIS.expertsWrapper h2 {
  text-align: left;
}
.THIS.expertsWrapper img {
  width: 75%;
  height: 100%;
  border: 4px solid #efefef;
  border-radius: 50%;
}