.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}

.THIS .reqAcc:before{
    content: "*";
    color: rgb(194, 57, 52);
    float: left;
    padding-right:3px;
}

.THIS .accountLookup > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > label { 
display: none !important; 
} 
.THIS .accountLookup > * > * > * > * > label { 
display: none !important; 
}