<apex:page id="pg"  applyHtmlTag="false" showHeader="false" action="{!getRollUpString}" standardStylesheets="false"  Controller="AccountDetail_RollUpPDFPageController" 
    renderAs="pdf"> 
   <head>
   <style>
     @page{
        size: A4 landscape;
     }
    </style>
   </head>
    <apex:form >
        <img style="WIDTH:200px; HEIGHT:30px" src='{!URLFOR($Resource.MercerForec_New_Logo)}' align="right"/>
            <left>
             <h1 style="font-size:150%">{!selectedYear} CLIENT GROWTH PLAN</h1>
            </left>
      <apex:outputPanel id="roleUpId"> 
                                <div id="rollUpTableId" >
                                    <apex:outputText value="{!roleUpTableString}" escape="false" />
                                </div>
                             </apex:outputPanel>
    </apex:form>
   
    
    
</apex:page>