<apex:page standardController="Opportunity" lightningStylesheets="true">
    
    <apex:includeScript value="/soap/ajax/21.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/21.0/apex.js"/>
    
    <script>
    var oppId = "{!Opportunity.Id}";
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    var oppDetail = sforce.apex.execute("Mercer_DelegatedCodeSetUpController","getOppDetail",{opp:oppId});
    var oppD = JSON.parse(oppDetail)[0];
    
    if(oppD.Opp_Number_of_LOBs__c == 0)
    {
        alert('No product to be updated in WEBCAS');
    }
    else{
        
        if (oppD.Opp_Number_of_LOBs__c == 1)
        {
            
            window.location.href="/apex/DelegateCodeSetUpEmail?id="+oppId;
        }
        else if(oppD.Opp_Number_of_LOBs__c > 1)
        {
            
            window.location.href="/apex/DelegateCodeSetUpEmail?id="+oppId;
            
        }
        
    }
    </script>
</apex:page>