<apex:page controller="descobj_acl" sidebar="false" contentType="{!contType}">
<style>
.labels {  text-align:center; width:130px; font-weight:bold; }
.activeTab {background-color: #236FBD; color:white; background-image:none}
.inactiveTab { background-color: lightgrey; color:black; background-image:none}
.quote {
        font-family:  'Times New Roman', sans-serif;
        font-size:120%; 
       }

</style>
<apex:form >
<apex:pageBlock >
    <apex:pageBlockButtons location="top"><apex:commandButton value="Export to Excel" action="{!save}"/> </apex:pageBlockButtons>
<apex:pageBlockSection collapsible="true" title="Select An Object">

    <apex:selectList value="{!objects}" id="objN" size="1">
        <br />
        <!-- <apex:outputLabel value="Object Name " for="objN"/> -->
        <apex:selectOptions value="{!objnames}" />
        <apex:actionSupport event="onchange" rerender="shtab,objectDescription,childRel" status="status"/>
    </apex:selectList>
    
</apex:pageBlockSection>
</apex:pageBlock>




<apex:pageBlock >
<apex:pageBlockSection title="Object Description" id="objectDescription" collapsible="true" columns="2">


<apex:dataTable value="{!objdes}" var="o" id="olist" width="600" >
<apex:column width="200"><apex:panelgrid columns="2" border="0" width="300">
<apex:outputLabel value="Label " styleClass="labels" /><apex:outputText value="{!o.Label}" id="lab"/>
<apex:outputLabel value="KeyPrefix " styleClass="labels" /><apex:outputText value="{!o.KeyPrefix}" id="kp"></apex:outputText>
<apex:outputLabel value="Plural " styleClass="labels" /><apex:outputText value="{!o.LabelPlural}" id="plu"></apex:outputText>
<apex:outputLabel value="Local Name" styleClass="labels" /><apex:outputText value="{!o.LocalName}" id="loc"></apex:outputText>
<apex:outputLabel value="Name " styleClass="labels"/><apex:outputText value="{!o.Name}" id="nm"></apex:outputText>
</apex:panelgrid>
</apex:column> <!--<apex:column width="200"><apex:panelgrid columns="2" border="0" width="300">
<apex:outputLabel value="Is Accesible" styleClass="labels"/><apex:outputText value="{!o.Accessible}" id="acc"></apex:outputText>
<apex:outputLabel value="Is Createable" styleClass="labels"/><apex:outputText value="{!o.Createable}" id="cre"></apex:outputText>
<apex:outputLabel value="Is Custom " styleClass="labels"/><apex:outputText value="{!o.Custom}" id="cus"></apex:outputText>
<apex:outputLabel value="Is CustomSetting " styleClass="labels"/><apex:outputText value="{!o.CustomSetting}" id="cst"></apex:outputText>
<apex:outputLabel value="Is Undeletable " styleClass="labels"/><apex:outputText value="{!o.Undeletable}" id="und"></apex:outputText>
</apex:panelgrid> 
</apex:column>
  <apex:column width="200"><apex:panelgrid columns="2" border="0" width="300"> 
        <apex:outputLabel value="Is Deletable " styleClass="labels"/><apex:outputText value="{!o.Deletable}" id="del"></apex:outputText>
        <apex:outputLabel value="Is DeprecatedAndHidden " styleClass="labels"/><apex:outputText value="{!o.DeprecatedAndHidden}" id="dep"></apex:outputText>
        <apex:outputLabel value="Is Mergeable " styleClass="labels"/><apex:outputText value="{!o.Mergeable}" id="mer"></apex:outputText>
        <apex:outputLabel value="Is Queryable " styleClass="labels"/><apex:outputText value="{!o.Queryable}" id="que"></apex:outputText>
        <apex:outputLabel value="Is Searchable " styleClass="labels"/><apex:outputText value="{!o.Searchable}" id="ser"></apex:outputText>
        <apex:outputLabel value="Is Updateable " styleClass="labels"/><apex:outputText value="{!o.Updateable}" id="upd"></apex:outputText>
    </apex:panelgrid>
</apex:column>-->
</apex:dataTable>

</apex:pageBlockSection>
</apex:pageBlock> 

<apex:pageBlock id="childRel">
<apex:pageBlockSection title="Child Relationships" collapsible="true" >
<apex:dataTable value="{!childrelvals}" var="c" id="page4" cellpadding="5" cellspacing="5">
<apex:column value="{!c.a}" headerValue="Child SObject"/>
<apex:column value="{!c.b}" headerValue="Field"/>
<apex:column value="{!c.c}" headerValue="Relationship Name"/>
<apex:column value="{!c.d}" headerValue="is Cascade Delete"/>
<apex:column value="{!c.e}" headerValue="is Deprecated And Hidden"/>

</apex:dataTable>


</apex:pageBlockSection>
</apex:pageBlock>


<apex:pageBlock id="page3"> 
    <apex:pageBlockSection title="Field Description" collapsible="true" >  
        
        <apex:tabPanel switchType="client" selectedTab="Home" id="shtab" contentClass="tabStyle" tabClass="activeTab" inactiveTabClass="inactiveTab" >
        
        <apex:tab label=" General Details " name="GenDet" id="tabOne">
        <apex:dataTable value="{!fieldtypes}" var="s" cellspacing="5" cellpadding="5" id="objDesc" >
            <apex:column value="{!s.Name}" headerValue=" Name"/>
            <apex:column value="{!s.Label}" headerValue=" Label "/>
            <apex:column value="{!s.Type}" headerValue="Type"/>
            <apex:column value="{!s.SoapType}" headerValue="SOAP Type"/>            
            <apex:column value="{!s.Length}" headerValue="Length"/>
            <apex:column value="{!s.Digits}" headerValue="Digits"/>                        
            <apex:column value="{!s.Precision}" headerValue="Precision"/>                        
            <apex:column value="{!s.Scale}" headerValue="Scale"/>                        
            <apex:column value="{!s.ByteLength}" headerValue="Byte Length"/>                        
            <apex:column value="{!s.InlineHelpText}" headerValue="Help Text"/>                        
            
    
        </apex:dataTable>
         
        </apex:tab>
          <apex:tab label=" Advanced Properties " name="adv" id="tab2">
          <apex:dataTable value="{!fieldtypes}" var="s" cellspacing="5" cellpadding="5" id="objDesc2" >
            <apex:column value="{!s.Name}/{!s.LocalName}" headerValue=" Name/Local Name"/>
            
            <apex:column value="{!s.CalculatedFormula}" headerValue="Calculated Formula"/>                               
            <apex:column value="{!s.Controller}" headerValue="Controller"/>
            <apex:column value="{!s.DefaultValueFormula}" headerValue="Default Value Formula"/>
            
            <apex:column value="{!s.RelationshipName}" headerValue="Relationship Name"/>
            <apex:column value="{!s.RelationshipOrder}" headerValue="Relationship Order"/>
                                   

        </apex:dataTable>
         
        </apex:tab>
          <apex:tab label=" Boolean Properties " name="boo" id="tab3">
        <apex:dataTable value="{!fieldtypes}" var="s" cellspacing="5" cellpadding="5" id="objDesc3" >
            <apex:column value="{!s.Name}/{!s.LocalName}" headerValue=" Name/Local Name"/>
         
            <!--<apex:column headerValue="isAccessible">
            <apex:outputtext value="{!s.Accessible}" />
            </apex:column>
            <apex:column value="{!s.isAutoNumber}" headerValue="isAutoNumber"/>
            <apex:column value="{!s.isCalculated}" headerValue="isCalculated"/>                        
            <apex:column value="{!s.isCreateable}" headerValue="isCreateable"/>
            <apex:column value="{!s.isCustom}" headerValue="isCustom"/>
            <apex:column value="{!s.isCaseSensitive}" headerValue="isCaseSensitive"/>
            
            <apex:column value="{!s.isDefaultedOnCreate}" headerValue="isDefaultedOnCreate"/>
            <apex:column value="{!s.isDependentPicklist}" headerValue="isDependentPicklist"/> -->
        </apex:dataTable>
         
        </apex:tab>
        </apex:tabPanel>
        
    </apex:pageBlockSection>
</apex:pageBlock>
 <!--<apex:actionStatus id="status">
    <apex:facet name="start">
    <c:action_status BackColor="#efefef" borderColor="#336699" borderSize="3" height="50px" width="120px" ImageUrl="{!$Resource.Ajax_Loader}" Message="" messageStyle="color:darkred;font-size:10pt;font-weight:bold;"/>
    </apex:facet>
 </apex:actionStatus>
 -->
</apex:form>
</apex:page>