<apex:page standardController="Contact_Team_Member__c" extensions="AP37_ContactTeamController" title="Contact Team" lightningStylesheets="true">
  <apex:sectionHeader title="Contact Team Edit" subtitle="New Contact Team"/>
  <apex:pageMessages id="pageMessages">
  </apex:pageMessages>
  
  <apex:form >
      <apex:inputHidden value="{!Contact_Team_Member__c.Contact__r.FirstName}"/>
      <apex:inputHidden value="{!Contact_Team_Member__c.Contact__r.LastName}"/>
      
      <apex:pageblock title="Contact Team Edit">
          <apex:pageblockButtons >
              <apex:commandButton value="Save" action="{!save}" reRender="pageMessages"/>
              <apex:commandButton value="Save & New" action="{!savenew}" reRender="pageMessages"/>
              <apex:commandButton value="Cancel" action="{!cancel}"/>
          </apex:pageblockButtons>
          <apex:pageblockSection title="Information" collapsible="false">
              <apex:inputField value="{!Contact_Team_Member__c.ContactTeamMember__c}" required="true"/>
              <apex:inputField value="{!Contact_Team_Member__c.Contact__c}"/>
          </apex:pageblockSection>
      </apex:pageblock>
  </apex:form>
</apex:page>