<apex:page standardcontroller="Scope_Modeling__c" extensions="AP86_pdfGenerator_ScopeModeling" renderAs="pdf" applyHtmlTag="false" applyBodyTag="false" showHeader="false">
    <head>
        <style type="text/css">
                
                @page 
                {
                size:landscape;
                margin: 2% 2% 2% 2%; 
                @bottom-right {
                content: "Page " counter(page) " of " counter(pages);
                }
                 @bottom-left {
                    content: "Date: {!DAY(TODAY())}-{!monthShort}-{!YEAR(TODAY())}";
                    font-family: sans-serif;
                    font-size: 80%;
                            }
                }
            
                *{
                font-family: calibri,sans-serif;
                 font-size:13px;
                }
                
                .break { 
                page-break-before: always; 
                }
                
                .break1 { 
                page-break-after: avoid; 
                }
                
                .classA{
                text-align:left;
                }
                
            
            }
        </style>
    </head>
    <body>
        <right>
            <apex:image url="{!$Resource.MercerForceIconPDF}" width="200px" height="35px" />
        </right>
        <center>
             <h1 style="font-size:200%">Scope Modeling Detail</h1>

        </center>
        <hr style="height:3px;border:block;color:#333;background-color:#333;" />


        <div class="break1">
             <h3 style="font-size:125%"> Scope Modeling Information </h3>
             <hr/>
                <apex:panelGrid columns="2" width="100%">
                    <apex:panelGroup >
                        <Apex:outputLabel value="Scope Modeling Name  :  " for="theProjectName2" />
                        <apex:outputText value="{!Scope_Modeling__c.name}" style="font-style:Arial" id="theProjectName2" /></apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="LOB:  " for="theProjectLOB" />
                        <apex:outputText value="{!Scope_Modeling__c.LOB__c}" id="theProjectLOB" /></apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="Solution Segment:  " for="theSolutionSegment" />
                        <apex:outputText value="{!Scope_Modeling__c.Solution_Segment__c}" id="theProjectName" /></apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="Product:  " for="theProduct" />
                        <apex:outputText value="{!Scope_Modeling__c.Product_Name__c}" id="theProduct" /></apex:panelGroup>

                    <apex:panelGroup >
                        <Apex:outputLabel value="Cluster:  " for="theCluster" />
                        <apex:outputText value="{!Scope_Modeling__c.Cluster__c}" id="theCluster" /></apex:panelGroup>
                    <br/>
                    <apex:outputText />
                    <apex:outputText />
                     <h4 style="text-decoration:underline;">Price and Profitablity Details</h4>

                    <apex:outputText />
                    <apex:panelGroup >
                        <Apex:outputLabel value="Sales Price:  " for="theSalesprice" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Sales_Price__c}" /></apex:outputText>
                    </apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="Cost:  " for="theCost" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Cost__c}" /></apex:outputText>
                    </apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="Billable Expenses:  " for="theBillableExpenses" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Billable_Expenses__c}" /></apex:outputText>
                    </apex:panelGroup>
                    <apex:panelGroup >
                        <Apex:outputLabel value="Profit (Loss):  " for="theProfit" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Profit_Loss__c}" /></apex:outputText>
                    </apex:panelGroup>

                        <apex:outputText />
                    <apex:panelGroup >
                        <Apex:outputLabel value="Margin:  " for="theMargin" />
                        <apex:outputText value="{0, number, 00}%" id="theMargin">
                        <apex:param value="{!Scope_Modeling__c.Margin__c}"/></apex:outputText>
                    </apex:panelGroup>
               

                        
                    
                    <apex:panelGroup >
                        <Apex:outputLabel value="Billable Time Charges:  " for="theCharges" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Billable_Time_Charges__c}" /></apex:outputText>
                    </apex:panelGroup>
                    <apex:outputText />
                     <apex:panelGroup >
                        <Apex:outputLabel value="IC Charges:  " for="theIcCharges" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.IC_Charges__c}" /></apex:outputText>
                    </apex:panelGroup>
                    <apex:outputText />
                     <apex:panelGroup >
                        <Apex:outputLabel value="Planned Fee Adj:  " for="thePlanned" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Planned_Fee_Adj__c}" /></apex:outputText>
                    </apex:panelGroup>
                   <apex:outputText />

                    
                    <apex:panelGroup >
                        <Apex:outputLabel value="Non-Billable Time Charges:  " for="theNCharges" />
                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                            <apex:param value="{!Scope_Modeling__c.Non_Billable_Time_Charges__c}" /></apex:outputText>
                    </apex:panelGroup>
                </apex:panelGrid>
                <br/>
                <br/>
                <table style="table-layout:auto; width:100% " cellspacing="4" cellpadding="0">
                    <tr>
                        <th>Task Name</th>
                        <th>Bill Type</th>
                        <th>Expenses</th>
                        <th>Time Charges</th>
                        <th>IC Charges</th>
                    </tr>
                    <apex:repeat value="{!taskList}" var="b">
                        <tr>
                            <td>
                                <apex:outputText value="{!b.Task_Name__c}" />
                            </td>
                            <td>
                                <apex:outputText value="{!b.Bill_Type01__c}" />
                            </td>
                            <td>
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!b.Billable_Expenses__c<>null}">
                                    <apex:param value="{!b.Billable_Expenses__c}" /></apex:outputText>
                            </td>
                            <td>
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!b.Billable_Time_Charges__c<>null}">
                                    <apex:param value="{!b.Billable_Time_Charges__c}" /></apex:outputText>
                            </td>
                             <td>
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!b.IC_Charges__c<>null}">
                                    <apex:param value="{!b.IC_Charges__c}" /></apex:outputText>
                            </td>
                        </tr>
                    </apex:repeat>
                </table>
                <br/>
                <br/>
               
                <div>
                    <apex:repeat value="{!taskList}" var="c">
                     <div class="break"></div>
                        <hr></hr>
                        
                        <h4 style="font-size:125%">Task Summary</h4>

                        <hr></hr>
                        <apex:panelGrid columns="2" width="100%">
                            <apex:panelGroup >
                                <Apex:outputLabel value="Task Name:  " for="theTask" />
                                <apex:outputText value="{!c.Task_Name__c}" id="theTask" /></apex:panelGroup>
                            <apex:panelGroup >
                                <Apex:outputLabel value="Bill Type:  " for="theBType" />
                                <apex:outputText value="{!c.Bill_Type01__c}" id="theBType" /></apex:panelGroup>
                            <apex:panelGroup >
                                <Apex:outputLabel value="Expenses:  " for="theBExpense" />
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!c.Billable_Expenses__c <> null}">
                                    <apex:param value="{!c.Billable_Expenses__c}" /></apex:outputText>
                            </apex:panelGroup>
                            <apex:outputText />
                             <h4 style="text-decoration:underline;"> Blended % Increase:</h4>

                            <apex:outputText />
                            <apex:panelGroup >
                                <Apex:outputLabel value="Bill Rate%:  " for="theBRate" />
                                <apex:outputText value="{!c.Bill_Rate__c}" id="theBRate" /></apex:panelGroup>
                            <apex:panelGroup >
                                <Apex:outputLabel value="Bill Est. # of Increases:  " for="theIncrease" />
                                <apex:outputText value="{!c.Bill_Est_of_Increases__c}" id="theIncrease" /></apex:panelGroup>

                             <h4 style="text-decoration:underline;">Price and Profitability Details</h4>

                            <apex:outputText />
                            <apex:panelGroup >
                                <Apex:outputLabel value="Billable Time Charges:  " for="theBCharges" />
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!c.Calc_Billable_Time_Charges__c<>null}">
                                    <apex:param value="{!c.Calc_Billable_Time_Charges__c}" /></apex:outputText>
                            </apex:panelGroup>
                            <apex:panelGroup >
                                <Apex:outputLabel value="Cost:  " for="theCost" />
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}">
                                    <apex:param value="{!c.Cost__c}" /></apex:outputText>
                            </apex:panelGroup>
                             <apex:panelGroup >
                                <Apex:outputLabel value="IC Charges:  " for="theIcCharges" />
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!c.IC_Charges__c<>null}">
                                    <apex:param value="{!c.IC_Charges__c}" /></apex:outputText>
                            </apex:panelGroup>
                            <apex:outputText />
                            <apex:panelGroup >
                                <Apex:outputLabel value="Non-Billable Time Charges:  " for="theNBCharges" />
                                <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!c.Non_Billable_Time_Charges__c<>null}">
                                    <apex:param value="{!c.Non_Billable_Time_Charges__c}" /></apex:outputText>
                            </apex:panelGroup>
                        </apex:panelGrid>
                        <br/>
                        <br/>
                        <table style="table-layout: auto; width:100%" cellspacing="2" cellpadding="0">
                            <tr>
                                <th>Employee</th>
                                <th>Level</th>
                                <th>Business</th>
                                <th>Market/Country</th>
                                <th>Bill Rate</th>
                                <th>Billable Time Charges</th>
                                <th>Hours</th>
                            </tr>
                            <apex:repeat value="{!c.Scope_Modeling_Employees__r}" var="e">
                                <tr>
                                    <td>
                                        <apex:outputText value="{!e.Name__c}" />
                                    </td>
                                    <td>
                                        <apex:outputText value="{!e.Level__c}" />
                                    </td>
                                    <td>
                                        <apex:outputText value="{!e.Business__c}" />
                                    </td>
                                    <td>
                                        <apex:outputText value="{!e.Market_Country__c}" />
                                    </td>
                                    <td>
                                      
                                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!e.Bill_Rate__c<>null}">
                                    <apex:param value="{!e.Bill_Rate__c}" /></apex:outputText>
                                    </td>
                                    <td>
                                        <apex:outputText value="{!Scope_Modeling__c.currencyISOCode} {0, number,###,###,##0.00}" rendered="{!e.Billable_Time_Charges__c<>null}">
                                    <apex:param value="{!e.Billable_Time_Charges__c}" /></apex:outputText>
                                    </td>

                                    <td>
                                        <apex:outputText value="{!e.Hours__c}" />
                                    </td>
                                </tr>
                            </apex:repeat>
                            
                        </table>
                    </apex:repeat>
           
        </div>     </div>
  
        
    </body>
</apex:page>