<apex:page standardcontroller="Growth_Plan__c"  extensions="AP114_GrowthPlan_pdfgenerator" renderAs="pdf" applyHtmlTag="false" applyBodyTag="false" showHeader="false">
    <head>
        <style type="text/css">
                
                div.line-separator{

                height:1px;
                
                background:#717171;
                
                border-bottom:1px solid #313030;
                
                
                }
                
                
                @page :first
                {
                 size:portrait;
                }
                @page :last
                {
                 size:portrait;
                }            

                @page 
                {
                size:portrait;
                margin: 1.4%,1.4%,2%,1.4%; 
           
                @bottom-right {
                font-family: calibri,sans-serif;
                font-size:12px;                 
                content: "Page " counter(page) ;
                }
                @bottom-center {
                font-family: calibri,sans-serif;
                font-size:12px;  
                content: "{!growth.account__r.name} - {!growth.Planning_Year__c} Client Growth Plan";
                                
                }
                
                }
            
                *{
                font-family: calibri,sans-serif;
                 font-size:12px;
                }
                
                .break { 
                page-break-after: auto; 
                }
                       
                .classA{
                    text-align:left;
                
                    }
                    
                    .ctable {border-collapse:collapse; table-layout:fixed; width:310px;}
                    .ctd {border:solid 1px #fab; width:100px; word-wrap:break-word;}
                
            
            .col1 {width:50px; text-align:center;}
            .col2 {width:50px; text-align:center;}
            .col3 {width:50px; text-align:center;}  
            .col4 {width:50px; text-align:center;}
            .col5 {width:50px; text-align:center;}
            .col6 {width:50px; text-align:center;}  
            .col7 {width:50px; text-align:center;}
            .col8 {width:50px; text-align:center;} 
            .colstyle {width:10.25%}
        </style>
    </head>
    <body>
        <img style="WIDTH:200px; HEIGHT: 35px" src='{!URLFOR($Resource.MercerForceIconPDF)}' align="right"/>
      <!--  <right>
            <apex:image url="{!$Resource.MercerForceIconPDF}" width="200px" height="35px" />
        </right> -->
        <left>
             <h1 style="font-size:200%">{!growth.Planning_Year__c} Client Growth Plan</h1>

        </left>
        <hr style="height:3px;border:block;color:#333;background-color:#333;" />
        <div >
             <!--<h3 style="text-decoration:underline;font-size:125%"> Client Overview </h3> --> 

           
            <apex:panelGrid id="thePanel" border="0" columns="3" columnClasses="classA" cellspacing="3px;" width="100%" style="margin-Left:3mm;" >
                <apex:panelGroup >
                    <apex:outputLabel value="Account Name:  " for="theName" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.name}" id="theName"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                <apex:panelGroup >
                    <apex:outputLabel value="RM:  " for="theManager" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.Relationship_Manager__r.Name}" id="theManager"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
  
               <apex:panelGroup >
                    <apex:outputLabel value="Share of Wallet:  " for="theShare" style="font-weight: bold"/>
                    <apex:outputField value="{!growth.Share_of_Wallet__c}" id="theShare"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>     
                    
                    
               <apex:panelGroup >
                    <apex:outputLabel value="Planning Year:  " for="thePlanning Year" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.Planning_Year__c}" id="theYear" styleClass="Name"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                <apex:panelGroup >
                <apex:outputLabel value="RM Office:  " for="theOff" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.Relationship_Manager__r.Office__c}" id="theOff"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
               <!-- Commented to fix date format 
                <apex:panelGroup > 
                <apex:outputLabel value="Date of Last CEM :  " for="theCEM" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.Date_of_Last_CEM_Interview__c}" id="theCEM"  style="font-family: Arial Unicode MS;"/>
               </apex:panelGroup> --> 
                <apex:panelGroup > 
                <apex:outputLabel value="Date of Last CEM :  " for="theCEM" style="font-weight: bold"/>
                    <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}" id="theCEM"  style="font-family: Arial Unicode MS;/">
                    <apex:param value="{!growth.account__r.Date_of_Last_CEM_Interview__c}" /> 
                    </apex:outputText>
                
                </apex:panelGroup>
               
               
                <apex:panelGroup >               
                    <apex:outputLabel value="Status:  " for="theStatus" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.Status__c}" id="theStatus"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                <apex:panelGroup >
                    <apex:outputLabel value="RM LOB:  " for="theLOB" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.RM_LOB__c}" id="theLOB"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                    
                    
                 <apex:panelGroup >                                  
                    <apex:outputLabel value="NPS Survey Sent Date:  " for="theNPS" style="font-weight: bold"/>
                    <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}" id="theNPS"  style="font-family: Arial Unicode MS;"> 
                                <apex:param value="{!growth.Account__r.NPS_Survey_Sent_Date__c}" /></apex:outputText> </apex:panelGroup>
                 
                 
                <apex:panelGroup >
                    <apex:outputLabel value="Growth Indicator :  " for="thePlan" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.Growth_Indicator__c}%" id="thePlan"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>                                           
               <apex:panelGroup >
                    <apex:outputLabel value="RM Zone*:  " for="theMarke" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.Account_Sub_Market__c}" id="theMarke" style="font-family: Arial Unicode MS;" /></apex:panelGroup>                               
                 <apex:panelGroup >
                    <apex:outputLabel value="Average NPS Score:  " for="theAverageNPS" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.account__r.Average_NPS_Score__c}" id="theAverageNPS" style="font-family: Arial Unicode MS;" /></apex:panelGroup>            
                 <apex:panelGroup >
                    <apex:outputLabel value="Rebid in Planning Year?:  " for="theRebid" style="font-weight: bold"/>
                    <apex:outputText value="{!IF((growth.Rebid_in_Planning_Year__c),"Yes","No")}" id="theRebid" style="font-family: Arial Unicode MS;" /></apex:panelGroup>
                     
                
                  
                   <apex:panelGroup >
                    <apex:outputLabel value="Account Tier:  " for="theTier" style="font-weight: bold"/>
                    <apex:outputText value="{!growth.Account__r.Account_Tier__c}" id="theTier"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                                                                                  
                  
                 <apex:panelGroup >
                 <apex:outputLabel value="Parent Growth Plan ID:  " for="theParent" style="font-weight: bold"/>
                 <apex:outputText value="{!growth.Parent_Growth_Plan_ID__r.Name}" id="theParent"  style="font-family: Arial Unicode MS;"/></apex:panelGroup>
                 <apex:panelGroup >
                 <apex:outputLabel value="Is this Client a Key Account? :  " for="theKeyAccount" style="font-weight: bold"/>
                 <apex:outputText value="{!IF((growth.Is_this_Client_a_Key_Account__c),"Yes","No")}" id="theKeyAccount" style="font-family: Arial Unicode MS;" /></apex:panelGroup>  
                 <apex:panelGroup >
                 <apex:outputLabel value="Is this a Parent Growth Plan? :  " for="theParentGP" style="font-weight: bold"/>
                 <apex:outputText value="{!IF((growth.Parent_Growth_Plan_On_CGP__c),"Yes","No")}" id="theParentGP" style="font-family: Arial Unicode MS;" /></apex:panelGroup>                   
                 </apex:panelGrid>
           <div /> 
            
           <div /> 
            <h3 style="text-decoration:underline;font-size:125%">Client Insights</h3>
                  <apex:outputText />
               

            
        
            <table style= "table-layout: fixed;width: 750px;border: 1px solid black;">
    <tr style= "border: 1px solid black;overflow: hidden;width: 100px;"> 
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Client Business Imperatives " for="theSoln"  style="font-weight: bold;" /></td>
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Client Business  Needs " for="thePSoln" style="font-weight: bold"/></td>
    </tr>
    <tr style= "display: block;border: 1px solid black;overflow: hidden;width: 742px;height: 150px;">

        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"><apex:outputText value="{!growth.Client_Business_Objectives__c}" id="theSoln1" style="font-family: Arial Unicode MS;text-align: top;" /></td>        
        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"><apex:outputText value="{!growth.Client_Business_Needs__c}" id="thePSoln2" style="font-family: Arial Unicode MS;text-align: top;"/></td>     
    </tr>
    
    <tr style= "border: 1px solid black;overflow: hidden;width: 100px;"> 
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Mercer's Strengths in this Relationship" for="thePrimary1" style="font-weight: bold"/> </td>
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Mercer's Weaknesses in this Relationship" for="theYrRevenue1" style="font-weight: bold"/></td>
    </tr>
    <tr style= "display: block;border: 1px solid black;overflow: hidden;width: 742px;height: 150px;">
        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"><apex:outputText value="{!growth.Client_s_strengths__c}" id="thePrimary1" style="font-family: Arial Unicode MS;text-align: top;" /></td>     
        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"><apex:outputText value="{!growth.Client_s_weaknesses__c}" id="theYrRevenue1"  style="font-family: Arial Unicode MS;text-align: top;;width:375px;height:150px"/></td> 
    </tr>
    
    <tr style= "border: 1px solid black;overflow: hidden;width: 100px;"> 
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Mercer's Opportunities in this Relationship" for="theSClient1" style="font-weight: bold"/> </td>
        <td style= "border: 1px solid black;overflow: hidden;"><apex:outputLabel value="Mercer's Threats in this Relationship" for="theWeak1" style="font-weight: bold"/></td>
    </tr>
    <tr style= "display: block;border: 1px solid black;overflow: hidden;width: 742px;height: 150px;">
        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"> <apex:outputText value="{!growth.Client_s_opportunities__c}" id="theSClient1" style="font-family: Arial Unicode MS;text-align: top;" /></td>        
        <td style= "border: 1px solid black;overflow: hidden;width: 375px;height: 150px;vertical-align: top;text-align: left;"><apex:outputText value="{!growth.Client_s_threats__c}" id="theWeak1" style="font-family: Arial Unicode MS;text-align: top;" /></td>  
    </tr>
    
    
    
    </table>
                
                
                     
             <h3 style="text-decoration:underline;font-size:125%">Client Relationships</h3>
                  <apex:outputText />
                <apex:panelGrid id="thePanel3" border="0" columns="1" columnClasses="classA" cellspacing="7px;" width="100%" style="margin-Left:3mm;">
                <apex:panelGroup >
                    <apex:outputLabel value="Buying center(s) to focus on in the growth planning year" for="theCenter" style="font-weight: bold"/><br/>
                    <!--<apex:outputText value="{!growth.Past_Buying_Centers__c}" id="theCenter" style="font-family: Arial Unicode MS;" /> -->
                
                     <br/>
                     <apex:pageBlock >
                    <table border = "0" >
                        <tr>
                            <td >
                                <apex:pageBlockTable value="{!ProcuredServices1}" var="item" columns="2" border="0">       
                                    <apex:column > 
                                        <apex:panelGrid border="0" columns="2" >
                                            <apex:image value="/img/checkbox_unchecked.gif" rendered="{!(growth.Past_Buying_Centers__c==NULL || (growth.Past_Buying_Centers__c!=NULL &&  !CONTAINS(growth.Past_Buying_Centers__c, item) ))}"/>
                                            <apex:image value="/img/checkbox_checked.gif" rendered="{!(growth.Past_Buying_Centers__c!=NULL && CONTAINS(growth.Past_Buying_Centers__c, item))}"/>
                                            <apex:outputText value="{!item}"/>
                                        </apex:panelGrid>
                                    </apex:column> 
                                </apex:pageBlockTable> 
                            </td>      
                               
                            <td width = "200px">
                                <apex:pageBlockTable value="{!ProcuredServices2}" var="item1" columns="2" border="0" width="200px">
                                    <apex:column > 
                                        <apex:panelGrid border="0" columns="2">
                                            <apex:image value="/img/checkbox_unchecked.gif" rendered="{!(growth.Past_Buying_Centers__c==NULL || (growth.Past_Buying_Centers__c!=NULL &&  !CONTAINS(growth.Past_Buying_Centers__c, item1) ))}"/>
                                            <apex:image value="/img/checkbox_checked.gif" rendered="{!(growth.Past_Buying_Centers__c!=NULL && CONTAINS(growth.Past_Buying_Centers__c, item1))}"/>
                                            <apex:outputText value="{!item1}"/>
                                        </apex:panelGrid>
                                    </apex:column>                      
                                </apex:pageBlockTable> 
                            </td>
                            <td width = "200px">
                                <apex:pageBlockTable value="{!ProcuredServices3}" var="item2" columns="2" border="0" width="200px">
                                    <apex:column > 
                                        <apex:panelGrid border="0" columns="2">
                                            <apex:image value="/img/checkbox_unchecked.gif" rendered="{!(growth.Past_Buying_Centers__c==NULL || (growth.Past_Buying_Centers__c!=NULL &&  !CONTAINS(growth.Past_Buying_Centers__c, item2) ))}"/>
                                            <apex:image value="/img/checkbox_checked.gif" rendered="{!(growth.Past_Buying_Centers__c!=NULL && CONTAINS(growth.Past_Buying_Centers__c, item2))}"/>
                                            <apex:outputText value="{!item2}"/>
                                        </apex:panelGrid>
                                    </apex:column>                      
                                </apex:pageBlockTable> 
                            </td>
                            <td width = "200px">
                                <apex:pageBlockTable value="{!ProcuredServices4}" var="item3" columns="2" border="0" width="200px">
                                    <apex:column > 
                                        <apex:panelGrid border="0" columns="2">
                                            <apex:image value="/img/checkbox_unchecked.gif" rendered="{!(growth.Past_Buying_Centers__c==NULL || (growth.Past_Buying_Centers__c!=NULL &&  !CONTAINS(growth.Past_Buying_Centers__c, item3) ))}"/>
                                            <apex:image value="/img/checkbox_checked.gif" rendered="{!(growth.Past_Buying_Centers__c!=NULL && CONTAINS(growth.Past_Buying_Centers__c, item3))}"/>
                                            <apex:outputText value="{!item3}"/>
                                        </apex:panelGrid>
                                    </apex:column>                      
                                </apex:pageBlockTable> 
                            </td>
                        </tr>
                    </table>
                </apex:pageBlock> 
        
                    
                    </apex:panelGroup>                                       
                </apex:panelGrid> 
                   
                
               
                
                <apex:panelGrid id="thePanel31" border="0" columns="1" columnClasses="classA" cellspacing="7px;" width="750px" style="margin-Left:3mm;">                    
                <apex:panelGroup >
                    <apex:outputLabel value="Buying Center Details (What is Mercer's positioning? i.e., well positioned, somewhat positioned, not positioned)" for="theIdentified" style="font-weight: bold"/><br/>
                    <apex:outputText value="{!growth.Primary_Client_Buying_Center__c}" id="theIdentified" styleClass="Name" style="font-family: Arial Unicode MS;" /></apex:panelGroup>  
           <!--     <apex:panelGroup >
                    <apex:outputLabel value="Are all key relationships entered into MercerForce with email addresses?" for="thekey" style="font-weight: bold"/>&nbsp;&nbsp;
                    <apex:outputText value="{!IF((growth.key_relationships_entered__c),"Yes","No")}"  style="font-family: Arial Unicode MS;" id="thekey" /></apex:panelGroup>--> 
                 <apex:outputText />                        
                <apex:outputText />
           </apex:panelGrid>
           
           <div style="page-break-after:always;"/>
                      
           
    <table style="margin-Left:3mm;">
        <tr>
            <td style= "width: 250px;"> <apex:outputLabel value="When was the last RFP for Wealth? " for="theRetire" style="font-weight: bold; width:50px;" /> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.When_was_the_last_RFP_for_Retirement__c}"  id="theRetire" style="font-family: Arial Unicode MS;width:50px;"/> </td>
            <td style= "width: 200px;"> <apex:outputLabel value="What was the overall rating in the last CEM? " for="theLastCEM" style="font-weight: bold"/> </td>
            <td style= "width: 200px;"> <apex:outputText value="{!growth.Overall_rating_in_the_last_CEM__c}" id="theLastCEM"  style="font-family: Arial Unicode MS;"/> </td>                        
        </tr>   
        <tr>
            <td style= "width: 250px;"> <apex:outputLabel value="When was the last RFP for Health? " for="thelastEHB" style="font-weight: bold"/> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.When_was_the_last_RFP_for_EH_B__c}"  id="thelastEHB" style="font-family: Arial Unicode MS;"/> </td>
            <td style= "width: 250px;"> <apex:outputLabel value="Has there been a change in the decision makers in the last year?"  for="theDec" style="font-weight: bold"/> </td>
            <td style= "width: 200px;"> <apex:outputText value="{!growth.Change_in_Decision_maker_last_year__c}"  id="theDec" style="font-family: Arial Unicode MS;"/> </td>
        </tr>
        <tr>    
            <td style= "width: 250px;"> <apex:outputLabel value="When was the last RFP for Career? " for="theTalent" style="font-weight: bold"/> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.When_was_the_last_RFP_for_Talent__c}"  id="theTalent"  style="font-family: Arial Unicode MS;"/> </td>            
            <td style= "width: 250px;"> <apex:outputLabel value="What is the relationship risk as assessed by the team (1 to 5; 1 being no risk, 5 being very risky)?" for="theAssess" style="font-weight: bold"/> </td>
            <td style= "width: 200px;"> <apex:outputText value="{!growth.Relationship_risk_as_assessed_by_team__c}" id="theAssess"  style="font-family: Arial Unicode MS;"/> </td>
        </tr>
        <tr>    
            <td style= "width: 250px;"> <apex:outputLabel value="When is our contract expiring?" for="theExpire" style="font-weight: bold"/> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.When_is_our_contract_expiring__c}" id="theExpire"  style="font-family: Arial Unicode MS;"/> </td>
            <td style= "width: 250px;"> <apex:outputLabel value="LOB(s) where there has been service issues " for="theServ" style="font-weight: bold"/> </td>
            <td style= "width: 200px;"> <apex:outputText value="{!growth.LOB_s_for_service_issues__c}"  id="theServ" style="font-family: Arial Unicode MS;"/> </td>
        </tr>   
        <tr>        
            <td style= "width: 250px;"> <apex:outputLabel value="Is client a candidate for the Health Yield Initiative targeting higher commissions/ fees on existing services? " for="theInitiative" style="font-weight: bold"/> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.H_B_Yield_Initiative_target_higher_comm__c}" id="theInitiative"  style="font-family: Arial Unicode MS;"/> </td>
            <td style= "width: 250px;"> <apex:outputLabel value="LOB(s) where there has been a change in our delivery team in the last year" for="theDel" style="font-weight: bold"/> </td>
            <td style= "width: 200px;"> <apex:outputText value="{!growth.LOB_s_change_in_delivery_last_year__c}"  id="theDel" style="font-family: Arial Unicode MS;"/> </td>
        </tr>
        <tr>
            <td style= "width: 250px;"> <apex:outputLabel value="Is client a candidate for the Health Yield Initiative targeting carrier paid services? " for="theAmount" style="font-weight: bold"/> </td>
            <td style= "width: 100px;"> <apex:outputText value="{!growth.H_B_Yield_Initiative_target_carrier__c}" id="theAmount"  style="font-family: Arial Unicode MS;"/> </td>
        </tr>   
    </table>
                      
           <h3 style="text-decoration:underline;font-size:125%">Revenue Targets (in USD)</h3>
            <!--Malini-->
               <apex:panelGrid columns="8" border="1" cellspacing="0px;" width="100%" columnClasses="colstyle"> 
               <apex:outputLabel />
               <apex:outputLabel value="{!int1} - Projected Full Year Rev - Actuals"  style="display:block;text-align:center;font-weight:bold"> </apex:outputLabel>
               <apex:outputLabel value="{!int1} - Projected Full Year Rev - Editable"  style="display:block;text-align:center;font-weight:bold">  </apex:outputLabel>
               <apex:outputLabel value="{!growth.Planning_Year__c} - Recurring and Carry Forward Rev - %"  style="display:block;text-align:center;font-weight:bold">  </apex:outputLabel>
               <apex:outputLabel value="{!growth.Planning_Year__c} - Recurring and Carry Forward Rev" style="display:block;text-align:center;font-weight:bold">  </apex:outputLabel>
               <apex:outputLabel value="{!growth.Planning_Year__c} - Projected /New Sales Rev" style="display:block;text-align:center;font-weight:bold">   </apex:outputLabel>
               <apex:outputLabel value="{!growth.Planning_Year__c} - Full Year Rev Projection" style="display:block;text-align:center;font-weight:bold">  </apex:outputLabel>
               <apex:outputLabel value="{!growth.Planning_Year__c} - % Estimated Rev Growth" style="display:block;text-align:center;font-weight:bold"> </apex:outputLabel>
               
                <!-- ****************************** HEALTH BLOCK *********************** -->
               <apex:outputLabel value="HEALTH" style="display:block;font-weight:bold;">   </apex:outputLabel>
                <apex:panelGroup >
               <div style="text-align:right">              
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.EH_B_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS;" >
                        <apex:param value="{!growth.EH_B_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.EH_B_Planning_Yr_and_Carry_Frw_Rev__c}"/>                                  
               </div>
               </apex:panelGroup>
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.EH_B_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
                <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.EH_B_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.EH_B_Projected_Full_Year_Revenue__c}" />  
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.EH_B_of_Revenue_Growth_Anticipated01__c}"  />
               </div>
               </apex:panelGroup>   
               <!-- ****************************** HEALTH BLOCK ENDS *********************** -->
               
               <!-- ****************************** WEALTH BLOCK STARTS *********************** -->
               <apex:outputLabel value="WEALTH" style="display:block;font-weight:bold">   </apex:outputLabel>
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.RET_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.RET_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>  
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.RET_Planning_Yr_and_Carry_Frw_Rev__c  }" />                                  
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.RET_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
                <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.RET_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.RET_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                    <apex:Outputfield label="" value="{!growth.RET_of_Revenue_Growth_Anticipated01__c}"  />
               </div>
               </apex:panelGroup>
                <!-- ****************************** WEALTH BLOCK ENDS *********************** -->
                
                <!-- ****************************** WEALTH BLOCK *********************** -->            
               <!-- <apex:outputLabel value="WEALTH" style="display:block;font-weight:bold">   </apex:outputLabel>  
               <apex:panelGroup >
               <div style="text-align:right">              
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.BBC_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                   
               <apex:panelGroup >
               <div style="text-align:right">              
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.BBC_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup> 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.BBC_Planning_Yr_and_Carry_Frw_Rev__c}" />                                  
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">               
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS">
                        <apex:param value="{!growth.BBC_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>  
              <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.BBC_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">             
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.BBC_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.BBC_of_Revenue_Growth_Anticipated__c}" />                                  
               </div>
               </apex:panelGroup> -->
               <!-- ****************************** WEALTH BLOCK ENDS *********************** -->
               
               <!-- ************************* CAREER BLOCK ***************************** -->
               <apex:outputLabel value="CAREER" style="display:block;width:120px;font-weight:bold">   </apex:outputLabel>     
                <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TAL_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TAL_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup> 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.TAL_Planning_Yr_and_Carry_Frw_Rev__c}"/>                                  
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TAL_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TAL_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TAL_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                    <apex:Outputfield label="" value="{!growth.TAL_of_Revnue_Growth_Anticipated__c}"  />
               </div>
               </apex:panelGroup>
               <!-- ****************************** CAREER BLOCK ENDS *********************** --> 
               
               <!-- ****************************** GBS BLOCK *********************** -->
               <apex:outputLabel value="GBS" style="display:block;font-weight:bold">   </apex:outputLabel>  
               <apex:panelGroup >
               <div style="text-align:right">              
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.GBS_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">              
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.GBS_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup> 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.GBS_Planning_Yr_and_Carry_Frw_Rev__c}" />                                  
               </div>
               </apex:panelGroup>             
               <apex:panelGroup >
               <div style="text-align:right">               
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.GBS_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.GBS_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">             
                   <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.GBS_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.GBS_of_Revenue_Growth_Anticipated__c}"  />                                  
               </div>
               </apex:panelGroup>    
               <!-- ****************************** GBS BLOCK ENDS *********************** -->
                           
               
               <!-- <apex:outputLabel value="INV" style="display:block;font-weight:bold">   </apex:outputLabel>  
                <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.INV_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>               
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.INV_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup> 
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.INV_Planning_Yr_and_Carry_Frw_Rev__c}"/>                                  
               </div>
               </apex:panelGroup>             
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.INV_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.INV_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.INV_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                      <apex:Outputfield label="" value="{!growth.INV_of_Revenue_Growth_Anticipated01__c}"  />
               </div>
               </apex:panelGroup> -->
                                                                                             
             
                                                                                            
               <!-- ****************************** OTHR BLOCK *********************** -->
               <apex:outputLabel value="OTHR" style="display:block;font-weight:bold">   </apex:outputLabel>  
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.OTH_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.OTH_Projected_Current_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup> 
                <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.OTH_Planning_Yr_and_Carry_Frw_Rev__c}"/>                                  
               </div>
               </apex:panelGroup>              
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.OTH_Recurring_and_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
                  <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.OTH_Projected_New_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.OTH_Projected_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                    <apex:Outputfield label="" value="{!growth.OTH_of_Revenue_Growth_Anticipated01__c}"  />
               </div>
               </apex:panelGroup>
               <!-- ****************************** OTHR BLOCK ENDS *********************** -->                                                                
                
               <!-- ****************************** TOTAL BLOCK *********************** -->                
                <apex:outputLabel value="TOTAL PY $" style="display:block;font-weight:bold">   </apex:outputLabel>
                 <apex:panelGroup >
               <div style="text-align:right"> 
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TOT_Projected_Full_Year_Revenue_Actual__c}" /> 
                   </apex:outputText>              
               </div>
               </apex:panelGroup>                
               <apex:panelGroup >
               <div style="text-align:right"> 
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TOT_Projectd_Current_Year_Revenue__c}" /> 
                   </apex:outputText>              
               </div>
               </apex:panelGroup>
               <apex:panelGroup >
               <div style="text-align:right">
                   <apex:Outputfield label="" value="{!growth.TOT_Planning_Yr_and_Carry_Frw_Rev__c}"/>                                  
               </div>
               </apex:panelGroup>             
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TOT_Recurring_Carry_forward_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>    
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TOT_Projected_Sales_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                       <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS" >
                        <apex:param value="{!growth.TOT_Projectd_Full_Year_Revenue__c}" /> 
                   </apex:outputText>
               </div>
               </apex:panelGroup>                                                                 
               <apex:panelGroup >
               <div style="text-align:right">
                    <apex:Outputfield label="" value="{!growth.TOT_of_Revenue_Growth_Anticipated01__c}"  />                
               </div>
               </apex:panelGroup>   
               </apex:panelGrid>
               <!-- ****************************** TOTAL BLOCK ENDS*********************** --> 
               <!--Malini-->
              
                                                                                        
         <h3 style="text-decoration:underline;font-size:125%">Current Mercer Solutions</h3>
                
                <apex:panelGrid id="thePanel8" border="0" columns="1" columnClasses="classA" cellspacing="2px;" width="100%" style="margin-Left:3mm;" >                
                <apex:panelGroup >
                    <!--  <apex:outputlabel value="&nbsp;&nbsp;&nbsp;&nbsp;" escape="false"/><br/> -->            
                    <!--<apex:outputText value="{!tempProposedSolutions}" id="theSolutions" style="font-family: Arial Unicode MS;" /> -->
                    
                        <table cellspacing="5px;" width="100%" columns="2" cellpadding="5px">
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Current  Solution 1 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_1__c != '', growth.Current_Solution_1__c != null)}" value="{!growth.Current_Solution_1__c}" />
                         </td>
                         <td>   
                         <!--   <apex:outputLabel ><b>Current  Solution 6 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_6__c != '', growth.Current_Solution_6__c != null)}" value="{!growth.Current_Solution_6__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Current  Solution 2 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_2__c != '', growth.Current_Solution_2__c != null)}" value="{!growth.Current_Solution_2__c}" />
                        
                        </td>
                         <td>   
                          <!--  <apex:outputLabel ><b>Current  Solution 7 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_7__c != '', growth.Current_Solution_7__c != null)}" value="{!growth.Current_Solution_7__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                           <!-- <apex:outputLabel ><b>Current  Solution 3 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_3__c != '', growth.Current_Solution_3__c != null)}" value="{!growth.Current_Solution_3__c}" />
                        
                        </td>
                         <td>   
                          <!--  <apex:outputLabel ><b>Current  Solution 8 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_8__c != '', growth.Current_Solution_8__c != null)}" value="{!growth.Current_Solution_8__c}" />
                        
                        </td>
                        </tr>
                        
                        
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Current  Solution 4 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_4__c != '', growth.Current_Solution_4__c != null)}" value="{!growth.Current_Solution_4__c}" />
                        
                        </td>
                         <td>   
                          <!--  <apex:outputLabel ><b>Current  Solution 9 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_9__c != '', growth.Current_Solution_9__c != null)}" value="{!growth.Current_Solution_9__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Current  Solution 5 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_5__c != '', growth.Current_Solution_5__c != null)}" value="{!growth.Current_Solution_5__c}" />
                        
                        </td>
                         <td>   
                          <!--  <apex:outputLabel ><b>Current  Solution 10 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Current_Solution_10__c != '', growth.Current_Solution_10__c != null)}" value="{!growth.Current_Solution_10__c}" />
                        
                        </td>
                        </tr>
                         
                        </table>
                    
                  </apex:panelGroup>  

           </apex:panelGrid>
             
          
          
           <br/>
          
          
           
                <h3 style="text-decoration:underline;font-size:125%;">Top 10 Proposed Mercer Solutions</h3>
                
                <apex:panelGrid id="thePanel4" border="0" columns="1" columnClasses="classA" cellspacing="2px;" width="100%" style="margin-Left:3mm;" >                
                <apex:panelGroup >
                    <!--<apex:outputlabel value="&nbsp;&nbsp;&nbsp;&nbsp;" escape="false"/><br/> -->               
                    <!--<apex:outputText value="{!tempProposedSolutions}" id="theSolutions" style="font-family: Arial Unicode MS;" /> -->
                    
                        <table cellspacing="5px;" width="100%" columns="2" cellpadding="5px">
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Proposed Solution 1 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution1__c != '', growth.Proposed_Solution1__c != null)}" value="{!growth.Proposed_Solution1__c}" />
                         </td>
                         
                         <td>   
                          <!--  <apex:outputLabel ><b>Proposed Solution 6 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution6__c != '', growth.Proposed_Solution6__c != null)}" value="{!growth.Proposed_Solution6__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Proposed Solution 2 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution2__c != '', growth.Proposed_Solution2__c != null)}" value="{!growth.Proposed_Solution2__c}" />
                        
                        </td>
                         <td>   
                           <!-- <apex:outputLabel ><b>Proposed Solution 7 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution7__c != '', growth.Proposed_Solution7__c != null)}" value="{!growth.Proposed_Solution7__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                           <!-- <apex:outputLabel ><b>Proposed Solution 3 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution3__c != '', growth.Proposed_Solution3__c != null)}" value="{!growth.Proposed_Solution3__c}" />
                        
                        </td>
                         <td>   
                           <!-- <apex:outputLabel ><b>Proposed Solution 8 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution8__c != '', growth.Proposed_Solution8__c != null)}" value="{!growth.Proposed_Solution8__c}" />
                        
                        </td>
                        </tr>
                        
                        
                        <tr>
                        <td>
                           <!-- <apex:outputLabel ><b>Proposed Solution 4 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution4__c != '', growth.Proposed_Solution4__c != null)}" value="{!growth.Proposed_Solution4__c}" />
                        
                        </td>
                         <td>   
                           <!-- <apex:outputLabel ><b>Proposed Solution 9 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution9__c != '', growth.Proposed_Solution9__c != null)}" value="{!growth.Proposed_Solution9__c}" />
                        
                        </td>
                        </tr>
                        
                        <tr>
                        <td>
                          <!--  <apex:outputLabel ><b>Proposed Solution 5 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution5__c != '', growth.Proposed_Solution5__c != null)}" value="{!growth.Proposed_Solution5__c}" />
                        
                        </td>
                         <td>   
                           <!-- <apex:outputLabel ><b>Proposed Solution 10 :</b></apex:outputLabel>&nbsp;-->
                            <apex:outputField rendered="{!AND(growth.Proposed_Solution10__c != '', growth.Proposed_Solution10__c != null)}" value="{!growth.Proposed_Solution10__c}" />
                        
                        </td>
                        </tr>
                         
                        </table>
                    
                  </apex:panelGroup>  

           </apex:panelGrid>
           


            
         
           <br/>
          
            <apex:outputPanel >
              <div style="page-break-after:always;"/>   
                <h3 style="text-decoration:underline;font-size:125%;">Opportunities</h3>
                
                <table style="table-layout:auto; width:60%; " border="1" cellspacing="0" cellpadding="0" align="center" >
                <tr>
                    <th align="center"># of open Opportunities</th>
                    <th align="center">CYR(USD)</th> 
                    <th align="center">TOR(USD)</th>
                </tr>
                    <tr>
                        <td align="center" valign="middle" width="20%">
                            <apex:outputText value="{!OppCount}" />
                        </td>
                        
                         <td valign="top" align="center" width="20%">                            
                            <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS;" >
                                <apex:param value="{!OppCYR}" /> 
                             </apex:outputText>
                             
                        <td valign="top" align="center" width="20%"><!--"{!OppTOR}"-->                                                      
                              <apex:outputText value="{0, number, ###,###.##}" style="font-family: Arial Unicode MS;" >
                                <apex:param value="{!OppTOR}" /> 
                             </apex:outputText>
                            
                            
                        </td>    
                        </td> 
                    </tr>
            </table>

           </apex:outputpanel>
            <br/>
           
           <apex:outputPanel rendered="{!opptyList.size>0}" >
                <h3 style="text-decoration:underline;font-size:125%">Top 5 Open Opportunities</h3>
               <apex:panelGrid id="thePane20" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;page--inside:avoid;"> 
                <table style="table-layout:auto; width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                    <th>Opportunity Name</th>
                    <th>Stage</th>
                    <th>CYR(USD)</th>
                    <th>TOR(USD)</th>
                    <th>Close Date</th>
                    <th>Owner Full Name</th>                    
                </tr>
                <apex:repeat value="{!opptyList}" var="t">
                    <tr>
                        <td valign="top">
                            <apex:outputField value="{!t.name}" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!t.Stagename}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!t.Current_Year_Revenue_USD__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!t.Total_Opportunity_Revenue_USD__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">                            
                             <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}" style="font-family: Arial Unicode MS;" >
                                <apex:param value="{!t.CloseDate}" /> 
                             </apex:outputText>
                             <!--"{0,date,M'/'dd'/'yyyy}"-->
                        </td>
                         <td valign="top">
                           <apex:outputText value="{!t.Owner.name}" style="font-family: Arial Unicode MS;" />                          
                        </td>                                                                 
                    </tr>
                </apex:repeat>
            </table>
            </apex:panelGrid> 
            
          </apex:outputpanel>

           <br/>
           
            <h3 style="text-decoration:underline;font-size:125%">Client Conversation Themes (Have conversations on the following themes occurred?)</h3>
            <h4 style="font-size:100%">EuroPac</h4>
            <apex:outputPanel >
            <apex:panelGrid id="thePane31" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;page-break-inside:avoid;"> 
                <table style="width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                 <th style="width:50%; ">Creating employee engagement: {!growth.Theme_EP_Employee_Engagement__c}</th>
                 <th style="width:50%; ">Future Workforce: {!growth.Theme_EP_Future_Workforce__c}</th>
                </tr>
                 <tr>
                 <th style="width:50%; ">Taking pension risk off the table: {!growth.Theme_EP_Pension_Risk__c}</th>
                 <th style="width:50%; ">Winning in a global environment: {!growth.Theme_EP_Global_Environment__c}</th>
                </tr>
                </table>
                </apex:panelGrid>
                </apex:outputPanel>
                
                <h4 style="font-size:100%">Growth Markets</h4>
            <apex:outputPanel >
            <apex:panelGrid id="thePane32" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;page-break-inside:avoid;"> 
                <table style="width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                 <th style="width:50%; ">Career: {!growth.Theme_GM_Career__c}</th>
                 <th style="width:50%; ">Wealth: {!growth.Theme_GM_Wealth__c}</th>
                </tr>
                 <tr>
                 <th style="width:50%; ">Health: {!growth.Theme_GM_Health__c}</th>
                 
                </tr>
                </table>
                </apex:panelGrid>
                </apex:outputPanel>
                
                
                
                
            
            <h4 style="font-size:100%">North America</h4>
                         
            <apex:outputPanel >
            <apex:panelGrid id="thePane30" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;page-break-inside:avoid;"> 
                <table style="width:100%; " border="0" cellspacing="7" cellpadding="0">
            
                         
            <tr>
            <th style="width:50%; ">Pension Journey: {!growth.Theme_NA_Pension__c}</th>
            <th style="width:50%; ">Financial Wellness Journey: {!growth.Theme_NA_Financial_Wellness__c}</th>
            </tr>
            <tr>
            <th style="width:50%; ">Talent Journey: {!growth.Theme_NA_Talent__c}</th>
            <th style="width:50%; ">Healthcare Journey: {!growth.Theme_NA_Healthcare__c}</th>
            </tr>
             </table>
            </apex:panelGrid> 
            </apex:outputPanel>
            
             <apex:outputPanel rendered="{!growth.Actions__c!=null}" >
                <h3 style="text-decoration:underline;font-size:125%">Comments</h3>
                  <apex:outputText />
                <apex:panelGrid id="thePanel5" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;">                
                <apex:panelGroup >
                    <!--<apex:outputlabel value="Comments" for="theActions" style="font-weight: bold"/> <br/> -->                  
                    <apex:outputText value="{!growth.Actions__c}" id="theActions" style="font-family: Arial Unicode MS;" /></apex:panelGroup> <br/>
                    <apex:outputText />                        
                    <apex:outputText />
                </apex:panelGrid>
            </apex:outputPanel>
            
            
            <apex:outputPanel rendered="{!tList.size>0}" >
                <h3 style="text-decoration:underline;font-size:125%">Tasks</h3>
               <apex:panelGrid id="thePanel6" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;"> 
                <table style="table-layout:auto; width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                    <th>Subject</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Assigned To</th> 
                </tr>
                <apex:repeat value="{!tList}" var="t">
                    <tr>
                        <td valign="top">
                            <apex:outputField value="{!t.subject}" />
                        </td>
                        <td valign="top">
                            <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}" style="font-family: Arial Unicode MS;" >
                                <apex:param value="{!t.ActivityDate}" />
                            </apex:outputText>
                           <!-- <apex:outputField value="{!t.ActivityDate}" style="font-family: Arial Unicode MS;" />-->
                        </td>
                        <td valign="top">
                            <apex:outputText value="{!t.Status}" style="font-family: Arial Unicode MS;" />
                        </td>
                       <!--  <td valign="top">
                            <apex:outputText value="{!t.Priority}" style="font-family: Arial Unicode MS;" />
                        </td>-->
                         <td valign="top">
                            <apex:outputText value="{!t.Description}" style="font-family: Arial Unicode MS;" />
                        </td>
                         <td valign="top">
                            <apex:outputText value="{!t.owner.name}" style="font-family: Arial Unicode MS;"/>
                        </td>                                         
                    </tr>
                </apex:repeat>
            </table>
            </apex:panelGrid> 
            
          </apex:outputpanel>
              
            <apex:outputPanel rendered="{!SurvResList.size>0}" >
                <h3 style="text-decoration:underline;font-size:125%">Survey Responses</h3>
             <!--  <apex:panelGrid id="thePanel7" columnClasses="classA" width="750px" style="margin-Left:3mm;"> -->
                <table style="table-layout:auto; width:100%; " border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th align="center">Contact Name</th>
                    <th align="center">Overall Satisfaction Rating</th>
                    <th align="center">Likely to Recommend</th>
                    <th align="center">Response Created Date</th>
                    
                </tr>
                <apex:repeat value="{!SurvResList}" var="Survey">
                    <tr>
                        <td valign="top">
                            <apex:outputField value="{!Survey.Contact__r.name}" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!Survey.Question_1__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">
                            <apex:outputText value="{!Survey.Question_2__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                         <td valign="top">
                              <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}" style="font-family: Arial Unicode MS;" >
                                <apex:param value="{!Survey.CreatedDate}" /> 
                             </apex:outputText>
                           <!-- <apex:outputText value="{!Survey.CreatedDate}" style="font-family: Arial Unicode MS;" />-->
                        </td>                                                              
                    </tr>
                </apex:repeat>
            </table>
        <!--    </apex:panelGrid> -->
            
          </apex:outputpanel>
          
           <apex:outputPanel rendered="{!incList.size>0}" >
                <h3 style="text-decoration:underline;font-size:125%">Incumbent Service Providers</h3>
               <apex:panelGrid id="Incumbent" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;"> 
                <table style="table-layout:auto; width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                    <th>Incumbent Service Provider</th>
                    <th>LOB</th>
                    <th>Type of Service</th>
                </tr>
                <apex:repeat value="{!incList}" var="inc">
                    <tr>
                        <td valign="top">
                            <apex:outputField value="{!inc.Incumbent_Service_Provider__r.name}" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!inc.LOB__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">
                            <apex:outputText value="{!inc.Type_of_Service__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                                                            
                    </tr>
                </apex:repeat>
            </table>
            </apex:panelGrid> 
            
          </apex:outputpanel>
               <div style="page-break-after:always;"></div>
               <apex:outputPanel rendered="{!conList.size>0}" >
               
                <h3 style="text-decoration:underline;font-size:125%">Client Contacts </h3>
             <!--  <apex:panelGrid id="thePanel7" columnClasses="classA" width="750px" style="margin-Left:3mm;"> -->
                <table style="table-layout:auto; width:100%; " border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th align="center">Contact Name</th>
                    <th align="center">Job Level</th>
                    <th align="center">Job Title</th>
                    <th align="center">Contact Owner</th>
                   <!-- <th align="center">Net Promoter Score</th>-->
                    
                </tr>
                <apex:repeat value="{!conList}" var="cont">
                    <tr>
                        <td valign="top">
                            <apex:outputField value="{!cont.name}" />
                        </td>
                        <td valign="top">
                            <apex:outputField value="{!cont.Job_Level__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td valign="top">
                            <apex:outputText value="{!cont.Title}" style="font-family: Arial Unicode MS;" />
                        </td>
                         <td valign="top">
                            <apex:outputText value="{!cont.Contact_Owner_Name__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <!-- <td valign="top">
                            <apex:outputText value="{!cont.Net_Promoter_Score__c}" style="font-family: Arial Unicode MS;" />
                        </td> -->                                                               
                    </tr>
                </apex:repeat>
            </table>
        <!--    </apex:panelGrid> -->
            
          </apex:outputpanel>
           
          <div style="page-break-after:always;"></div>
          <apex:outputPanel rendered="{!AccTeamList.size>0}" > 
           <h3 style="text-decoration:underline;font-size:125%">Account Team</h3>
          <!-- <apex:panelGrid id="thePanel7" border="0" columns="0" columnClasses="classA" width="100%" style="margin-Left:3mm;"> -->
                <table style="table-layout:auto; width:50%; " border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Team Member</th>
                    <th>Team Role</th>                    
                </tr>
                <apex:repeat value="{!AccTeamList}" var="a">
                    <tr>
                        <td valign='top'>
                            <apex:outputField value="{!a.user.name}" />
                        </td>
                        <td valign='top'>
                            <apex:outputText value="{!a.TeamMemberRole}" style="font-family: Arial Unicode MS;" />
                        </td>                                                              
                    </tr>
                </apex:repeat>
            </table>
         <!--  </apex:panelGrid> -->
        </apex:outputpanel>
           <br/> 
         <!--  
         <apex:outputPanel rendered="{!ContRenewList.size>0}" >  
           <h3 style="text-decoration:underline;font-size:125%">Contracts / Renewals</h3>
            <apex:panelGrid id="thePanel8" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:3mm;"> 
                <table style="table-layout:auto; width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                    <th>LOB</th>
                    <th>Product Service</th>    
                     <th>Contract Start Date</th>
                    <th>Contract Expiration Date</th>                 
                </tr>
                <apex:repeat value="{!ContRenewList}" var="c">
                    <tr>
                        <td >
                            <apex:outputField value="{!c.LOB__c}" />
                        </td>
                        <td>
                            <apex:outputText value="{!c.Product_Service__c}" style="font-family: Arial Unicode MS;" />
                        </td> 
                        <td >
                            <apex:outputField value="{!c.Contract_Start_Date__c}" />
                        </td>
                        <td>
                            <apex:outputField value="{!c.Contract_Expiration_Date__c}"  />
                        </td>                                                               
                    </tr>
                </apex:repeat>
            </table>
          </apex:panelGrid>
        </apex:outputpanel>  -->
           <br/>
          
       <!--  <apex:outputPanel rendered="{!SensRiskList.size>0}" >  
          <h3 style="text-decoration:underline;font-size:125%">Sensitive / At Risk</h3>
            <apex:panelGrid id="thePanel9" border="0" columns="1" columnClasses="classA" width="750px" style="margin-Left:2mm;"> 
                <table style="table-layout:auto; width:100%; " border="0" cellspacing="7" cellpadding="0">
                <tr>
                    <th>LOB</th>    
                    <th>At Risk Type</th>    
                     <th>At Risk Reason</th>
                    <th>Impact</th>      
                    <th>Date Opened</th>            
                </tr>
                <apex:repeat value="{!SensRiskList}" var="s">
                    <tr>
                        <td >
                            <apex:outputField value="{!s.LOB__c}" />
                        </td>
                        <td>
                            <apex:outputText value="{!s.At_Risk_Type__c}" style="font-family: Arial Unicode MS;" />
                        </td> 
                        <td >
                            <apex:outputField value="{!s.At_Risk_Reason__c}" style="font-family: Arial Unicode MS;" />
                        </td>
                        <td>
                            <apex:outputText value="{!s.Impact__c}" style="font-family: Arial Unicode MS;" />
                        </td>       
                          <td>
                            <apex:outputField value="{!s.Date_Opened__c}" style="font-family: Arial Unicode MS;" />
                        </td>                                                          
                    </tr>
                </apex:repeat>
            </table>
          </apex:panelGrid> 
        </apex:outputpanel>  -->

         </div>
          
      </body>
</apex:page>