<apex:page standardController="Account" extensions="MercVFC01_SearchController" standardstylesheets="false" cache="false" readOnly="true">
  <apex:form > 
     <apex:pageMessages id="pageMessage"/>

    <apex:pageBlock >
     
        <apex:pageBlockSection >
        
        <table>
                      <apex:outputtext >Enter the Account Name :</apex:outputtext>  
                      <apex:inputtext value="{!nameQuery}" id="lookup" style="width: 360px;"/>
                      <!--<apex:inputtext id="lookup" value="{!nameQuery}"/>-->
                      <apex:pageblockSectionItem >
                             <apex:commandbutton value="Search" action="{!executeSearch}"/>
                             <apex:commandButton value="Create a New Account" action="{!createnew}" rendered="{!searchAcct}" />
                      </apex:pageblockSectionItem>
       
       </table>       
   
        </apex:pageBlockSection>

        
           
        <apex:pageBlockSection title="Search Results" id="resultsBlock" rendered="{!results}">
       <b>If you need read/write access to an account listed below, contact the Relationship Manager or Account Team. If an account is inactive, click <a href="http://usfkl26as23.mercer.com:8000/forms/frmservlet?config=CASWWC3U_GOC&otherparams=g_mode=goc+end_form=gocclie" target="_blank">here</a> to request reactivation via the Workflow Wizard.
       </b><br/>
        
        <table style="width:100%">
            <apex:outputpanel style="overflow:auto;height:500px;align:bottom;width:98%;" layout="block">
               
             <apex:pageBlockTable value="{!accounts}" var="acc" style="width:1000px" styleClass="tableClass" cellpadding="2" cellspacing="2">           
               <apex:column >
                   <apex:facet name="header">   
                       <apex:commandLink action="{!executeSearch}" value="Account Name {!IF(sortExpression=='name',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort">
                         <apex:param value="Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                  </apex:facet>
                  <apex:outputLink value="/{!acc.id}">{!acc.Name}</apex:outputLink>
               </apex:column>
               
               
               <apex:column >
                     <apex:facet name="header">   
                       <apex:commandLink action="{!executeSearch}" value="Account Name(Local){!IF(sortExpression=='Account_Name_Local__c',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort1">
                         <apex:param value="Account_Name_Local__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                  </apex:facet>              
                  <apex:outputText >{!acc.Account_Name_Local__c}</apex:outputtext>
               </apex:column>
               
                <apex:column >
                     <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="Relationship Manager{!IF(sortExpression=='Relationship_Manager__r.Name',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort3">
                           <apex:param value="Relationship_Manager__r.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet>   
                       
                     <apex:outputText >{!acc.Relationship_Manager__r.Name}</apex:outputtext>
               </apex:column>
               
               
               <apex:column >
                     <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="Country{!IF(sortExpression=='BillingCountry',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort4">
                           <apex:param value="BillingCountry" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet>   
                       
                     <apex:outputText >{!acc.BillingCountry}</apex:outputtext>
               </apex:column>
               
               <apex:column >
                     <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="City{!IF(sortExpression=='BillingCity',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort5">
                           <apex:param value="BillingCity " name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet>   
                       
                     <apex:outputText >{!acc.BillingCity }</apex:outputtext>
               </apex:column>
               
               <apex:column >
                       <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="One Code{!IF(sortExpression=='One_Code__c',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort6">
                           <apex:param value="One_Code__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet> 
                     <apex:outputText >{!acc.One_Code__c}</apex:outputtext>
               </apex:column>
               
               <apex:column >
                       <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="One Code Status{!IF(sortExpression=='One_Code_Status__c',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort7">
                           <apex:param value="One_Code_Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet> 
                     <apex:outputField value="{!acc.One_Code_Status__c}"/>
               </apex:column>
               
               
               <apex:column >
                       <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="Duplicate Flag{!IF(sortExpression=='Duplicate_Flag__c',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort8">
                           <apex:param value="Duplicate_Flag__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet> 
                     <apex:outputfield value="{!acc.Duplicate_Flag__c}"/> 
               </apex:column>
               
               <apex:column >
                       <apex:facet name="header">   
                           <apex:commandLink action="{!executeSearch}" value="Surviving One Code{!IF(sortExpression=='Surviving_OneCode__c',IF(sortDirection='ASC','▼','▲'),'')}" id="cmdSort9">
                           <apex:param value="Surviving_OneCode__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>
                       </apex:facet> 
                     <apex:outputfield value="{!acc.Surviving_OneCode__c}" />
               </apex:column>
               
              
            
            </apex:pageBlockTable>
            </apex:outputpanel>
 <!--  <apex:commandButton value="Create a New Account" action="{!createnew}" /> -->
        </table> 
        
       </apex:pageBlockSection>        
       
       <apex:pageblockSection rendered="{!noresults }">
       
       
       <b>No matching accounts were found.</b>
       
    <!-- <apex:commandButton value="Create a New Account" action="{!createnew}" />   -->    
    </apex:pageblockSection>
        
        
    </apex:pageBlock>
 </apex:form>
</apex:page>