<apex:page standardController="Opportunity" extensions="AP69_OpportunityCloneController"  sidebar="true" showHeader="true">

    <apex:sectionHeader title="Opportunity Edit" subtitle="{!Opportunity.Name}" id="sectionHeaderid" />
            <apex:form >
        <apex:pageMessages />
        <apex:pageBlock title="Opportunity Edit" mode="Edit" >
        <apex:pageBlockButtons id="pageBlockButtonsId">
              <apex:commandButton action="{!saveClone}" value="Save" />
              <apex:commandButton action="{!cancelClone}" value="Cancel" immediate="true" />
        </apex:pageBlockButtons>
        <apex:outputPanel id="OpportunityRecord" >
        
         <apex:pageBlockSection title="Opportunity Overview" columns="2">
         
            
             <apex:inputField value="{!newOppty.Name}" />               
            <!-------Request id:12638, replacing step selectlist with stage list START-------->
            <!-- <apex:pageblockSectionItem >
                 <apex:outputLabel value="Step" />                
                <apex:selectList size="1" value="{!stepValue}">
                    <apex:selectOptions value="{!stepVal}"/>                    
                </apex:selectList>                
            </apex:pageblockSectionItem>
            -->
            <apex:pageblockSectionItem >
                 <apex:outputLabel value="Stage" />                
                <apex:selectList size="1" value="{!stageValue}">
                    <apex:selectOptions value="{!StageVal}"/>                    
                </apex:selectList>                
            </apex:pageblockSectionItem>
           <!-------Request id:12638, replacing step selectlist with stage list END-------->
             <apex:inputField value="{!newOppty.AccountID}" required="true" /> 
             <apex:inputField value="{!newOppty.StageName}" /> 
             <apex:inputField value="{!newOppty.OwnerId}" /> 
             <apex:inputField value="{!newOppty.CloseDate}" /> 
             <apex:inputField value="{!newOppty.Type}" required="true"/> 
             <apex:inputField value="{!newOppty.Probability}" /> 
             <apex:inputField value="{!newOppty.Description}" />               
             <apex:inputField value="{!newOppty.Total_Opportunity_Revenue__c}" />  
             <apex:inputField value="{!newOppty.Next_Action__c}" /> 
             <apex:inputField value="{!newOppty.Current_Year_Revenue__c}" /> 
             <apex:inputField value="{!newOppty.Buyer__c}" /> 
             <apex:outputField value="{!newOppty.Current_Year_Revenue_USD__c}" /> 
             <apex:inputField value="{!newOppty.Opportunity_ID__c}" /> 
             <apex:inputField value="{!newOppty.Annualized_Revenue__c}" /> 
        
          
          </apex:pageBlockSection>
                      
           
        <apex:pageBlockSection title="Additional Information" columns="2">
            <apex:inputField value="{!newOppty.Opportunity_Office__c}" /> 
            
            <apex:pageblockSectionItem >
                 <apex:outputLabel value="Close Stage Reason" />                
                <apex:selectList size="1" value="{!closeStageReasonValue}" disabled="true">
                    <apex:selectOptions value="{!closeStageReasonVal}"/>                    
                </apex:selectList>                
            </apex:pageblockSectionItem>
            
            <apex:inputField value="{!newOppty.Final_Office__c}" /> 
            <apex:inputField value="{!newOppty.Closed_Stage_Reason_Detail__c}" /> 
            <apex:inputField value="{!newOppty.Opportunity_Country__c}" /> 
                      
            <apex:pageblockSectionItem >
                 <apex:outputLabel value="Chargeable Code Exception" />                
                <apex:selectList size="1" value="{!ChargeCodeExepValue}" disabled="true">
                    <apex:selectOptions value="{!ChargeCodeExepVal}"/>                    
                </apex:selectList>                
            </apex:pageblockSectionItem>
        
        </apex:pageBlockSection>
        
          
                  
           </apex:outputPanel>
       </apex:pageBlock>
        </apex:form>
</apex:page>