<apex:page standardController="ScopeIt_Employee__c" lightningStylesheets="true">
<apex:pageMessages />
 <apex:form >
     <apex:sectionHeader subtitle="{!ScopeIt_Employee__c.name}" title="ScopeIt Employee Edit"/>
    <apex:pageBlock title="ScopeIt Employee Edit">
        <apex:pageBlockButtons >
            <apex:commandButton action="{!save}" value="Save"/>
            <apex:commandButton action="{!Cancel}" value="Cancel"/>
        </apex:pageBlockButtons>
        <apex:pageblockSection columns="1" title="Information" collapsible="false">
            <apex:outputField value="{!ScopeIt_Employee__c.ScopeIt_Task__r.Task_Name__c}"/>
            <apex:inputfield value="{!ScopeIt_Employee__c.Employee_Bill_Rate__c}" required="true"/>
            <apex:inputfield value="{!ScopeIt_Employee__c.Hours__c}" required="true"/>
            
        </apex:pageblockSection>
    </apex:pageBlock>
 </apex:form>
</apex:page>