<!--***************************************************************************************************************
User story : US492
Purpose : This vf page is created to support the 'New' List Button on Contact Distribution Object.
Created by : Soumil Dasgupta
Created Date : 17/12/2018
Project : MF2
****************************************************************************************************************-->

<apex:page standardController="Contact" extensions="MF2_ContactDistributionsEditAllApex">
   
       Please Wait...
    
    
    <script>
    //alert('Page opened');
    //alert('{!contactId}');
    //alert('{!hasoptedOutOfEmail}');
    //alert('{!contactName}');
    //alert('Profile name ' + '{!$Profile.Name}');
   
    //If the current user profile is 'Mercerforce Lite', an alert should be generated.
    if('{!$Profile.Name}' == 'MercerForce Lite'){
        alert('Insufficient privileges: You can view Contact-Distribution preferences but you can not create nor edit them.');
        window.parent.location.href = '/{!contactId}';
    }
    else {
        //If the 'Email opt out' field of the Contact is true an alert should be generated. 
        if('{!hasoptedOutOfEmail}' == true) {
            alert (' The contact has opted out of receiving marketing materials. If you wish to edit the distributions, please work with your local marketing colleague');
        	window.parent.location.href = '/{!contactId}';
        }
        else
        {
           var name ='{!contactName}';
		   window.parent.location.href = '/apex/Mercer_ContactDistributionSearch?retURL=%2F{!contactId}&CF00NE0000003jeLE='+name+'&CF00NE0000003jeLE_lkid={!contactId}&sfdc.override=1&saveURL=%2F{!contactId}&id={!contactId}'; 
            
            
            //Open the 'Mercer_MassEditContactDistribution' vf page in the same window.
            //window.parent.location.href = '/apex/Mercer_MassEditContactDistribution?id={!contactId}';
        }
    } 
    </script>
</apex:page>