<!--***************************************************************************************************************
User Story : US504(17441)
Purpose : This vf page is created to support the 'Lock Opportunity (Admin Only)' Custom link on Opportunity.
Created by : Soumil Dasgupta
Created Date : 3/1/2018
Project : MF2
****************************************************************************************************************-->

<apex:page standardController="Opportunity" >
    
    <apex:includeScript value="/soap/ajax/21.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/21.0/apex.js"/>
    
    <script>
    var profile = "{!$Profile.Name}";
    var oppid = "{!$CurrentPage.parameters.oppid}";
    
    sforce.connection.sessionId = "{!$Api.Session_ID}";
    var oppStage=sforce.apex.execute("MF2_LockOpportunityCustomLinkApex","fetchStageOpp",{"OppId":oppid});
    var stageMatch=sforce.apex.execute("MF2_LockOpportunityCustomLinkApex","fetchStageMatch",{"oppStage":oppStage});
    
    //alert(oppStage);
    //alert(stageMatch);
    
    var profilesToIncludeString = "{!$Label.MF2_ExcludedProfilesforOppLock}";
    var profilesToInclude = profilesToIncludeString.split(',');
    
    /*var oppStageToIncludeString = "{!$Label.OpportunityStageName}";
    var oppStageToInclude = oppStageToIncludeString.split(';');
    alert(oppStageToInclude);*/
    //alert(profilesToIncludeString);
    //alert(profile);
    var permittedProfile = false;
    console.log(profilesToInclude.length);
    for(var loopCounter=0; loopCounter < profilesToInclude.length; loopCounter++ ){
        console.log(profilesToInclude[loopCounter]);
        console.log(profile);
        console.log(profilesToInclude[loopCounter] == profile);
        if(profilesToInclude[loopCounter] == profile){
            permittedProfile = true;
            break;
        }
    }
    
    if(permittedProfile == true)
    {
        //alert(stageMatch);   
        console.log(stageMatch=="true");
        if(stageMatch=="true"){
            //alert('Success');

            var error = sforce.apex.execute("AP34_AjaxRequestHandler", "lockOpportunity",  {"oppId":oppid});
            console.log(error);
            if(error != "success"){
            alert(error);
           location.replace("/lightning/r/Opportunity/"+oppid+"/view");

            }
            
                    }
        else{
            alert("This link is used to lock fields on closed opportunities only.");
        }
    }    
    else
    {
        alert("This link is used to lock fields on closed opportunities. For System Administrators use only.");
    }
    location.replace("/lightning/r/Opportunity/"+oppid+"/view");
    </script>
</apex:page>