<!--***************************************************************************************************************
User Story : US518
Purpose : This vf page is created to support the 'Save As Template' Custom link on ScopeIt Project.
Created by : Soumil Dasgupta
Created Date : 25/12/2018
Project : MF2
****************************************************************************************************************-->

<apex:page standardController="ScopeIt_Project__c" extensions="MF2_ScopeItProjectSaveAsTemplateApex" recordSetVar="records">
   
<apex:includeScript value="/soap/ajax/21.0/connection.js"/>
<apex:includeScript value="/soap/ajax/21.0/apex.js"/>
    
    <apex:pageBlock >
        <apex:pageBlockSection id="Wait">
            Please Wait...
        </apex:pageBlockSection>
    </apex:pageBlock>

	<!--This function is called to redirect to the scopeit project record page.-->    
    <apex:form >
        <apex:actionFunction name="redirectToOpp" action="{!redirectToOpp}" rerender="Wait"/>
    </apex:form>
    
    <script>
    
    var Opp = "{!ScopeOpportunityId}";
        
    //Fetch the selected ScopeIt Project records from the related list.
    var records = "{!selected}";
       
    var recordsList = [];
	    
    //If the number of records selected is not 0
    if(records.length>0){
        var recordsIntermediate = records.replace('[','');
        var recordsFinal = recordsIntermediate.replace(']','');
        recordsList = recordsFinal.split(',');
        //alert(recordsList[0]);
        //alert(recordsList[1]);
        //alert('Recordlist '+recordsList);
        //alert('recordslist length : ' + recordsList.length);
        
        
        
        try{
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            var smessage=sforce.apex.execute("AP87_createTempScope","createTscope",{"scpId":recordsList});
           	alert(smessage[0]);
            redirectToOpp();
            //location.replace("/lightning/r/Opportunity/"+Opp+"/view");
            
        }
        catch(e){
        	alert(e);
        }
        
    }
    else {
        
        alert('Please select at least one ScopeIt Project record by clicking the checkbox next to the project in the Action column.');
        //redirectToOpp();
		location.replace("/lightning/r/Opportunity/"+Opp+"/view");        
        
    }
    
    
    
    </script>
   
    
    
</apex:page>