<apex:page standardController="OpportunityLineItem" extensions="MF2_ProductEditExt" lightningStylesheets="true">
    <apex:includeScript value="{!URLFOR($Resource.JQuery331)}"/>
    <apex:includeLightning />
    <div id="MF2_prodSearchContainer" />
    <script>
    //alert("{!$Api.Session_ID}");
    //var oliId = "{!$CurrentPage.parameters.id}";
    var openedfromVF = true;
    //alert("{!oliId}");
    $Lightning.use("c:MF2_ProductEditApp", function() {
        $Lightning.createComponent("c:MF2_ProductEdit",
                                   { "oliId" : "{!oliId}",
                                    "openedfromVF" : openedfromVF},
                                    "MF2_prodSearchContainer",
                                   function(cmp) {
                                       console.log('Component created, do something cool here');
                                       }
                                   );
    });
    
    
    
    </script>
    <style>
      background-color: transparent; 
        
   </style>
</apex:page>