<!--
 - Created by emaleesoddy on 4/12/17.
 -->

<apex:page id="mp_twitter_integration" showHeader="false" sidebar="false">
    <a class="twitter-timeline" href="https://twitter.com/mercer">Tweets by mercer</a> <script async="script" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</apex:page>