<apex:page standardController="Opportunity" extensions="EditOpportunity">
<apex:form >
<apex:pageBlock title="{!Opportunity.Name}">
    <apex:pagemessages />
<!-- Opportunity Overview Section -->
 <apex:pageblockSection columns="2" title="Opportunity Overview" collapsible="True">
  <!--
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Opportunity Name" />
   <apex:outputField value="{!Opportunity.Name}"/>
   </apex:pageBlockSectionItem>
   
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Step" />
   <apex:outputField value="{!Opportunity.Step__c}"/>
   </apex:pageBlockSectionItem>
   -->
   
   <apex:pageblockSectionItem rendered="{!Opportunity.StageName != 'Closed / Won'}" HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Name_Local__c.inlineHelpText}">
   <apex:outputLabel value="Opportunity Name (Local)"/> 
   <apex:outputfield value="{!Opportunity.Opportunity_Name_Local__c}" />                                             
   </apex:pageBlockSectionItem>

   <apex:pageblockSectionItem rendered="{!Opportunity.StageName == 'Closed / Won'}" HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Name_Local__c.inlineHelpText}">
   <apex:outputLabel value="Opportunity Name (Local)"/> 
   <apex:outputLabel value="{!Opportunity.Opportunity_Name_Local__c}"/>                                             
   </apex:pageBlockSectionItem>
  
  <!--    
   <apex:pageBlockSectionItem >
   <apex:outputLabel value="Stage"/> 
   <apex:outputfield value="{!Opportunity.StageName}" />                       
   </apex:pageBlockSectionItem>
   
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Opportunity Type" />
   <apex:outputField value="{!Opportunity.Type}"/>
   </apex:pageBlockSectionItem>
   
   
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Close Date" />
   <apex:outputField value="{!Opportunity.CloseDate}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Account Name" />
   <apex:outputField value="{!Opportunity.AccountID}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Description" />
   <apex:outputField value="{!Opportunity.Description}"/>
   </apex:pageBlockSectionItem>
   -->
   
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.CurrencyIsoCode.inlineHelpText}">
   <apex:outputlabel value="Opportunity Currency" />
   <apex:outputField value="{!Opportunity.CurrencyIsoCode}"/>
   </apex:pageBlockSectionItem>
  <!--   
     <apex:pageBlockSectionItem >
   <apex:outputlabel value="Opportunity Office" />
   <apex:outputField value="{!Opportunity.Opportunity_Office__c}"/>
   </apex:pageBlockSectionItem>
       
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Final Office" />
   <apex:outputField value="{!Opportunity.Final_Office__c}"/>
   </apex:pageBlockSectionItem>
  
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Next Action" />
   <apex:outputField value="{!Opportunity.Next_Action__c}"/>
   </apex:pageBlockSectionItem>
   -->

<!--
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Opportunity Office" />
   <apex:outputField value="{!Opportunity.Opportunity_Office__c}"/>
   </apex:pageBlockSectionItem>

   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Growth Plan ID" />
   <apex:outputField value="{!Opportunity.Growth_Plan_ID__c}"/>
   </apex:pageBlockSectionItem>  

 -->  
   <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton"/> 
   </apex:pageblockSection>

   <!-- Opportunity Details Section -->
    
   <apex:pageBlockSection columns="2" title="Opportunity Details" collapsible="True" >  
 <!--  <apex:pageBlockSectionItem >
   <apex:outputlabel value="Opportunity Office" />
   <apex:outputField value="{!Opportunity.Opportunity_Office__c}"/>
   </apex:pageBlockSectionItem>    
   -->
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.IsPrivate.inlineHelpText}">
   <apex:outputlabel value="Private" />
   <apex:outputField value="{!Opportunity.IsPrivate}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Sub_Market__c.inlineHelpText}">
   <apex:outputlabel value="Opportunity Zone*" />
   <apex:outputField value="{!Opportunity.Opportunity_Sub_Market__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Bundled_Integrated_Offering__c.inlineHelpText}">
   <apex:outputlabel value="Bundled/Integrated Offering" />
   <apex:outputField value="{!Opportunity.Bundled_Integrated_Offering__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Market__c.inlineHelpText}">
   <apex:outputlabel value="Opportunity Zone" />
   <apex:outputField value="{!Opportunity.Opportunity_Market__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.CampaignId.inlineHelpText}">
   <apex:outputlabel value="Primary Campaign Source" />
   <apex:outputField value="{!Opportunity.CampaignId}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Sub_Region__c.inlineHelpText}">
   <apex:outputlabel value="Opportunity Sub-Region" />
   <apex:outputField value="{!Opportunity.Opportunity_Sub_Region__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Sales_Lead_Source__c.inlineHelpText}">
   <apex:outputlabel value="Sales Lead Source" />
   <apex:outputField value="{!Opportunity.Sales_Lead_Source__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Opportunity_Region__c.inlineHelpText}">
   <apex:outputlabel value="Opportunity Region" />
   <apex:outputField value="{!Opportunity.Opportunity_Region__c}"/>
   </apex:pageBlockSectionItem>
   
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.LeadSource.inlineHelpText}">
   <apex:outputlabel value="Lead Source" />
   <apex:outputField value="{!Opportunity.LeadSource}"/>
   </apex:pageBlockSectionItem>
   
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Managed_Office__c.inlineHelpText}">
   <apex:outputlabel value="Managed Office" />
   <apex:outputField value="{!Opportunity.Managed_Office__c}"/>
   </apex:pageBlockSectionItem>

   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Related_Opportunity__c.inlineHelpText}">
   <apex:outputlabel value="Related Opportunity" />
   <apex:outputField value="{!Opportunity.Related_Opportunity__c}"/>
   </apex:pageBlockSectionItem>
       
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Delivery_Geography__c.inlineHelpText}">
   <apex:outputlabel value="Delivery Geography" />
   <apex:outputField value="{!Opportunity.Delivery_Geography__c}"/>
   </apex:pageBlockSectionItem>
   
  <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Growth_Plan_ID__c.inlineHelpText}">
   <apex:outputlabel value="Growth Plan ID" />
   <apex:outputField value="{!Opportunity.Growth_Plan_ID__c}"/>
   </apex:pageBlockSectionItem>

   <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection>
   
   <!-- Global Contract Details Section -->
   <!--

       
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Buyer" />
   <apex:outputField value="{!Opportunity.Buyer__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSection columns="2" title="Global Contract Details" collapsible="True">
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Global Contract" />
   <apex:outputField value="{!Opportunity.Global_Contract__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Global Client Strategy" />
   <apex:outputField value="{!Opportunity.Global_Client_Strategy__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Global Rate Card" />
   <apex:outputField value="{!Opportunity.Global_Rate_Card__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Global Client Governance" />
   <apex:outputField value="{!Opportunity.Global_Client_Governance__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Global Special Terms"/>
   <apex:outputField value="{!Opportunity.Global_Special_Terms__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem >
   <apex:outputlabel value="Other Global Agreements" />
   <apex:outputField value="{!Opportunity.Other_Global_Agreement__c}"/>
   </apex:pageBlockSectionItem>
      <apex:inlineEditSupport event="ondblclick" showOnEdit="savebutton,cancelbutton" hideOnEdit="editbutton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection>
   -->
        
   <!-- MH Section -->
   <apex:pageBlockSection columns="2" title="Miller Heiman" collapsible="True">
   
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.mh_Specify_Competitors__c.inlineHelpText}">
   <apex:outputlabel value="Specify Competitors" />
   <apex:outputField value="{!Opportunity.mh_Specify_Competitors__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.mh_Adequacy_of_Current_Position__c.inlineHelpText}">
   <apex:outputlabel value="Adequacy of Current Position" />
   <apex:outputField value="{!Opportunity.mh_Adequacy_of_Current_Position__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.mh_Managers_Notes__c.inlineHelpText}">
   <apex:outputlabel value="Manager's Notes" />
   <apex:outputField value="{!Opportunity.mh_Managers_Notes__c}"/>
   </apex:pageBlockSectionItem>   
   <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection>  
  
     <!-- Sibling Company Referrals To Mercer Section -->
   <apex:pageBlockSection columns="2" title="Sibling Company Referrals To Mercer" collapsible="True">
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Sibling_Company__c.inlineHelpText}">
   <apex:outputlabel value="Sibling Company" />
   <apex:outputField value="{!Opportunity.Sibling_Company__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Business_LOB__c.inlineHelpText}">
   <apex:outputlabel value="Referral Business/LOB" />
   <apex:outputField value="{!Opportunity.Business_LOB__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Sibling_Contact_Name__c.inlineHelpText}">
   <apex:outputlabel value="Sibling Contact Name" />
   <apex:outputField value="{!Opportunity.Sibling_Contact_Name__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Potential_Revenue__c.inlineHelpText}">
   <apex:outputlabel value="Potential Referral Revenue" />
   <apex:outputField value="{!Opportunity.Potential_Revenue__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Sibling_Contact_Office__c.inlineHelpText}">
   <apex:outputlabel value="Sibling Contact Office"/>
   <apex:outputField value="{!Opportunity.Sibling_Contact_Office__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Cross_Sell_ID__c.inlineHelpText}">
   <apex:outputlabel value="Cross Sell ID" />
   <apex:outputField value="{!Opportunity.Cross_Sell_ID__c}"/>
   </apex:pageBlockSectionItem>
      <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection>

   <!-- Cross LOB Opportunity Section -->
   <apex:pageBlockSection columns="2" title="Cross LOB Opportunity" collapsible="True">
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Referrer_Name__c.inlineHelpText}">
   <apex:outputlabel value="Referrer Name" />
   <apex:outputField value="{!Opportunity.Referrer_Name__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Referral_to_LOB__c.inlineHelpText}">
   <apex:outputlabel value="Referral to LOB" />
   <apex:outputField value="{!Opportunity.Referral_to_LOB__c}"/>
   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Referrer_LOB__c.inlineHelpText}">
   <apex:outputlabel value="Referrer LOB" />
   <apex:outputField value="{!Opportunity.Referrer_LOB__c}"/>
   </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >   </apex:pageBlockSectionItem>
   <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Referrer_Office__c.inlineHelpText}">
   <apex:outputlabel value="Referrer Office" />
   <apex:outputField value="{!Opportunity.Referrer_Office__c}" />
   </apex:pageBlockSectionItem>   
   <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection>  
   
   <!--Price and Profitablity-->
   
   <apex:pageBlockSection columns="2" title="Price and Profitability Details" collapsible="True">    
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Total_Scopable_Products_Revenue__c.inlineHelpText}">
           <apex:outputlabel value="Sales Price (ScopeIt Products)" />
           <apex:outputField value="{!Opportunity.Total_Scopable_Products_Revenue__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Profit_Loss__c.inlineHelpText}">
           <apex:outputlabel value="Profit (Loss)" />
           <apex:outputField value="{!Opportunity.Profit_Loss__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Planned_Fee_Adj__c.inlineHelpText}">
           <apex:outputlabel value="Planned Fee Adj" />
           <apex:outputField value="{!Opportunity.Planned_Fee_Adj__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Calc_Margin__c.inlineHelpText}">
           <apex:outputlabel value="Margin" />
           <apex:outputField value="{!Opportunity.Calc_Margin__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.Cost2__c.inlineHelpText}">
           <apex:outputlabel value="Cost (Billable and Non-Billable)" />
           <apex:outputField value="{!Opportunity.Cost2__c}"/>       
       </apex:pageBlockSectionItem>
   </apex:pageBlockSection>

    
    <!-- Mercer Digital -->
   
   <apex:pageBlockSection columns="2" title="Mercer Digital" collapsible="true">
     <apex:outputField value="{!Opportunity.WD_Market_Segment__c}"/>
     <apex:outputField value="{!Opportunity.Workday_Region__c}"/>
     <apex:outputField value="{!Opportunity.ServiceNow_Market_Segment__c}"/>
     <apex:outputField value="{!Opportunity.ServiceNow_Region__c}"/>
     <apex:outputField value="{!Opportunity.ServiceNow_Region_2__c}"/>
  
   <apex:inlineEditSupport event="ondblclick" showOnEdit="saveButton,saveretButton,cancelButton" 
                hideOnEdit="editbutton,backButton" disabled="{!Opportunity.StageName == 'Closed / Won'}"/> 
   </apex:pageBlockSection> 
   
   <!-- Mercer Digital Ends -->
   
   
     <!--Marketing Code Promotion Details-->
    
    <apex:pageBlockSection columns="2" title="Marketing Code Promotion Details" collapsible="True">    
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.GOC_SUBMIT_DATE__c.inlineHelpText}">
           <apex:outputlabel value="Submit Date" />
           <apex:outputField value="{!Opportunity.GOC_SUBMIT_DATE__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.GOC_SUBMIT_STATUS__c.inlineHelpText}">
           <apex:outputlabel value="Status" />
           <apex:outputField value="{!Opportunity.GOC_SUBMIT_STATUS__c}"/>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem HelpText="{!$ObjectType.Opportunity.fields.GOC_MESSAGE__c.inlineHelpText}">
           <apex:outputlabel value="Message" />
           <apex:outputField value="{!Opportunity.GOC_MESSAGE__c}"/>       
       </apex:pageBlockSectionItem>

   </apex:pageBlockSection>
   
    
   <apex:pageBlockButtons >
   
   <apex:commandButton action="{!docancel}" value="Return" id="backButton" />
       <apex:outputPanel rendered="{!Opportunity.recordType.Name != 'Opportunity Locked'}">
           <apex:commandButton action="{!save}" id="saveButton" value="Save" style="display:none"/>
           <apex:commandButton action="{!saveAndReturn}" id="saveretButton" value="Save & Return" style="display:none"/>
           
            <apex:commandButton action="{!edit}" id="editbutton" value="Edit" />
            
            <apex:commandButton action="{!cancel}" value="Cancel" id="cancelButton" style="display:none"/>
        </apex:outputPanel>
   </apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>  
</apex:page>