/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS.topicsIfollow {
  padding: 40px;
  border: 1px solid transparent!important;
  border-left: 1px solid #d0d0d0!important;
}
.THIS.topicsIfollow .slds-button {
  padding: .5rem 0;
  color: #404040;
}
.THIS.topicsIfollow .slds-button:focus,
.THIS.topicsIfollow .slds-button:active,
.THIS.topicsIfollow .slds-button:hover {
  text-decoration: none;
  border: none;
}
.THIS .topicsWrapper {
  display: block;
}