/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS.card .card__content.card__content--group {
  border-color: #999;
}
.THIS.card .card__content.card__content--group .card__content__image {
  overflow: hidden;
  height: 140px;
}
.THIS.card .card__content.card__content--group .card__content__image > span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(6px);
}
.THIS.card .card__content.card__content--group .card__content__body {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  margin-top: -88px;
  justify-content: center;
  align-items: center;
}
.THIS.card .card__content.card__content--group .card__content__body .groupLogo {
  display: block;
}
.THIS.card .card__content.card__content--group .card__content__body .groupLogo:focus {
  outline: none;
}
.THIS.card .card__content.card__content--group .card__content__body .groupLogo > img {
  display: block;
  width: 125px;
  height: 130px;
  margin: 0 0 token(spacingSmall) 0;
  border: 2px solid #fff;
  border-radius: 10px;
}
.THIS.card .card__content.card__content--group .card__content__body > p {
  text-align: center;
}
.THIS.card .card__content.card__content--group .card__content__body .groupInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: token(spacingMedium) 0 0;
  flex: 1;
  align-content: flex-end;
  justify-content: flex-end;
}
.THIS.card .card__content.card__content--group .card__content__body .groupInfo > div {
  font-size: .875rem;
}
.THIS.card .card__content.card__content--group .card__content__body .groupInfo .members {
  padding-right: 0;
}
.THIS.card .card__content.card__content--group .card__content__body .groupInfo .members > img {
  height: 15px;
  margin-right: 5px;
  margin-bottom: 3px;
}