/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .icon {
  margin-right: 10px;
}
.THIS h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.THIS h3 {
  margin-bottom: 10px;
  font-size: .875rem;
}