/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .btnWrapper {
  margin: 1rem auto;
  text-align: center;
}
.THIS .btnWrapper .slds-button {
  font-size: .875rem;
  font-weight: 700;
  margin: 0 auto;
  padding: .35rem 4.25rem;
  transition: all .25s;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 22px;
}
.THIS .textLink a {
  font-size: .75rem;
  font-weight: 700;
  transition: all .25s;
  letter-spacing: .2px;
  text-transform: uppercase;
}