.THIS .slds-p-around_small{
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}
.THIS .slds-p-around--medium{
    padding: 0px;

}
.THIS .slds-box{
    padding-top: 1px;   
    padding-bottom: 1px;
}
.THIS .slds-form-element{
    padding: calc(0.125rem);
    width : 69.25%;
}
.THIS .slds-form-element__static{
    display: contents;
}
.THIS .slds-size_1-of-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}