/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .mp-footer-upper {
  padding: 30px 0;
  background: #fff;
}
.THIS .mp-footer-upper ul {
  margin: 0;
  padding: 0;
}
.THIS .mp-footer-upper li {
  font-size: .9rem;
  font-weight: 600;
  line-height: .8rem;
  display: inline-block;
  border-right: 1px solid #016d9e;
}
.THIS .mp-footer-upper li a {
  display: inline-block;
  margin: 0 7px;
  color: #016d9e;
}
.THIS .mp-footer-upper li:last-child {
  border-right: 0;
}
.THIS .mp-footer-lower {
  font-size: .8rem;
  font-weight: 600;
  padding: 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9b9b9b;
}