/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .slds-text-heading--medium {
    font-weight: 300;
    font-size: 22px!important;
    line-height: 1.25;
}
.THIS .customButtonCss {
    width: 100%;
    margin-top: 20px;
}
.THIS .slds-size--1-of-2 {
    width: 49%!important;
}
.THIS .toggleClass {
    display: none;
}
.THIS .toggleClass1 {
    display: block;
}
.THIS .clearAlign {
    float: right!important;
}
.THIS .dateInputStdate {
    position: inherit!important;
}
.THIS .dateInputEnddate {
    position: inherit!important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .THIS .select.uiDatePicker--default, .THIS .uiDatePicker--default .select {
        padding-right: 0 !important;
    }
}