/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
.THIS .peak-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.THIS .peak-container-padded {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.THIS.mp_lead-banner .mp_tiles {
  background-color: #fff;
}