/**
 * mercer_premier - Generates the assets used for Mercer Premier
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .user-tile img.profile-pic {
  max-width: 60%;
  border-radius: 50%;
}
.THIS .user-tile hr {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 30%;
}
.THIS .user-tile h1 {
  font-size: 20px;
}
.THIS .user-tile h3 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: none;
}
.THIS.Banner .user-tile {
  border: 1px solid token(colorBorder);
}
.THIS.Banner .user-tile .img {
  position: relative;
  overflow: hidden;
}
.THIS.Banner .user-tile .banner-bg {
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  overflow: hidden;
  height: 50%;
}
.THIS.Banner .user-tile .banner-bg .banner-bg-inner {
  width: 125%;
  height: 125%;
  background-position: bottom left;
  background-size: cover;
  filter: blur(10px);
}
.THIS.Banner .user-tile img.profile-pic {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 40%;
  border: 4px solid token(colorBorder);
  border-radius: 50%;
  background-position-y: bottom;
}
.THIS.Banner .user-tile .text {
  padding: token(spacingLarge);
}